{% extends "base.html" %}

{% block body_extras %}
class="sales-page"
{% endblock %}

{% block morehead %}
{% endblock %}

{% block outer_content %}


<div class="container" style="height: 600px;">
    <div class="row rowreset">
        <div id="thelogo">
            <img src="{{ STATIC_URL }}/images/logo-w.png">
        </div>
    </div>
    <div class="row rowreset " style="margin-top: 6%;">
        
            <div class="span6" style="text-align: left;">
                  <div class="header lightfont" style="font-size: 2.5em; line-height: 1.4; color: white; margin-bottom: 10px;">
                      We're all about helping you and your coaching shine.
                  </div>
                  <p class="info-text lightfont" style="margin-bottom: 20px; font-size: 1.25em; line-height: 1.3; color: white;">
                    Our philosophy is simple: we make things easy for you and awesome for your clients. Blitz helps you save tons of time managing clients, get all your stuff in one place, and deliver a premium, branded experience around your coaching.
                  </p>
                  <p style="margin-top: 40px; opacity: 0.5;">
                    <img class="downarrow" src="/static/images/downarrow.png">
                  </p>
            </div>
            <div class="span5" style="text-align: left; margin-left: 30px; margin-top: 30px;">
                
                    <div class="" style="text-align: center; background-color: #7ab2ea; margin: 0 auto; height: 175px; width: 175px; border-radius: 50px;" onclick="$('#myModal').modal('show'); var player = $('iframe'); var url = window.location.protocol + player.attr('src').split('?')[0]; player[0].contentWindow.postMessage({ method: 'play'}, url) ">

                        <div style="height: 35px;">
                        </div>
                        <div class="arrow-right">
                        </div>
                        <p style="top: 50%; color: white; margin-top: 20px;">
                            Watch video
                        </p>
                    </div>
                </a>
            </div>

    </div>
</div>



<div class="full-width" style="height: ; background-color: white; text-align: center;">
    <div class="container">
        <div class="row rowreset ">
            <div class="span8 offset2 leftadjust" style="margin-top: 60px;">
                  <div class="header boldfont" style="font-size: 2em; line-height: 1.4; margin-bottom: 10px; font-weight: bold; text-align: center;">
                      Managing dozens—or hundreds—of clients effortlessly, in minutes a week.
                  </div>
                  <p class="info-text lightfont" style="margin-bottom: 40px; font-size: 1.1em; line-height: 1.3; text-align: center;">
                    All the information you need about your clients, in one simple feed. Check out who’s logged a workout, who’s been keeping up with their diets, and give them feedback right on the spot.
                  </p>
            </div>
            <div class="span10 offset1 leftadjust2 about0" style="">
                &nbsp;
            </div>
        </div>
    </div>
</div>

<div class="full-width" style="height: ; background-image: url('/static/images/background.png'); background-color: #fcfcfc; text-align: center; border: 1px solid rgba(0,0,0,0.05); color: white;">
    <div class="container">
        <div class="row rowreset ">
            <div class="span8 offset2 leftadjust" style="margin-top: 60px;">
                  <div class="header boldfont" style="font-size: 2em; line-height: 1.4; margin-bottom: 10px; font-weight: bold; text-align: center;">
                      An awesome, premium experience for clients with your branding front-and-center.
                  </div>
                  <p class="info-text lightfont" style="margin-bottom: 40px; font-size: 1.1em; line-height: 1.3; text-align: center;">
                    Whether coaching individuals or running group programs, you can build your brand and deliver a more valuable product.
                  </p>
            </div>
            <div class="span10 offset1 leftadjust2 about1" style="">
                &nbsp;
            </div>
        </div>
    </div>
</div>

<div class="full-width" style="height: ; background-color: white; text-align: center;">
    <div class="container">
        <div class="row rowreset ">
            <div class="span8 offset2 leftadjust" style="margin-top: 60px;">
                  <div class="header boldfont" style="font-size: 2em; line-height: 1.4; margin-bottom: 10px; font-weight: bold; text-align: center;">
                      Say goodbye to spreadsheets and tedious data entry.
                  </div>
                  <p class="info-text lightfont" style="margin-bottom: 40px; font-size: 1.1em; line-height: 1.3; text-align: center;">
                    Upload any type of file you want, and we figure out the rest. Want to change something? Just send a quick message and we'll change it ASAP. We're here to spot you and supercharge your efficiency.
                  </p>
            </div>
            <div class="span10 offset1 leftadjust2 about2" style="">
                &nbsp;
            </div>
        </div>
    </div>
</div>

<div class="full-width" style="height: ; background-image: url(''); background-color: #f3f3f3; text-align: center; border: 1px solid rgba(0,0,0,0.05); color: ;">
    <div class="container">
        <div class="row rowreset ">
            <div class="span8 offset2 leftadjust" style="margin-top: 60px;">
                  <div class="header boldfont" style="font-size: 2em; line-height: 1.4; margin-bottom: 10px; font-weight: bold; text-align: center;">
                      Market your coaching with easy-to-build sales pages. 
                  </div>
                  <p class="info-text lightfont" style="margin-bottom: 40px; font-size: 1.1em; line-height: 1.3; text-align: center;">
                    We make it easy to pitch your individual and group programs by providing templates you can use that are proven to convert clients and drive sales.
                  </p>
            </div>
            <div class="span10 offset1 leftadjust2 about3" style="">
                &nbsp;
            </div>
        </div>
    </div>
</div>

<div class="full-width" style="height: ; background-color: white; text-align: center;">
    <div class="container">
        <div class="row rowreset">
            <div class="span2 offset5 leftadjust3">
                <div class="percentcircle" style="">
                    <div class="aboutpercent">
                        15%
                    </div>
                </div>
            </div>
            <div class="span8 offset2 leftadjust" style="margin-top: 30px;">
                  <div class="header boldfont" style="font-size: 2em; line-height: 1.4; margin-bottom: 10px; font-weight: bold; text-align: center;">
                      No-BS pricing: We only get paid when you do.
                  </div>
                  <p class="info-text lightfont" style="margin-bottom: 60px; font-size: 1.1em; line-height: 1.3; text-align: center;">
                    Blitz assesses a 15% platform fee (e.g. if you charge a client $100 a month, Blitz would take $15), which includes credit card processing and everything. If you charge super premium prices or train tons of clients, let us know and we'll work something out. 
                  </p>
            </div>
        </div>
    </div>
</div>

<div class="sales-page-section-4">
    <div class="container" style="padding: 20px;">
      <div class="row">
        <div class="span8 offset2">
            <div class="boldfont" style="font-size: 2.25em;">
                Bottom line: More efficient coaching, better client experience, and bigger revenues.
            </div>
            <div class="desc" style="font-size: 1.5em;">
                Don't keep messing around with spreadsheets, email, and random fitness apps. Your clients and your brand deserve better. Let us help you shine.
            </div>
            <a href="register-trainer">
                <button class="obtn full-width">
                  Try Blitz for Free
                </button>
            </a>
        </div>
    </div>
    </div>
</div>

<div class="sales-footer">
  ©Blitz MMXV
</div>

<!--container div -->
</div>

<div class="modal-full fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog-full">
   <div class="modal-content-full">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" onclick="var player = $('iframe'); var url = window.location.protocol + player.attr('src').split('?')[0]; player[0].contentWindow.postMessage({ method: 'pause'}, url) ">
               <span aria-hidden="true">×</span>
            </button>
         </div>
        <div class="modal-body">
           <iframe id="video" src="//player.vimeo.com/video/113844112" width="1000" height="562" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
    </div>
</div>


{% endblock %}
