{% extends "formpage.html" %}

{% block formpage_content %}

<style type="text/css">
    .blitz-login {margin-top: 30%;}
</style>

<div class="row">
    <div class="span4 offset4">

        <div class="formpage-block">

            <div class="header">About Blitz.us</div>
            <p class="info-text">This is some info... </p>
            <div class="content">
                 This is some content... {% if option %} {{ option }} {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}
