{% extends "base.html" %}

{% block body_extras %}
class="sales-page"
{% endblock %}

{% block morehead %}

{% endblock %}

{% block outer_content %}



<div class="container topcut">
    <div class="row rowreset">
        <div id="thelogo" class="shrink">
            <img src="{{ STATIC_URL }}/images/logo-w.png">
        </div>
    </div>
    <div class="row rowreset " style="margin-top: 6%;">
        
            <div class="col-md-6" style="text-align: left;">
                  <div class="header lightfont" style="font-size: 2.4em; line-height: 1.4; color: white; margin-bottom: 10px;">
                       Make more money training clients online with Blitz.
                  </div>
                  <p class="info-text lightfont" style="margin-bottom: 20px; font-size: 1.25em; line-height: 1.3; color: white;">
                    Blitz helps fitness coaches manage online coaching more efficiently and deliver a better experience for their clients. Save tons of time, get away from the email/spreadsheet mess, and watch your revenues pile up. 
                  </p>
                  <a href="register-trainer">
                      <button class="obtn full-width">
                        Get started for free <span class="mobile-hide">in less than 2 minutes</span>
                      </button>
                  </a>
                  <p style="margin-top: 40px; opacity: 0.5; text-align: center; display: none;">
                    <img class="downarrow" src="/static/images/downarrow.png">
                  </p>
            </div>
            <div class="col-md-5" style="">
                
                    <div class="blueplay" style="" onclick="$('#myModal').modal('show'); var player = $('iframe'); var url = window.location.protocol + player.attr('src').split('?')[0]; player[0].contentWindow.postMessage({ method: 'play'}, url) ">

                        <div class="watchspacer" style="">
                        </div>
                        <div class="arrow-right">
                        </div>
                        <p class="watch" style="">
                            Watch video
                        </p>
                    </div>
                </a>
            </div>

    </div>
</div>

<script type="text/javascript">
    $(window).load(function(){
        var video = '{{ video }}';
        if (video == 'True') {
            $('#myModal').modal('show'); 
            var player = $('iframe'); 
            var url = window.location.protocol + player.attr('src').split('?')[0]; 
            player[0].contentWindow.postMessage({ method: 'play'}, url)
        }
    });
</script>


<div class="full-width" style="height: ; background-color: white; text-align: center;">
    <div class="container">
        <div class="row rowreset ">
            <div class="col-md-8 col-md-offset-2 leftadjust" style="margin-top: 60px;">
                  <div class="header boldfont" style="font-size: 2em; line-height: 1.4; margin-bottom: 10px; font-weight: bold; text-align: center;">
                      Managing dozens—or hundreds—of clients effortlessly, in just minutes a week.
                  </div>
                  <p class="info-text lightfont" style="margin-bottom: 40px; font-size: 1.1em; line-height: 1.3; text-align: center;">
                    All the information you need about your clients, in one simple feed. Check out who’s logged a workout, who’s been keeping up with their diets, and stop the email/texting/spreadsheet headaches for good.
                  </p>
            </div>
            <div class="col-md-10 col-md-offset-1 leftadjust2 about0" style="">
                &nbsp;
            </div>
        </div>
    </div>
</div>

<div class="full-width" style="height: ; background-image: url('/static/images/background.png'); background-color: #fcfcfc; text-align: center; border: 1px solid rgba(0,0,0,0.05); color: white;">
    <div class="container">
        <div class="row rowreset ">
            <div class="col-md-8 col-md-offset-2 leftadjust" style="margin-top: 60px;">
                  <div class="header boldfont" style="font-size: 2em; line-height: 1.4; margin-bottom: 10px; font-weight: bold; text-align: center;">
                      An awesome, premium experience for clients with your logo and branding front-and-center.
                  </div>
                  <p class="info-text lightfont" style="margin-bottom: 40px; font-size: 1.1em; line-height: 1.3; text-align: center;">
                    Whether coaching individuals or groups, you can build your brand and deliver a more valuable product. Clients log workouts and macros in an app with your logo on it.
                  </p>
            </div>
            <div class="col-md-10 col-md-offset-1 leftadjust2 about1" style="">
                &nbsp;
            </div>
        </div>
    </div>
</div>

<div class="full-width" style="height: ; background-color: white; text-align: center;">
    <div class="container">
        <div class="row rowreset ">
            <div class="col-md-8 col-md-offset-2 leftadjust" style="margin-top: 60px;">
                  <div class="header boldfont" style="font-size: 2em; line-height: 1.4; margin-bottom: 10px; font-weight: bold; text-align: center;">
                      Say goodbye to spreadsheets and tedious data entry. We do it for you.
                  </div>
                  <p class="info-text lightfont" style="margin-bottom: 40px; font-size: 1.1em; line-height: 1.3; text-align: center;">
                    Upload any type of files you want describing your program (e.g. spreadsheet, PDF, etc), and we figure out the rest. No more manually entering entering sets/reps for a 12 week program. We help you supercharge your efficiency.
                  </p>
            </div>
            <div class="col-md-10 col-md-offset-1 leftadjust2 about2" style="">
                &nbsp;
            </div>
        </div>
    </div>
</div>

<div class="full-width" style="height: ; background-image: url(''); background-color: #f3f3f3; text-align: center; border: 1px solid rgba(0,0,0,0.05); color: ;">
    <div class="container">
        <div class="row rowreset ">
            <div class="col-md-8 col-md-offset-2 leftadjust" style="margin-top: 60px;">
                  <div class="header boldfont" style="font-size: 2em; line-height: 1.4; margin-bottom: 10px; font-weight: bold; text-align: center;">
                      Market your coaching with easy-to-build sales pages. 
                  </div>
                  <p class="info-text lightfont" style="margin-bottom: 40px; font-size: 1.1em; line-height: 1.3; text-align: center;">
                    We make it easy to pitch your individual and group programs by providing templates you can use that are proven to convert clients and drive sales. 
                  </p>
            </div>
            <div class="col-md-10 col-md-offset-1 leftadjust2 about3" style="">
                &nbsp;
            </div>
        </div>
    </div>
</div>

<div class="full-width" style="height: ; background-color: white; text-align: center;">
    <div class="container">
        <div class="row rowreset">
            <div class="col-md-2 col-md-offset-5 leftadjust3">
                <div class="percentcircle" style="">
                    <div class="aboutpercent">
                        15%
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 leftadjust" style="margin-top: 30px;">
                  <div class="header boldfont" style="font-size: 2em; line-height: 1.4; margin-bottom: 10px; font-weight: bold; text-align: center;">
                      No-BS pricing: We only get paid when you do.
                  </div>
                  <p class="info-text lightfont" style="margin-bottom: 60px; font-size: 1.1em; line-height: 1.3; text-align: center;">
                    Blitz assesses a 15% platform fee (e.g. if you charge a client $100 a month, Blitz would take $15), which includes credit card processing and everything. If you charge super premium prices or train tons of clients, let us know and we'll work something out. We're good people.
                  </p>
            </div>
        </div>
    </div>
</div>

<div class="sales-page-section-4">
    <div class="container" style="padding: 20px;">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="boldfont" style="font-size: 2.25em;">
                Bottom line: More efficient coaching, better client experience, and bigger revenues.
            </div>
            <div class="desc" style="font-size: 1.5em;">
                Don't keep messing around with spreadsheets, email, and random fitness apps. Your clients and your brand deserve better. Let us help you shine.
            </div>
            <a href="register-trainer">
                <button class="obtn full-width">
                  Try Blitz for Free
                </button>
            </a>
        </div>
    </div>
    </div>
</div>

<div class="sales-footer">
  ©Blitz MMXV
</div>

<!--container div -->
</div>

<div class="modal-full fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog-full">
   <div class="modal-content-full" class="close" data-dismiss="modal" onclick="var player = $('iframe'); var url = window.location.protocol + player.attr('src').split('?')[0]; player[0].contentWindow.postMessage({ method: 'pause'}, url) ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" onclick="var player = $('iframe'); var url = window.location.protocol + player.attr('src').split('?')[0]; player[0].contentWindow.postMessage({ method: 'pause'}, url) ">
               <span aria-hidden="true">× Close</span>
            </button>
         </div>
        <div class="modal-body" style="text-align: center;">
           <iframe id="video" src="//player.vimeo.com/video/113844112" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
    </div>
</div>


{% endblock %}
