{% extends "base.html" %}

{% block outer_content %}
<div class="container">
    <div class="row">
        <div class="span12">
            <table class="table">
                <tr>
                    <th>Client</th>
                    <th>Trainer</th>
                    <th>Email</th>
                </tr>
                {% for client in clients %}
                    <tr>
                        <td>{{ client }}</td>
                        <td>{{ client.get_blitz.trainer }}</td>
                        <td>{{ client.user.email }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock outer_content %}