<!DOCTYPE html>

<head>

    <meta name="google-site-verification" content="N6Hr9dtfqhcP2hADv_PqAboSOhRHBsZmToI3MIFkGlo" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=0" />

    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/bootstrap.min.css' />
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/bootstrap-responsive.min.css' />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}fonts/stylesheet.css' />
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/stylesheets/style.css' />
    <link href="href='{{ STATIC_URL }}css/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/addtohomescreen.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/blitz.ico" >
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/images/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/images/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/static/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/images/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/static/images/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/images/browserconfig.xml">
    <meta name="apple-mobile-web-app-title" content="Blitz" />


      <!--[if IE]>
          <link href="{{ STATIC_URL }}css/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
      <![endif]-->
    
    <script type='text/javascript' src='{{ STATIC_URL }}js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/bootstrap.min.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/sitewide.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/fastclick.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/bootstrap-inputmask.js'></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/retina.js"></script>
    <script type="text/javascript" src='{{ STATIC_URL }}js/addtohomescreen.js'></script>
    <script>
    addToHomescreen();
    </script>


    {% block morehead %}
    {% endblock %}



    <script type="text/javascript">
    // this is the fastclick.js code
        $(document).ready(function() {
            if ($('#footer-container').length) {
                var diff = $(window).height() - $('#footer-container').position().top;
                if (diff > 60) {
                    $('#footer-container').height(diff);
                }
            }
        });


        window.addEventListener('load', function() {
            FastClick.attach(document.body);
        }, false);

    </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56103205-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body {% block body_extras %}{% endblock %}>

    {% block outer_content %}
    
    <div id="header-container">
        <div class="container">
            {% block header_content %}
            <div class="row">
                <div class="span12" id="header">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="container">
                                <a class="brand rotate" href="/" id="logo">
                                    <img src="{{ STATIC_URL }}images/logo.png"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
    <div id="colorstripe"></div>

    <div id="progress-header-container">
        <div class="container">
            {% block progress_header_content %}{% endblock %}
        </div>
    </div>

    {% block content %}
    {% endblock content %}

    <div id="footer-container">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div id="footer-content">
                        <div class="copyright"><a href="/termsofuse" style="color: white;">Terms of Use</a> | <a href="/privacypolicy"  style="color: white;">Privacy Policy</a> | &copy; Blitz.us MMXIV</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

<script type="text/javascript">

function logError(details) {
    data = {
        context: navigator.userAgent,
        details: details,
    }
    data.user = "{{ user }}";
  $.post('/errorlog', data, function(d) {
  });
}

window.onerror = function(message, file, line) {
   logError(file + ':' + line + '\n\n' + message);
};

</script>

</body>

