{% extends "small_block_content.html" %}

{% block morehead %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap-select.css">

  <script>
  $(function() {
    $( "#datepicker1" ).datepicker();
    $( "#datepicker1" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    $( "#datepicker2" ).datepicker();
    $( "#datepicker2" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
  });
  $(function() {
    $( "#tabs" ).tabs({
    activate: function(event,ui) {
       if ( ui.newPanel.selector=="#tabs-1" ) {
            document.getElementById("selected_tab").value = "1"; }
       if ( ui.newPanel.selector=="#tabs-2" ) {
            document.getElementById("selected_tab").value = "2"; }
        }
    });
  });

  </script>
{% endblock %}

{% block small_block_content %}

    <h3>Setup new <b>Group</b> Blitz</h3>
    <form class="form" action="#" method="post">
    {% csrf_token %}

<div id="tabs">
  <ul class="nav nav-tabs" role="tabs">
    <li><a href="#tabs-1">Individual</a></li>
    <li><a href="#tabs-2">Group</a></li>
  </ul>
  <div id="tabs-1">
  <input type="hidden" name="selected_tab" id="selected_tab" value="1">

  <table>
        <tr><td>Program</td>
        <td><select name="program1" id="program1" class="selectpicker show-tick">
        {% for program in programs %}
        <option value="{{ program }}">{{ program }}</option>
        {% endfor %}
        </select>
    <script src="{{ STATIC_URL }}js/bootstrap-select.js"></script>
    <script type="text/javascript">
          $(document).ready(function(e) {
              $('.selectpicker').selectpicker({ style: 'btn-info', size: "auto", width: "160px" });
          });
    </script>
        </td></tr>
        <tr><td>Start</td>
        <td><input type="text" class="datepicker" id="datepicker1" name="start1" placeholder="Start Date" style="width: 140px;"></td></tr>
        <tr><td>Charge</td>
        <td><input type="text" name="charge1" placeholder="$" style="width: 140px;"></td></tr>

        <tr>
        <tr><td>Socialize </td>
        <td><select name="social_choices1" id="social_choices1" class="selectpicker show-tick">
            <option value="JTO">with nobody</option>
            <option value="OIC">with other individuals</option>
            <option value="ALL" selected="selected">with everyone</option>
        </select></td></tr>
  </table>
  </div>
  <div id="tabs-2">
  <table>
        <tr><td>Program</td>
        <td><select name="program2" id="program2" class="selectpicker show-tick">
        {% for program in programs %}
        <option value="{{ program }}">{{ program }}</option>
        {% endfor %}
        </select></td></tr></tr>
        <tr><td>Start</td>
        <td><input type="text" class="datepicker" id="datepicker2" name="start2" placeholder="Start Date" style="width: 140px;"></td></tr>
        <tr><td>Charge</td>
        <td><input type="text" name="charge2" placeholder="$" style="width: 140px;"></td></tr>
        <tr>
        <tr><td>Socialize</td>
        <td><select name="social_choices2" id="social_choices2" class="selectpicker show-tick>
            <option value="ALL">with everyone</option>
            <option value="OIG" selected="selected">with your group</option>
        </select></td></tr>
  </table>
  </div>
  {% if errors %}
  <div class="alert alert-warning" role="alert">
     {% for e in errors %}
         <li><small>{{ e }}</small></li>
     {% endfor %}
  </div>
  {% endif %}
  <button class="obtn btn btn-warning">Create Blitz</button>

</div>
</div>
</div>

{% endblock small_block_content %}
