{% extends "formpage.html" %}

{% block moretitle %}
{% if blitz %}
    {{ blitz.title }} from {{ blitz.trainer.name }}
{% endif %}
{% endblock %}

{% block moremeta %}
{% if blitz %}
    {{ blitz.title }} from {{ blitz.trainer.name }}
{% endif %}
{% endblock %}

{% block formpage_content %}


<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="formpage-block">
            <div class="header">{% if existing_user %}Update CC info{% else %}Sign up{% endif %}</div>
            <p class="info-text">
               {% if existing_user %}
               Please update credit-card information.
               {% else %}
               You're seconds away from taking your fitness to the next level with {{ trainer.short_name }}.
               {% endif %}
            </p>
            <div class="content">
                <form action="#" method="POST" id="blitz-signup-form" class="formpage-block-form">

                    <div class="form-error error-user-name"></div>
                    <div class="input-container"{% if existing_user %}style="display: none;" {% endif %}>
                        <input type="text"
                               autocomplete="off"
                               placeholder="Name (first and last)"
                               class="user-name"
                               {% if existing_user %}value="{{ existing_user.name }}"{% else %}
                               value="{{ invitation.name }}"{% endif %}>
                    </div>

                    <div class="form-error error-user-email"></div>
                    <div class="input-container"{% if existing_user %}style="display: none;" {% endif %}>
                        <input type="text"
                               placeholder="Email"
                               class="user-email"
                               {% if existing_user %}value="placeholder@example.com"{% else %}
                               value="{{ invitation.email }}"{% endif %}>
                    </div>

                    <div class="form-error error-user-password"></div>
                    <div class="input-container"{% if existing_user %}style="display: none;" {% endif %}>
                        <input type="password"
                               autocomplete="off"
                               placeholder="Create password"
                               class="user-password"
                               {% if existing_user %}value="placeholder"{% endif %}>
                    </div>

                    <div class="form-sep"></div>

                    <div class="form-error error-card"></div>
                    <div class="form-error error-card_number"></div>

                        <div class="input-container">
                            <input type="number"
                                   autocomplete="off"
                                   placeholder="Credit card number (no spaces)"
                                   class="card-number stripe-sensitive required"
                                   >
                        </div>

                    <div class="input-row">

                        <div class="input-container-3"><div class="input-container"><div class="" style="margin: 0 6px;">
                        <div class="form-error hidden error-expiration_month"></div>
                        <input type="number"
                               autocomplete="off"
                               placeholder="Month (MM)"
                               class="card-expiry-month stripe-sensitive required"
                               >
                        </div></div></div>

                        <div class="input-container-3"><div class="input-container"><div class="" style="margin: 0 6px;">
                        <div class="form-error hidden error-expiration_year"></div>
                        <input type="number"
                               autocomplete="off"
                               placeholder="Year (YYYY)"
                               class="card-expiry-year stripe-sensitive required"
                               >
                        </div></div></div>

                        <div class="input-container-3"><div class="input-container"><div class="" style="margin: 0 6px;">
                        <input type="number"
                               autocomplete="off"
                               placeholder="Sec. code"
                               class="card-cvc stripe-sensitive required"
                               >
                        </div></div></div>

                    </div>

                    <span class="payment-errors"></span>

                    <div class="submit-container">
                        <a id="blitz-signup-submit" class="obtn obtn-comment">{% if existing_user %}Complete Update →{% else %}Complete Signup →{% endif %}</a>
                        <div id="signup-loading" style="display:none; text-align: center; padding: 5px; "><img src="/static/images/squareloader.gif" alt="Loading..."/></div>
                    </div>
                    <div id="sslbadge">
                        <img src="https://www.positivessl.com/images-new/PositiveSSL_tl_trans.png" alt="Positive SSL on a transparent background" title="Positive SSL on a transparent background" border="0" style="display: none;" />
                        <i class="glyphicon glyphicon-lock" style="margin-right: 5px;"></i>
                        Blitz safeguards your privacy by using encrpytion and never storing financial information.<br>
                        By signing up for this service you agree to <a href="/termsofuse" style="color: white;">Terms of Use</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="formpage-block">
            <div class="blitz-signup-info">
                <img class="trainer-headshot img-circle" 
          {% if blitz.sales_page_content.trainer_headshot %}
               src="{{ MEDIA_URL }}{{ blitz.sales_page_content.trainer_headshot }}"
          {% else %}
               src="{{ MEDIA_URL }}{{ blitz.trainer.headshot }}"
          {% endif %}/>

                <div class="blitz-title">{{ blitz }}</div>
                <br />
                <div class="info-block">
                    {% if not blitz.recurring %}
                    <div class="title">Schedule</div>
                    <div class="content">
                        Starts: {{ blitz.begin_date }} <br>
                        {% if blitz.begin_date != blitz.end_date %}
                        Ends: {{ blitz.end_date }} {% endif %}
                    </div>
                    {% endif %}
                </div>
                <br />
                <div class="blitz-cost">
                  <div class="title">Cost {% if blitz.recurring %}/Month{% endif %}</div>
                    <div class="cost">
                    {% if invitation and invitation.price > 0 %}${{ invitation.price }}
                    {% else %}${{ blitz.price }}{% endif %}
                    </div>
                        {% if blitz.price_per_workout > 0 %}
                            <div class="per-week">
                                That's just <span>${{ blitz.price_per_workout|floatformat:0 }}</span> per workout for expert coaching and access to an awesome community.
                            </div>
                        {% endif %}
                 </div>
            </div>


        </div> 
    </div>
</div>

<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript">
Stripe.setPublishableKey('pk_test_GNaBSGoHDthi86RxOdzFPuGN');

$(document).ready(function() {

    var blitz_key = '{{ blitz.pk }}';
    var invitation_key = '{{ invitation.pk }}';
    var $form = $('#blitz-signup-form');
    var existing_user = '{{ existing_user.name }}';

    function addInputNames() {
        $(".card-number").attr("name", "card-number")
        $(".card-cvc").attr("name", "card-cvc")
        $(".card-expiry-year").attr("name", "card-expiry-year")
    }

    function removeInputNames() {
        $(".card-number").removeAttr("name")
        $(".card-cvc").removeAttr("name")
        $(".card-expiry-year").removeAttr("name")
    }

    function disableForm() {
        $form.find('input').attr('disabled', 'disabled');
        $('#signup-loading').show();
        $('#blitz-signup-submit').hide();
    }

    function enableForm() {
        $form.find('input').removeAttr('disabled');
        $('#signup-loading').hide();
        $('#blitz-signup-submit').show();
    }

    function resetErrors() {
        $('.form-error').html("");
        $('.form-error').hide();
    }

    function submit(form) {
        removeInputNames();

        disableForm();

        var accountData = {
            'name': $form.find('.user-name').val(),
            'email': $form.find('.user-email').val(),
            'password': $form.find('.user-password').val(),
        }

        $.post('/blitz/' + blitz_key + '/_/create_account', accountData, function(data) {
            resetErrors();
            if (data.has_error) {
                if (data.errors.name && existing_user=='') {
                    $form.find('.error-user-name').html(data.errors.name[0]);
                    $form.find('.error-user-name').show();
                }
                if (data.errors.email && existing_user=='') {
                    $form.find('.error-user-email').html(data.errors.email[0]);
                    $form.find('.error-user-email').show();
                }
                if (data.errors.password && existing_user=='') {
                    $form.find('.error-user-password').html(data.errors.password[0]);
                    $form.find('.error-user-password').show();
                }
                enableForm();
            } else 
            {
                Stripe.createToken({
                number: $('.card-number').val(),
                cvc: $('.card-cvc').val(),
                exp_month: $('.card-expiry-month').val(), 
                exp_year: $('.card-expiry-year').val()
                }, function(status, response) {
                    if (response.error) {
                        enableForm();
        
                        $(".payment-errors").html(response.error.message);

                        // we add these names back in so we can revalidate properly
                        addInputNames();
                    } else {
                        // token contains id, last4, and card type
                        var token = response['id'];

                        if (invitation_key == '') {   // no invitation
                            $.post('/blitz/' + blitz_key + '/_/payment_hook', {'card_uri': token} , function(data) {
                                if (data.has_error) {
                                    $form.find('.error-card').html(data.error);
                                    $form.find('.error-card').show();
                                    enableForm();
                                } else {
                                    window.location.href = "{{ next_url }}";
                                }
                            });  
                        }
                        else {   // handle invitation, pass pk in url
                            $.post('/blitz/' + blitz_key + '/_/payment_hook?invitation='+invitation_key, {'card_uri': token} , function(data) {
                            if (data.has_error) {
                                $form.find('.error-card').html(data.error);
                                $form.find('.error-card').show();
                                enableForm();
                            } else {
                                window.location.href = "{{ next_url }}";
                            }
                        });
                    }
                }
            });
         }
    });
return false;
}
                
// add custom rules for credit card validating
jQuery.validator.addMethod("cardNumber", Stripe.validateCardNumber, "Please enter a valid card number");
jQuery.validator.addMethod("cardCVC", Stripe.validateCVC, "Please enter a valid security code");
jQuery.validator.addMethod("cardExpiry", function() {
    return Stripe.validateExpiry($(".card-expiry-month").val(), 
        $(".card-expiry-year").val())
    }, "Please enter a valid expiration");

// We use the jQuery validate plugin to validate required params on submit
$("#blitz-signup-form").validate({
    submitHandler: submit,
    rules: {
        "card-cvc" : {
            cardCVC: true,
            required: true
            },
        "card-number" : {
            cardNumber: true,
            required: true
            },
        "card-expiry-year" : "cardExpiry" // we don't validate month separately
            }
     });

     // adding the input field names is the last step, in case an earlier step errors                
     addInputNames();

     $('#blitz-signup-submit').on('click', submit);
});

</script>

{% endblock %}
