{% extends "formpage.html" %}

{% block formpage_content %}
<div class="row">
    <div class="span6 offset3">
        <div class="formpage-block">
            <div class="header">Awesome, your group is good to go!</div>
            <div class="content">
                <image src="/static/images/bigcheckmark.png" style="width: 30%; alignment-baseline: central; margin: 0% 0% 20px 35%;">
                <p style="margin-bottom: 20px;">
                    Now, let's setup a program sales page. This is a link you can put on your blog, Facebook page, or anywhere else to promote the program and get clients to sign up.
                </p>
                <p>
                    Getting your page up and looking awesome only takes a minute or two.
                </p>
                <a href="/salespage" class="obtn obtn-comment">Create a page for this group</a>
                <br><br>
                <a href="/">Do this later</a>

            </div>
        </div>
    </div>
</div>
{% endblock %}
