{% extends "client_content.html" %}

{% load blitz_tags %}
{% load custom_exercise %}

{% block morehead %}
<script>
	$(document).ready(function() {
	    $('#nodetypeDialog').bind('show', function () {
   	        setPrompt ('Nodetype for "' + decodeURI (rootName) + '"');
	        document.getElementById ("woOption" + rootType).selected = true;
	    });
	});
	function setPrompt (s) {
		document.getElementById ("prompt").innerHTML = s;
	}
	function closeDialog () {
		$('#nodetypeDialog').modal('hide');
	}
	function okWebpageDialog (){
		$("#webpageDialog").modal ('hide');
		};
</script>

{% endblock %}

{% block above_content %}

<style type="text/css">
  @media only screen and (min-width : 768px) {
    .rightrow {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .rightrow div[class*='span'] {
      margin-left: 0px !important;
      margin-right: 30px !important;
    }
  }
</style>


    <div class="landscape-header coverphoto2">
        <div class="landscape-header-top" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
        <div class="landscape-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content">
                            <div class="title">Program Overview</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% if not client and trainer.multiple_blitzes %}
<div class="which-blitz">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <span class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Programs <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for blitz in trainer.active_blitzes %}
                                <li><a href="/trainer/go-to-blitz?new_blitz={{ blitz.pk }}">{{ blitz }} / {{ blitz.begin_date|date:"F jS" }}</a></li>
                            {% endfor %}
                        </ul>
                    </span>
                This is the social feed for <span class="strong">{{ trainer.get_blitz }}</span> that began on <span class="strong">{{ trainer.get_blitz.begin_date|date:"F jS" }}</span>.

            </div>
        </div>
    </div>
</div>
{% endif %}

<div id="intro-modal" class="modal hide fade blitz-modal" tabindex="-1">
   {% include "onboarding_content_trainer.html" %}
</div>

{% endblock %}

{% block main %}
{% if client or blitz.workout_plan %}
    <div class="col-md-9">
      <div class="col-md-12">
        <div class="overview-top-content overview-block">
            <div class="content">
                <b>{{ blitz.title }}</b>
                <p>{{ blitz.description|linebreaks }}</p>
                <div class="dates">Start Date: {{ blitz.begin_date }}
                {% if blitz.current_relative_week > 0 %}
                    <small><a href="#{{ blitz.current_relative_week }}">(currently in week: {{ blitz.current_relative_week }})</a></small></div>
                {% endif %}
                {% if blitz.workout_plan %}
                   {% if blitz.recurring %}
                   (recurring)
                   {% else %}
                   <div class="dates">End Date: {{ blitz.end_date }}</div>
                   {% endif %}
                {% endif %}
            </div>
        </div>
      </div>
    </div>
{% endif %}

{% if blitz.workout_plan %}
    {% for week in blitz.workout_plan.weeks %}
        <div class="col-md-12">
          <div class="col-md-12">
            {% if week.week == blitz.current_relative_week %}
                <h2><a name="{{ week.week }}">Current Week {{ week.week }}:</a></h2>
            {% else %}
                <h3>Week {{ week.week }}:</h3>
            {% endif %}
          </div>
        {% for day in week.days %}
            {% if week.days.count > 4 %}
              <div class="col-md-2" style="margin-left: 0px; ">
            {% else %}
              <div class="col-md-3" style="margin-left: 0px; ">
            {% endif %}
                <div class="overview-block workout-day-block">
                    <div class="title"><span title="{{ day.workout.display_name }} {{ day.workout.description }}">{{ day.day_of_week|day_name }}</span></div>
                    <div class="content">
                        <ul>
                            {% for exercise in day.workout.get_exercises %}
                                {% if user.is_trainer %}
                                    <li>{{ exercise.lift }}: {{ exercise.sets_display }}</li>
                                {% else %}
                                    <li>
                                    {% if week.week == blitz.current_relative_week or week.week == 1 and blitz.current_relative_week == 0 %}
<a data-toggle="modal" data-target="#myModal_{{ exercise.lift.slug }}" onclick="document.getElementById('iframe_{{ exercise.lift.slug }}').src='https://www.youtube.com/embed?listType=search&list={{ exercise.lift }}';">
{{ exercise|custom_lift:client }}: </a>{{ exercise|custom_sets_display:client }}

                            <div id="myModal_{{ exercise.lift.slug }}" class="modal hide fade">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="document.getElementById('iframe_{{ exercise.lift.slug }}').src='';"> x </button>
                                <h3 id="myModalLabel_{{ exercise.lift.slug }}"><font color="gray">{{ exercise.lift }}&nbsp;&nbsp;{{ exercise.title }} </font></h3>
                            </div>
                            <div class="modal-body">        
                                <iframe id="iframe_{{ exercise.lift.slug }}" width="520" height="335" src="https://www.youtube.com/embed?listType=search&list={{ exercise.lift }}" frameborder="0" allowfullscreen></iframe>
                            </div>
                                   {% else %}
                                        {{ exercise|custom_lift:client }}:
                                   {% endif %}
                                        {{ exercise|custom_sets_display:client }}</li>
                                {% endif %}
 
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endif %}


<div class="col-md-8">
    {% if client %}
        {% if not blitz.workout_plan %}
           <div class="empty-placeholder">
              <div class="title">Once your trainer completes setting up the program.</div>
              <div class="subtitle">You'll be able to see details here.</div>
           </div>
        {% endif %}
    {% else %}
        <br>
        <div class="col-md-10">
        <div class="alert alert-info">
        <b>Sales page link:</b><a href="/{{ trainer.short_name }}/{{ blitz.url_slug }}" target="_blank"><u>
        {% if not trainer.short_name = blitz.url_slug %}
           {{ SITE_URL }}/{{ trainer.short_name }}/{{ blitz.url_slug }}
        {% else %}
           {{ SITE_URL }}/{{ trainer.short_name }}
        {% endif %}</a></u></div>

        <form method="post" target="_blank" name="sales-blitz" 
         action="sales-blitz?slug={{ trainer.get_blitz.url_slug }}&short_name={{ trainer.short_name }}&debug=True&key={{ trainer.get_blitz.sales_page_content.sales_page_key }}" class="formpage-block-form">
           {% csrf_token %}
           <div class="submit-container">
              <button class='obtn obtn-comment-grn' type='submit'>Work on $ales Page</button>
           </div>
        </form>

        {% if new_programs > 0 %}
           <div class="alert alert-info">
              <b>Dude: <i>{{ new_program_name }}</i> is ready for you to setup!</b>
           </div>
           <form action="blitz_setup" method="get" name="blitz_setup" class="formpage-block-form">
           {% csrf_token %}
              <br>
              <div class="submit-container">
                 <button class='obtn obtn-comment-grn' type='submit'>Setup Blitz!</button>
              </div>
           </form>

        {% else %}
            {% if docs > 0 %}
                <div class="alert alert-info">
                    <b>(You've uploaded {{ docs }} documents that are pending...)</b>
                </div>
            {% endif %}

            <form action="upload" method="get" name="upload" class="formpage-block-form">
            {% csrf_token %}
            <div class="submit-container">
               <button class='obtn obtn-comment-grn' type='submit'>Upload program stuff</button>
            </div>
            </form>
        {% endif %}
     </div>
    {% endif %}
    </div>
    </div>

{% endblock %}


