{% extends "formpage.html" %}

{% block morehead %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap-select.css">

  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
    $( "#datepicker" ).datepicker( "option", "dateFormat", "mm/dd/yy" );
  });
  </script>
{% endblock %}

{% block formpage_content %}

<div class="row">
    <div class="span4 offset4">
        <div class="formpage-block">


    <form class="form" action="#" method="post">
    {% csrf_token %}

        <div class="fieldWrapper">{{ form.title }}</div>
        <div class="fieldWrapper">
<small>Short url for your blitz, eg. /Blitz.us/</small><b><u>{{ trainer.short_name }}/Group1</u></b>
        {{ form.url_slug }}<br><a style="color:red;">{{ form.url_slug.errors }}</a>
        </div>

        <table><tr>
        <td>Workout plan:</td> <td><select name="program" id="program" class="selectpicker show-tick">
        {% for program in programs %}
        <option value="{{ program }}">{{ program }}</option>
        {% endfor %}
        </select></td></tr><tr>
        <td>Type:</td> <td><select name="blitz_type" id="blitz_type" class="selectpicker show-tick">
        <option value="IND">Individual</option>
        <option value="GRP">Group</option>
        </select></td></tr>
        </table>

    <script src="{{ STATIC_URL }}js/bootstrap-select.js"></script>
    <script type="text/javascript">
          $(document).ready(function(e) {
              $('.selectpicker').selectpicker({ style: 'btn-info', size: "auto", });
          });
    </script>
        <br>

        <input type="text" class="datepicker" id="datepicker" name="start_day" value="{{ form.start_day.value }}"></td></tr>

<!--
        <div class="fieldWrapper">
                {{ form.start_day }}
        </div> -->

        </td></tr>
        <div class="fieldWrapper">
                <div style="width: 10%; float: left; display: inline; margin-top: 8px; font-size: 1.5em;">
                  $
                </div>
                <div style="width: 90%; float: left; display: inline;">
                {{ form.charge }}
              </div>
        </div>
     <button type="submit" class="obtn full-width btn-warning">Create Blitz</button>

     </form>
  {% if errors %}
     <div class="alert alert-warning" role="alert">
        {% for e in errors %}
           <li><small>{{ e }}</small></li>
        {% endfor %}
     </div>
  {% endif %}
   </div>
</div>
</div>

</div>
</div>
</div>

{% endblock formpage_content %}
