<style>
  .well{
      background:rgba(255,255,255, 0.9);
  }
  .btn-group {
    width: 100% !important;
    margin-left: 10px !important;
  }
</style>

<div class="modal-full fade" id="modalMacros" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog-full">
      <div class="modal-content-full">
         <div class="modal-header">
            <button type="button" onclick="window.location={% if url_return %} '{{ url_return }}'{% else %}'/program'{% endif %}; return false;" class="close" data-dismiss="modal">
               <span aria-hidden="true">× Close</span>
            </button>
         </div>
         <div class="modal-body">

    <div class="row">
 

         <div class="span6" style="float: none; margin: 0 auto;">

           <h3 class="mformh3">Set Macros for {{ blitz.title }}</h3>

           <div class="formpage-block" style="padding: 0px;">
              <form method="post" name="blitz_macros"> {% csrf_token %}

                    <select name="formulas" id="formula-select" class="selectpicker">
                        <option value="DEFAULT">Default</option>
                        <option value="BULK">Bulking (+10%)</option>
                        <option value="BEAST">Beast Mode (+15%)</option>
                        <option value="CUT">Cutting (-10%)</option>
                    </select>
                    <script src="{{ STATIC_URL }}js/bootstrap-select.js"></script>
                    <!-- Note: formulas also in base/view.py blitz_macros_set() -->
                    <script type="text/javascript">
                        function show_macros(factor) {
                           factor = factor || 1;
                           var kg = 100;
                           var h = 183;
                           var age = 30;
                           var wkout_factor = 1.15;

                           var r_cals = factor * (10 * kg + 6.25 * h - 5 * age + 5);
                           var r_protein = factor * (0.9 * kg * 2.2);
                           var r_fat = factor * (0.4 * kg * 2.2);
                           var r_carbs = factor * (r_cals - r_protein - r_fat) / 4;
                           var w_cals = r_cals * wkout_factor;
                           var w_protein = r_protein * wkout_factor;
                           var w_fat = r_fat * wkout_factor;
                           var w_carbs = r_carbs * wkout_factor;

                             document.getElementById('rest_cals').text=r_cals.toFixed(0).toString();
                             document.getElementById('rest_fat').text=r_fat.toFixed(0).toString();
                             document.getElementById('rest_carbs').text=r_carbs.toFixed(0).toString();
                             document.getElementById('rest_protein').text=r_protein.toFixed(0).toString();
                             document.getElementById('wout_cals').text=w_cals.toFixed(0).toString();
                             document.getElementById('wout_fat').text=w_fat.toFixed(0).toString();
                             document.getElementById('wout_carbs').text=w_carbs.toFixed(0).toString();
                             document.getElementById('wout_protein').text=w_protein.toFixed(0).toString();

                            return 0;
                        }
                        $(document).ready(function(){
                            x = show_macros(1);
                        }) 
                        $(document).ready(function(e) {

                        $('.selectpicker').selectpicker({ style: 'btn-info', size: "auto", });
                           });
                        $('select.selectpicker').on('change', function(){
                           var selected = $('.selectpicker option:selected').val();
                             if (selected == 'DEFAULT') { x = show_macros(1); } 
                             else if (selected == 'BULK') { x = show_macros(1.1); }
                             else if (selected == 'CUT') { x = show_macros(0.9); }
                             else if (selected == 'BEAST') { x = show_macros(1.15); }
                         });
                    </script>
                 <br>
                 
                <div class="macroexample">
                  Example (Male): Weight: 100kg (220lbs) | Height: 1.83m (6') | Age: 30
                </div>

                <div class="macroform-day">
                  <div class="macroform-day-header">
                    Workout Day
                  </div>
                  <div class="macroform-macros">
                    <div class="macroform">
                      <div class="macroform-header">
                        Calories
                      </div>
                      <div class="macroform-numbers">
                        <div class="macroform-macro">
                          <a id='wout_cals'></a> g
                      </div>
                    </div>
                    </div>

                    <div class="macroform">
                      <div class="macroform-header">
                        Protein
                      </div>
                      <div class="macroform-numbers">
                        <div class="macroform-macro">
                          <a id='wout_protein'></a> g
                      </div>
                    </div>
                  </div>

                    <div class="macroform">
                      <div class="macroform-header">
                        Fat
                      </div>
                      <div class="macroform-numbers">
                        <div class="macroform-macro">
                          <a id='wout_fat'></a> g
                      </div>
                    </div>
                  </div>

                    <div class="macroform">
                      <div class="macroform-header">
                        Carbs
                      </div>
                      <div class="macroform-numbers">
                        <div class="macroform-macro">
                          <a id='wout_carbs'></a> g
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="macroform-day">
                  <div class="macroform-day-header">
                    Rest Day
                  </div>
                  <div class="macroform-macros">
                    <div class="macroform">
                      <div class="macroform-header">
                        Calories
                      </div>
                      <div class="macroform-numbers">
                        <div class="macroform-macro">
                          <a id='rest_cals'></a> g
                      </div>
                    </div>
                    </div>

                    <div class="macroform">
                      <div class="macroform-header">
                        Protein
                      </div>
                      <div class="macroform-numbers">
                        <div class="macroform-macro">
                          <a id='rest_protein'></a> g
                      </div>
                    </div>
                  </div>

                    <div class="macroform">
                      <div class="macroform-header">
                        Fat
                      </div>
                      <div class="macroform-numbers">
                        <div class="macroform-macro">
                          <a id='rest_fat'></a> g
                      </div>
                    </div>
                  </div>

                    <div class="macroform">
                      <div class="macroform-header">
                        Carbs
                      </div>
                      <div class="macroform-numbers">
                        <div class="macroform-macro">
                          <a id='rest_carbs'></a> g
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                
                 <button class="obtn full-width btn-warning" type='submit' style="margin-left: 10px;">Set Macros</button>
              </form>

           </div>

        </div>



        </div>
    </div>
</div>
</div>
</div>
</div>
</div>


