{% extends "formpage.html" %}

{% block morehead %}
<script type="text/javascript" 
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript">
  /*<![CDATA[*/
  jQuery(function() {
      var form = jQuery("#blitz_setup_form");
      form.submit(function(e) {
          jQuery("#ajaxwrapper").load(
              form.attr('action') + ' #ajaxwrapper',
              form.serializeArray(),
              function(responseText, responseStatus) {
                  $('.selectpicker').selectpicker({ style: 'btn-info', size: "auto", });
                  $( "#datepicker" ).datepicker();
                  $( "#datepicker" ).datepicker( "option", "dateFormat", "mm/dd/yy" );

                  try { json = JSON.parse(responseText);
                        // handle successful return from view
                        alert(json["continue"]);
                      } catch (e) {  }
              }
          );
          e.preventDefault(); 
      });
  });
  /*]]>*/
  </script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap-select.css">

  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
    $( "#datepicker" ).datepicker( "option", "dateFormat", "mm/dd/yy" );
  });
  </script>

{% endblock %}

{% block formpage_content %}

<form>
<div >
    <button type='button' class='btn-outline-trans fullwidth' onclick="jQuery.noConflict(); $('#modalAddProgram').modal('show'); return false;">+ Add Group Modal</button><br>
</div>
</form>

{% include "blitz_setup2.html" %}

{% endblock formpage_content %}
