{% extends "base.html" %}

{% block morehead %}

    <script src="{{ STATIC_URL }}js/TB.min.js" ></script>
    <script type='text/javascript' charset="utf-8" >

    $(document).ready(function() {

        var apiKey = "24643762";
        var sessionId = "{{ blitz.opentok_session_id }}";
        var token = "{{ opentok_token }}";

        var session;
        var publisher;
        var subscribers = {};
        var VIDEO_WIDTH = 320;
        var VIDEO_HEIGHT = 240;

        TB.setLogLevel(TB.DEBUG);
        TB.addEventListener("exception", exceptionHandler);

        function getPk(connection) {
            var data_str = connection.data;
            var vars = data_str.split('&');
            for (var j=0; j<vars.length; j++) {
                var pair = vars[j].split('=');
                if (pair[0] == 'memberpk') {
                    return pair[1];
                }
            }
        }

        function connect() {
            session.connect(apiKey, token);
        }

        function disconnect() {
            session.disconnect();
            hide('disconnectLink');
            hide('publishLink');
            hide('unpublishLink');
        }

        // Called when user wants to start publishing to the session
        function startPublishing() {
            if (!publisher) {
                var publisherProps = {width: VIDEO_WIDTH, height: VIDEO_HEIGHT};
                publisher = TB.initPublisher(apiKey, "video-me", publisherProps);  // Pass the replacement div id and properties
                session.publish(publisher);
                $('video-start').hide();
                $('video-stop').show();


            }
        }

        function stopPublishing() {
            if (publisher) {
                session.unpublish(publisher);
            }
            publisher = null;

            show('publishLink');
            hide('unpublishLink');
        }

        //--------------------------------------
        //  OPENTOK EVENT HANDLERS
        //--------------------------------------

        function sessionConnectedHandler(event) {
            // Subscribe to all streams currently in the Session
            for (var i = 0; i < event.streams.length; i++) {
                addStream(event.streams[i]);
            }
            $('#video-join').hide();
            $('#video-leave').show();

        }

        function streamCreatedHandler(event) {
            for (var i = 0; i < event.streams.length; i++) {
                addStream(event.streams[i]);
            }
        }

        function streamDestroyedHandler(event) {
            // This signals that a stream was destroyed. Any Subscribers will automatically be removed.
            // This default behaviour can be prevented using event.preventDefault()
        }

        function sessionDisconnectedHandler(event) {
            // This signals that the user was disconnected from the Session. Any subscribers and publishers
            // will automatically be removed. This default behaviour can be prevented using event.preventDefault()
            publisher = null;

            //show('connectLink');
            //hide('disconnectLink');
            //hide('publishLink');
            //hide('unpublishLink');
        }

        function connectionDestroyedHandler(event) {
            // This signals that connections were destroyed
        }

        function connectionCreatedHandler(event) {
            for (var i=0; i<event.connections.length; i++) {
            }
            // This signals new connections have been created.
        }

        /*
         If you un-comment the call to TB.setLogLevel(), above, OpenTok automatically displays exception event messages.
         */
        function exceptionHandler(event) {
            alert("Exception: " + event.code + "::" + event.message);
        }

        //--------------------------------------
        //  HELPER METHODS
        //--------------------------------------

        function addStream(stream) {
            // Check if this is the stream that I am publishing, and if so do not publish.
            if (stream.connection.connectionId == session.connection.connectionId) {
                return;
            }
            var pk = getPk(stream.connection);
            var elid = 'other-member-' + pk;
            var el = $('#' + elid);
            var subscriberProps = { width: $(el).width(), height: $(el).height() };
            subscribers[stream.streamId] = session.subscribe(stream, elid, subscriberProps);
        }

        if (TB.checkSystemRequirements() != TB.HAS_REQUIREMENTS) {
            alert("You don't have the minimum requirements to run this application."
                    + "Please upgrade to the latest version of Flash.");
        } else {
            session = TB.initSession(sessionId);	// Initialize session

            // Add event listeners to the session
            session.addEventListener('sessionConnected', sessionConnectedHandler);
            session.addEventListener('sessionDisconnected', sessionDisconnectedHandler);
            session.addEventListener('connectionCreated', connectionCreatedHandler);
            session.addEventListener('connectionDestroyed', connectionDestroyedHandler);
            session.addEventListener('streamCreated', streamCreatedHandler);
            session.addEventListener('streamDestroyed', streamDestroyedHandler);

        }

        // click handlers
        $('#video-join').click(connect);
        $('#video-leave').click(disconnect);
        $('#video-start').click(startPublishing);
        $('#video-stop').click(stopPublishing);

    });

    </script>
{% endblock %}

{% block header_content %}
    <div class="row">
        <div class="span12" id="header">
            <div id="top-level-navs">
                <div class="nav-item">
                    <a href="{% url "home" %}">Home</a>
                </div>
                <div class="nav-item">
                    <a href="{% url "my_profile" %}">Profile</a>
                </div>
                <div class="nav-item">
                    <a href="{% url "home" %}">Program</a>
                </div>
                <div class="nav-item">
                    <a href="{% url "home" %}">People</a>
                </div>
            </div>
            <div id="account-block">
                <div class="name-container">
                    <div class="name">{{ user.display_name }}</div>
                </div>
                <div class="headshot-container">
                    <img src="{{ user.headshot_url }}" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="main-content-container">
        <div class="container">
            <div class="row">
                <div class="span12">

                    <div class="blitz-video">
                        <div class="streams">
                            <div class="trainer-container">
                                <div id="trainer-video" >
                                    trainer
                                </div>
                            </div>
                            <div class="others-container">
                                {% for member in client.other_blitz_members %}
                                    <div class="other-container">
                                        <div class="other" id="other-member-{{ member.pk }}" >
                                            {{ member }}
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="self-container">
                                    <div id="video-me">
                                        me
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="controls">
                            <button class="btn btn-primary" id="video-join" >Join</button>
                            <button class="btn btn-primary" id="video-leave" >Leave</button>
                            <button class="btn btn-primary" id="video-start" >Show Video</button>
                            <button class="btn btn-primary" id="video-stop" onClick="javascript:stopPublishing()" >Stop Video</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}