{% extends "client_content.html" %}

{% load blitz_tags %}
{% load custom_exercise %}

{% block morehead %}
{% endblock %}

{% block above_content %}

    <div class="landscape-header coverphoto2">
        <div class="landscape-header-top" style="height:50%;">
            <div class="container">
                <div class="row">
                    <div class="span12">
                    </div>
                </div>
            </div>
        </div>
        <div class="landscape-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="content">
                            <div class="title">Program Overview</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% if not client and trainer.multiple_blitzes %}
<div class="which-blitz">
    <div class="container">
        <div class="row">
            <div class="span12">
                    <span class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Blitzes <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for blitz in trainer.active_blitzes %}
                                <li><a href="/trainer/go-to-blitz-program?new_blitz={{ blitz.pk }}">{{ blitz }} / {{ blitz.begin_date|date:"F jS" }}</a></li>
                            {% endfor %}
                        </ul>
                    </span>
                This is the social feed for <span class="strong">{{ trainer.get_blitz }}</span> that began on <span class="strong">{{ trainer.get_blitz.begin_date|date:"F jS" }}</span>.

            </div>
        </div>
    </div>
</div>
{% endif %}

<div id="intro-modal" class="modal hide fade blitz-modal" tabindex="-1">
   {% include "onboarding_content_trainer.html" %}
</div>

{% endblock %}

{% block main %}
{% if client or blitz.workout_plan %}
    <div class="span8">
        <div class="overview-top-content overview-block">
            <div class="content">
                <b>{{ blitz.title }}</b>
                <p>{{ blitz.description|linebreaks }}</p>
                <div class="dates">Start Date: {{ blitz.begin_date }}</div>
                {% if blitz.workout_plan %}
                   {% if blitz.recurring %}
                   (recurring)
                   {% else %}
                   <div class="dates">End Date: {{ blitz.end_date }}</div>
                   {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}

{% if blitz.workout_plan %}
    {% for week in blitz.workout_plan.weeks %}
        <div class="span12"><h3>Week {{ week.week }}:</h3>
        {% for day in week.days %}
            <div class="span3">
                <div class="overview-block workout-day-block">
                    <div class="title">{{ day.day_of_week|day_name }}</div>
                    <div class="content">
                        <ul>
                            {% for exercise in day.workout.get_exercises %}
                                {% if user.is_trainer %}
                                    <li>{{ exercise.lift }}: {{ exercise.sets_display }}</li>
                                {% else %}
                                    <li>{{ exercise|custom_lift:client }}: 
                                        {{ exercise|custom_sets_display:client }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endif %}


<div class="span8">
    {% if client %}
        {% if not blitz.workout_plan %}
           <div class="empty-placeholder">
              <div class="title">Once your trainer completes setting up the program.</div>
              <div class="subtitle">You'll be able to see details here.</div>
           </div>
        {% endif %}
    {% else %}
        <br>
        <div class="span10">
        <div class="alert alert-info">
        <b>This is the link to your Blitz sales page:</b><a href="/{{ trainer.short_name }}/{{ blitz.url_slug }}" target="_blank"><u>
        {% if trainer.short_name = blitz.utl_slug %}
           /{{ trainer.short_name }}/{{ blitz.url_slug }}
        {% else %}
           /{{ trainer.short_name }}
        {% endif %}</a></u></div>

        <form method="post" target="_blank" name="sales-blitz" 
         action="sales-blitz?slug={{ trainer.get_blitz.url_slug }}&short_name={{ trainer.short_name }}&debug=True&key={{ trainer.get_blitz.sales_page_content.sales_page_key }}" class="formpage-block-form">
           {% csrf_token %}
           <div class="submit-container">
              <button class='obtn obtn-comment-grn' type='submit'>Work on $ales Page</button>
           </div>
        </form>

        {% if new_programs > 0 %}
           <div class="alert alert-info">
              <b>Dude: <i>{{ new_program_name }}</i> is ready for you to setup!</b>
           </div>
           <form action="blitz_setup" method="get" name="blitz_setup" class="formpage-block-form">
           {% csrf_token %}
              <br>
              <div class="submit-container">
                 <button class='obtn obtn-comment-grn' type='submit'>Setup Blitz!</button>
              </div>
           </form>

        {% else %}
            {% if docs > 0 %}
                <div class="alert alert-info">
                    <b>(You've uploaded {{ docs }} documents that are pending...)</b>
                </div>
            {% endif %}

            <form action="upload" method="get" name="upload" class="formpage-block-form">
            {% csrf_token %}
            <div class="submit-container">
               <button class='obtn obtn-comment-grn' type='submit'>Upload program stuff</button>
            </div>
            </form>
        {% endif %}
     </div>
    {% endif %}
    </div>
    </div>

{% endblock %}


