{% extends "formpage.html" %}

{% block formpage_content %}
<div class="row">
    <div class="span4 offset4">
        <div class="formpage-block">
            <div class="header">Your new blitz is setup!</div>
            <div class="content">
                <image src="/static/images/bigcheckmark.png" style="width: 30%; alignment-baseline: central; margin: 0% 0% 20px 35%;">
                <p style="margin-bottom: 20px;">
                    Next, we need to invite some clients.
                </p>
                <a href="/" class="obtn obtn-comment">Invite clients →</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
