{% extends "formpage.html" %}

{% block formpage_content %}
<div class="row">
    <div class="span6 offset3">
        <div class="formpage-block">
            <div class="content">
                <image src="/static/images/bigcheckmark.png" style="width: 30%; alignment-baseline: central; margin: 0% 0% 20px 35%;">
                <div class="header">You're all signed up!</div>
                <p style="margin-bottom: 20px;">
                    You're officially in {{ blitz.trainer.short_name }}'s program.
                    Next, we need to collect some info to personalize your plan.
                </p>
                <a href="/set-up-profile" class="obtn obtn-comment">Set up your profile →</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}