{% extends "client_content.html" %}

{% load blitz_tags %}
{% load custom_exercise %}
{% load units_tags %}

{% block morehead %}
    <style type="text/css">
        #main-content-container {min-height: 550px;};
    </style>
{% endblock %}

{% block above_content %}

    <div class="landscape-header coverphoto4">
        <div class="landscape-header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
        <div class="landscape-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content">
                            <div class="title" style="text-align: center;">Check-in time!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block main %}
    <div class="col-md-4 col-md-offset-4">
        <div class="overview-top-content overview-block">
        <div class="content">

<br>
    <p style="margin-bottom: 20px; margin-top: -10px; text-align: center;">
        Time to update your weight and take some progress photos. This is really important to see how you're progressing and make adjustments to your program. Plus, it'll be great motivation to look at later.
    </p>

    <form name="pictureForm" id="pictureForm" enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}

                <p>Current weight: 
                <p/>

                <div class="workout-input input-group" style="margin-bottom: 0px;">
                    <input type="number" step="any" class="form-control" name="weight" placeholder="weight {% if client.units == "M" %}(kg){% else %}(lbs) {% endif %}" value="{{ checkin.weight|lbs_conversion:client }}"/>
                        <span class="input-group-addon">
                            {{ client.units|weight_label }}
                        </span>
                </div>  


                <input type="file" name="front_image" id="id_front_image" style="height:0; display:none;"/>
                <br / >
                <label id="id_front_image" name="front_image" for="id_front_image" class="btn-outline full-width" style="margin-top: 0px;"/>+ Front Photo</label>

            {% if checkin.front_image %}
            <img src="/media/{{ checkin.front_image }}" />

            {% endif %}

                <input type="file" name="side_image" id="id_side_image" style="height:0; display:none;"/>
                <br / >
                <label id="id_side_image" name="side_image" for="id_side_image" class="btn-outline full-width" style="margin-top: 10px;"/>+ Side Photo</label>
                {% if checkin.side_image %}
                <img src="/media/{{ checkin.side_image }}" />
                {% endif %}

        <input type="hidden" id="done" name="done" value="" />
    
    <a id="done_action" type="submit" class="gbtn full-width" style="margin-top: 10px;">Complete check-in</a>
    </form>

<script type="text/javascript">
$('input[type=file]').change(function(e) { document.pictureForm.submit(); });

$(document).ready(function() { 
$('#done_action').click(function() {
    document.getElementById("done").value = "1";
    document.pictureForm.submit();
});

});
</script>

    </div>
    </div>
</div>
{% endblock %}



