<div class="modal-full fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog-full">
      <div class="modal-content-full">
         <div class="modal-header">
            <button type="button" onclick="window.location={% if url_return %} '/{{ url_return }}'{% else %}'/salespage'{% endif %}; return false;" class="close" data-dismiss="modal">
               <span aria-hidden="true">× Close</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="span4 offset4">
                  <div class="formpage-block">
                     <div class="header">
                        Invite a client
                     </div>
                     <div class="info-text" style="margin-bottom: 20px;">
                        We'll send an email invite to a client so they can sign up for coaching with you.
                     </div>
                     <div class="content">
                        {% if mode = "free" %}
                           <p>Tell us who you want to invite for coaching at <b>no charge</b>.</p>
                        {% endif %}
       
                        {% if mode = "free" %}
                           <form class="modal-form" action="/client-setup/{{ blitz.pk }}?modalInvite&free" method="post" name="client-setup">
                        {% else %}
                           {% if url_return = '#' %}
                               <form class="modal-form" id="client_setup_form" action="javascript:save_client_setup();">
                           {% else %}
                               <form class="modal-form" action="/client-setup/{{ blitz.pk }}?modalInvite" method="post" name="client-setup">
                           {% endif %}
                        {% endif %}
 
                        {% csrf_token %}
                     <div id="ajaxwrapper">
                        <input type="text" name="name" id="invitation_name" placeholder="Name" />
                        <a id='error_name' style="color: #ff0000;">{% include "error_field.html" with param='name' %}</a>
                        <input type="text" name="email" placeholder="Email" />
                        {% include "error_field.html" with param='email' %}
                        <a id='error_email' style="color: #ff0000;">{% include "error_field.html" with param='name' %}</a>

                        {% if blitz.recurring and workoutplans %}
                           <div class="input-row-fw" style="text-align: center;">
                              <select name="workoutplan_id" id="workoutplan_id" class="selectpicker full-width" style="text-align: center;">
                              {% for wp in workoutplans %}
                              <option value="{{wp.id}}"{% if wp = blitz.workoutplan %}selected{% endif %}>
                              {{wp.name}} 
                              </option>
                           {% endfor %}
                           </select>
                           </div>
                        {% endif %}

                           <div class="input-row-fw" style="text-align: center;">
                                 <select name="formulas" id="formula-select" class="selectpicker full-width" style="text-align: center;">
                                     <option value="DEFAULT">Standard Macro Formula</option>
                                     <option value="BULK">Bulking (+10%)</option>
                                     <option value="BEAST">Beast Mode (+15%)</option>
                                     <option value="CUT">Cutting (-10%)</option>
                                 </select>

                                 <script src="{{ STATIC_URL }}js/bootstrap-select.js"></script>
                                 <script type="text/javascript">
                                    $(document).ready(function(e) {
                                    $('.selectpicker').selectpicker({ style: 'btn-info', size: "auto", });
                                    });
                                 </script>
                           </div>

                        {% if mode != "free" %}
                           
                           <div class="input-row-fw">
                              <div class="form-input">
                                 <input type="text" name="price" placeholder="Price" value="{{ blitz.price }}" style="width:100px;"/>
                              </div>
                           <a id="error_price" style="color: #ff0000;"> {% include "error_field.html" with param='price' %}</a>

                              <div class="field-label">
                                 $ &nbsp; / &nbsp; month
                              </div>                               
                           </div>
                        {% endif %}

<!--                        <textarea name="invite" class="full-width" rows="8" style="width:450px;">{{ invite|safe }}</textarea></td>
                        {% include "error_field.html" with param='invite' %} -->
                        <br>
                        <input type="hidden" name="signup_key" value="{{ signup_key }}">
                        <input type="hidden" name="invite_url" value="{{ invite_url }}">

                        {% if url_return = '#' %}
                        <button class="obtn full-width" id="invite-client">Invite client</button>
                        {% else %}
                        <button class="obtn full-width" id="invite-client">Invite client</button>
                        {% endif %}
                     </div>
                    </form>
<div id="invite-loading" style="display:none; text-align: center; padding: 5px; "><img src="/static/images/squareloader.gif" alt="Loading..."/></div>
                  </div>
               </div>
            </div>
         </div>
       </div>
   </div>
</div>
</div>


