{% extends "formpage.html" %}

{% block formpage_content %}

<div class="row">
  <div class="span6 offset3">
    <div class="formpage-block">
      <div class="header">
          Invite a client
      </div>
      <div class="info-text" style="margin-bottom: 20px;">
          Send an email to a client so you can train them on Blitz.
      </div> 
      <div class="content">
          {% if mode = "free" %}
          <p>Tell us who you want to invite for coaching at <b>no charge</b>.</p>
          {% else %}
          {% endif %}
          {% if mode = "free" %}
          <form class="form" action="/client-setup/{{ blitz.pk }}?free" method="post" name="client-setup">
          {% else %}
          <form class="form" action="/client-setup/{{ blitz.pk }}" method="post" name="client-setup">
          {% endif %}
            {% if errors %}
              <div class="alert alert-warning" role="alert">
               {% for e in errors %}
                   <li><small>{{ e }}</small></li>
               {% endfor %}
            </div>
            {% endif %}
        {% csrf_token %}

        <input type="text" name="name" placeholder="Name" />
        {% include "error_field.html" with param='name' %}
        <input type="text" name="email" placeholder="Email" />
        {% include "error_field.html" with param='email' %}

        {% if mode != "free" %}
        <div style="width: 100%;">
          <div style="width: 10%; float: left; margin-top: 8px; font-size: 1.5em; display: inline-block;">
            $
          </div>
          <div style="width: 90%; float: left; display: inline-block;">
            <input type="text" name="price" placeholder="Price" value="{{ blitz.price }}"/>
          </div>
        </div>
          {% include "error_field.html" with param='price' %}
          {% endif %}
        <br>
        {% if blitz.recurring %}
            <select name="workoutplan_id" id="workoutplan_id">
            {% for wp in workoutplans %}
                <option value="{{wp.id}}"{% if wp = blitz.workoutplan %}selected{% endif %}>
                {{wp.name}} 
                </option>
            {% endfor %}
            </select>
            <br>
        {% endif %}
        <textarea name="invite" class="full-width" rows="10" style="width:400px;">{{ invite|safe }}
        </textarea></td>
        {% include "error_field.html" with param='invite' %}
        <br>
        <input type="hidden" name="signup_key" value="{{ signup_key }}">
        <input type="hidden" name="invite_url" value="{{ invite_url }}">
        <button class="obtn full-width btn-warning">Invite client</button>
</div>

{% endblock formpage_content %}

