{% extends "client_profile.html" %}
{% load units_tags %}

{% block morehead %}
    <script type='text/javascript' src='{{ STATIC_URL }}js/expanding.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/feed.js'></script>
{% endblock %}

{% block profile_page_content %}

    {% if user == client.user %}
      <a href="/client-checkin">
         <button class='obtn obtn-comment'>Check-in</button>
      </a>
    {% endif %}

    {% for checkin in checkins %}
    <div class="settings-block">
    <div class="title">Check-in {{ checkin.date_created }}</div>
    <div class="content">
    <table>
        <td><h3>Weight: {{ checkin.weight|lbs_conversion:client }} {{ client.units|weight_label }}</h3></td></tr>
        {% if checkin.front_image %}<tr>
        <td><img src="/media/{{ checkin.front_image }}" style="width:500px;"/></td></tr>
        {% endif %}
        {% if checkin.side_image %}<tr>
        <td><img src="/media/{{ checkin.side_image }}" /></td></tr>
        {% endif %}
    </table>
    </div>
    </div>

    {% empty %}
        <div class="row">
            <div class="col-xs-12">
                {% if user == client.user %}
                    <div class="empty-placeholder">
                        <div class="title">You don't have any check-ins yet.</div>
                        <div class="subtitle">Once you do, you'll be able to look through your past check-ins here and track your progress.</div>
                    </div>
                {% else %}
                    <div class="empty-placeholder">
                        <div class="title">{{ client }} hasn't completed any check-ins yet.</div>
                    </div>
                {% endif %}
            </div>
    {% endfor %}
{% endblock %}


