{% extends "formpage.html" %}

{% block morehead %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap-select.css">

{% endblock %}

{% block formpage_content %}

<div class="row" style=" position: relative;  top: 40%;  transform: translateY(-50%);">
    <div class="col-md-4 col-md-offset-4" style="text-align: center">
        <div class="formpage-block">
            <div class="header">Invite a client</div>
                {% if mode = "free" %}
                    <p>Tell us a bit about the client you want invited, note this will be <b>FREE of charge</b>. You can always change macros and workout programs later. </p>
                {% else %}
                    <p>We'll send an email invite to a client so they can sign up for coaching with you. Remember, you can always change macros and workout programs later.</p>
                {% endif %}

                {% if mode = "free" %}
                    <form class="form" action="/client-setup/{{ blitz.pk }}?free" method="post" name="client-setup">
                {% else %}
                    <form class="form" action="/client-setup/{{ blitz.pk }}" method="post" name="client-setup">
                {% endif %}

        {% csrf_token %}

        <input type="text" name="name" placeholder="Name" />
        {% include "error_field.html" with param='name' %}

        <input type="text" name="email" placeholder="Email" />
        {% include "error_field.html" with param='email' %}
        <br>

        {% if blitz.recurring and workoutplans %}

            <select name="workoutplan_id" id="workoutplan_id" class="selectpicker">
            {% for wp in workoutplans %}
                <option value="{{wp.id}}"{% if wp = blitz.workoutplan %}selected{% endif %}>
                {{wp.name}} 
                </option>
            {% endfor %}
            </select>
        {% endif %}
            <select name="formulas" id="formula-select" class="selectpicker">
                <option value="DEFAULT">Standard Macro Formula</option>
                <option value="BULK">Bulking (+10%)</option>
                <option value="BEAST">Beast Mode (+15%)</option>
                <option value="CUT">Cutting (-10%)</option>
            </select>
            <br>
            <script src="{{ STATIC_URL }}js/bootstrap-select.js"></script>
            <script type="text/javascript">
                 $(document).ready(function(e) {
                 $('.selectpicker').selectpicker({ style: 'btn-info', size: "auto", });
                   });
            </script>

        {% if mode != "free" %}
        <div class="input-row-fw">
          <div class="field-label">
            $ / month:
          </div>
          <div class="form-input">
            <input type="text" name="price" placeholder="Price #" value="{{ blitz.price }}"/>
            {% include "error_field.html" with param='price' %}
          </div>
        </div>
        {% endif %}
        <br>

<!--        <textarea name="invite" class="input-xlarge" rows="10" style="width:400px;">{{ invite|safe }}
        </textarea></td>
        {% include "error_field.html" with param='invite' %} -->
        <br>
        <input type="hidden" name="signup_key" value="{{ signup_key }}">
        <input type="hidden" name="invite_url" value="{{ invite_url }}">

        <button class="obtn full-width">Invite client</button>
</div>

{% endblock formpage_content %}


