{% extends "formpage.html" %}

{% block formpage_content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
                <div class="formpage-block">
                 <div class="header">Welcome, {{ invitation.name }}.</div>
                  <p class="info-text">
                    You're just seconds away from taking your fitness to the next level.
                  </p>
    {{ form.errors }}
    <p class="info-text" style="display: none;">Choose a password: </p>
    <form class="form formpage-block-form" action="#" method="post">
        {% csrf_token %}
        <input type="password" name="password1" placeholder="Create a password" />
        <input type="password" name="password2" placeholder="Confirm password" />
        <button class="obtn full-width">Sign up</button>

        <div id="sslbadge">
        By signing up for this service you agree to <a href="/termsofuse" style="color: white;">Terms of Use</a>
        </div
    </form>
{% endblock %}
