{% extends "client_content.html" %}
{% load custom_exercise %}

{% block morehead %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>

    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/stylesheets/style.css' />
    <script type='text/javascript' src='{{ STATIC_URL }}js/underscore-min.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/backbone-min.js'></script>
    <!--<script type='text/javascript' src='{{ STATIC_URL }}js/bootstrap.min.js'></script>-->
    <script type='text/javascript' src='{{ STATIC_URL }}js/expanding.js'></script>

    <script type='text/javascript' src='{{ STATIC_URL }}js/homepage.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/feed.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/intromodal.js'></script>

    <script type="text/javascript">
    var SHOW_INTRO = {% if show_intro %}true{% else %}false{% endif %};
    </script>

{% endblock %}

{% block main %}

    <div class="col-md-4 right-side">

        {% if next_workout %}
        <div class="sidebar-box todays-workout">

            {% if next_workout_today %}
                <div class="header">Today's Workout: {{ next_workout.workout.display_name }}</div>
            {% else %}
                <div class="header">Next Workout: {{ next_workout_date }}</div>
            {% endif %}

            <div class="sidebar-box-content todays-workout-items">

                {% for lift in next_workout.workout|custom_workout_lifts:client %}
                    <div class="lift-desc">{{ lift }}</div>
                {% endfor %}

            </div>

            {% if client.get_blitz.in_progress %}
            {% if next_workout_today %}
            <div class="log-workout-container">
                <a href="{% url "log_workout" next_workout.get_week next_workout.day_of_week %}"
                   class="log-workout-a obtn">Log Workout <i class="glyphicon glyphicon-arrow-right icon-white"></i></a>
            </div>
                {% endif %}
            {% endif %}

        </div>
        {% endif %}

        {% if client.get_blitz.uses_macros and client.get_blitz.workout_plan_id %}
            {% if client.macros_set %}
                {% if client.get_blitz.sample %}
                    {% include "self_serve_plan_macro_block.html" %}
                {% else %}
                    {% include "macro_block.html" %}
                {% endif %}
            {% else  %}
                {% if client.get_blitz.sample %}
                    {% include "self_serve_plan_macros_not_set_yet.html" %}
                {% else %}
                    {% include "macros_not_set_yet.html" %}
                {% endif %}
            {% endif %}
        {% endif %}

        {% if client.get_blitz.group %}
            {% with client.other_blitz_members as members %}
                {% include "members.html" %}
            {% endwith %}
        {% endif %}

    </div>

    <div class="col-md-8">

        {% if days_since_checkin > 14 %}
            <div class="alert alert-info">
                <div class="row">
                    <div class="col-md-9">
                        It's been {{ days_since_checkin }} days since your last check-in.
                    </div>
                    <div class="cl-md-3" style="text-align: right;">
                        <a href="{% url "client_checkin"  %}">Check-in now</a>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if days_since_blitz > 14 %}
            <div class="alert alert-info">
                <div class="row">
                    <div class="col-md-9">
                        Time for a check-in.
                    </div>
                    <div class="col-md-3" style="text-align: right;">
                        <a href="{% url "client_checkin"  %}">Check-in now</a>
                    </div>
                </div>
            </div>
        {% endif %}


        {% if missed_workouts %}
            {% for day, workout_day in missed_workouts %}
            <div class="alert alert-info">
                <div class="row">
                    <div class="col-md-9">
                        You didn't log a workout on {{ day }} for {{ workout_day.workout.display_name }}.
                    </div>
                    <div class="col-md-3" style="text-align: right;">
                        <a href="{% url "log_workout" workout_day.workout_plan_week.week workout_day.day_of_week  %}">Log Workout</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}

        <div id="add-comment-container">

        <form name="commentForm" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
            <table>
                <tr>
                    <td width="97%">
                        <textarea id="add-comment" name="comment" class="expanding" placeholder="How's your training going?" rows="1"></textarea>
                    </td>
                    <td class="photobutton" valign="top">
                        <input type="text" name="sample" id="id_sample" value="value" style="height:0; display:none;"/>
                        <input type="file" name="picture" id="id_picture" style="height:0; display:none;"/>
                        <label id="id_label" name="picture" class="gbtn photobuttonlabel" for="id_picture"/>
                            <i class="glyphicon glyphicon-camera"></i>
                        </label>
                    </td>
                </tr>
            </table>

        </form>

        <a class="obtn-comment obtn" id="add-comment-submit" style="display: none;" href="#" >Post</a>

        </div>

        {% include "main_feed.html" %}

    </div>

    <div id="intro-modal" class="modal hide fade blitz-modal" tabindex="-1">
    {% include "onboarding_content.html" %}
    </div>
</div>

{% include "self_serve_plan_client_macros_modal.html" with trainer=client.get_blitz.trainer client=client url_return='#' %}

<script type="text/javascript">
// set attributes in modal indirectly (modal is loaded from dashboard which lacks detail context)
    $(document).ready(function() {
       show_client_macros(1, details=1);
      })

    function show_client_macros(factor, details, formula) { 
       factor = factor || 1;
       details = details || 0;
       formula = formula || 0;

       var kg = {{ client.weight_in_lbs }}/2.2;
       var h = {{ client.height_feet }}*30.48 + {{ client.height_inches }}*2.54;
       var age = {{ client.age }};
       var wkout_factor = 1.15;

       var r_cals = factor * (10 * kg + 6.25 * h - 5 * age + 5);
       var r_protein = factor * (0.9 * kg * 2.2);
       var r_fat = factor * (0.4 * kg * 2.2);
       var r_carbs = factor * (r_cals - r_protein - r_fat) / 4;
       var w_cals = r_cals * wkout_factor;
       var w_protein = r_protein * wkout_factor;
       var w_fat = r_fat * wkout_factor;
       var w_carbs = r_carbs * wkout_factor;

       document.getElementById('c_rest_cals').value=r_cals.toFixed(0).toString();
       document.getElementById('c_rest_fat').value=r_fat.toFixed(0).toString();
       document.getElementById('c_rest_carbs').value=r_carbs.toFixed(0).toString();
       document.getElementById('c_rest_protein').value=r_protein.toFixed(0).toString();
       document.getElementById('c_wout_cals').value=w_cals.toFixed(0).toString();
       document.getElementById('c_wout_fat').value=w_fat.toFixed(0).toString();
       document.getElementById('c_wout_carbs').value=w_carbs.toFixed(0).toString();
       document.getElementById('c_wout_protein').value=w_protein.toFixed(0).toString();
       
       if ("{{ macro_details.rest_calories }}".length > 1 && details != 0) {
           document.getElementById('c_rest_cals').value="{{ macro_details.rest_calories }}";
           document.getElementById('c_rest_fat').value="{{ macro_details.rest_fat }}";
           document.getElementById('c_rest_carbs').value="{{ macro_details.rest_carbs }}";
           document.getElementById('c_rest_protein').value="{{ macro_details.rest_protein }}";
           document.getElementById('c_wout_cals').value="{{ macro_details.training_calories }}";
           document.getElementById('c_wout_fat').value="{{ macro_details.training_fat }}";
           document.getElementById('c_wout_carbs').value="{{ macro_details.training_carbs }}";
           document.getElementById('c_wout_protein').value="{{ macro_details.training_protein }}";
           }

       return 0;
       }

    function save_spotter_edit() { 
         $.ajax({
             url: '/trainer/spotter-edit',
             type: 'POST',
             data: {blitz: {{ client.get_blitz.pk }},
             spotter_text: document.getElementById('edit_request').value },
           })
       }

    function save_macros() { 
         $.ajax({
             url:'/trainer/client-macros-save',
             type: 'POST',
             data: {client: {{ client.pk }}, formula: document.getElementById('formula-select').value,
                    c_rest_cals: document.getElementById('c_rest_cals').value,
                    c_rest_fat: document.getElementById('c_rest_fat').value,
                    c_rest_carbs: document.getElementById('c_rest_carbs').value,
                    c_rest_protein: document.getElementById('c_rest_protein').value,
                    c_wout_cals: document.getElementById('c_wout_cals').value,
                    c_wout_fat: document.getElementById('c_wout_fat').value,
                    c_wout_carbs: document.getElementById('c_wout_carbs').value,
                    c_wout_protein: document.getElementById('c_wout_protein').value,
                    },
             success:function(result){}
           });
       }

</script>

{% endblock %}

