{% extends "formpage.html" %}

{% block morehead %}

<div id="video-overlay">
  <video autoplay loop poster="/static/images/background.png" id="bgvid" >
      <source src="http://dl.dropbox.com/s/5cabtsa6v6xqvrh/deadliftbgvid.webmhd.webm?dl=0" type="video/webm">
      <source src="http://dl.dropbox.com/s/kygs018hu4ptzqk/deadliftbgvid.mp4?dl=0" type="video/mp4">
  </video>

  <div class="container loginbutton" style="">
    <div class="row">
      <div class="col-md-2 col-md-offset-10">
        <a href="/login?standard">
        <button class="btn-outline-trans">
          Log in
        </button>
        </a>
      </div>
    </div>
  </div>


  <style type="text/css">

      body {
        margin: 0;
        background: transparent; 
      }

    @media only screen and (max-width: 750px) {
        #video-overlay { background-color: rgba(0,0,0,0); }
        #bgvid { display: none; }
        #form-container {width: 80%; margin-left: 10%;}
        #mc_embed_signup label {font-size: 48pximportant;}
        .hook {font-size: 30px;}
         #mc_embed_signup_scroll input {font-size: 48px;}
        #mc_embed_signup input.button {font-size: 48px; padding: 20px 10px; height: auto!important;}
      
    }

    .blitz-login img {
    }
  </style>

{% endblock %}

{% block formpage_content %}

  <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <div class="formpage-block" style="padding-top: 0px;">
              <div class="header" >
                  <h1 style="lightfont">We help fitness coaches make more money training clients online.</h1>
              </div>
              <p class="info-text lightfont" style="margin-bottom: 20px; font-size: 1.2em; line-height: 1.3;">
                Turn your fitness coaching from tedious emails and spreadsheets into an awesome app with your brand and logo. Try Blitz and see how trainers save tons of time, provide a premium experience for clients, and skyrocket revenues.
              </p>
              <div class="row">
                <div class="content">
                  <div class="col-xs-6">
                    <a href="register-trainer">
                      <button class="obtn full-width" style="">
                        Sign up
                      </button>
                    </a>
                  </div>
                  <div class="col-xs-6">
                    <a href="about">
                      <button class="btn-outline-trans full-width" style="min-height: 45px;">
                        Learn more
                      </button>
                    </a>
                  </div>
  <!--                   <a href="https://mixpanel.com/f/partner">
                      <img class="hide" src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" />
                    </a>  -->
                </div>
            </div>
          </div>
      </div>
  </div>

  

{% endblock %}



