{% extends "base.html" %}

{% block body_extras %}style="width:75%; background: url('/static/images/coverphoto5X.png') #fff;" {% endblock %}

{% block outer_content %}
<div class="container">
    <div class="row">
        <div class="span4 offset4">
            <div class="blitz-login">
                <img src="{{ STATIC_URL }}images/logo-w.png" style="margin-top:200px; width:120px;"/>
                <form action="#" method="post">
                </form>
            </div>
        </div>
    </div>

<div class="email-page">
    <div class="span6 offset3">
        <div class="content" style="margin-left:-45px; text-align: center; color: white; font-family:'proxima_novaregular'; font-size: 20px;">
           <p>Thanks, be in touch soon.</p><br>
        </div>
    </div>
</div>
</div>
{% endblock outer_content %}

