{% extends "formpage.html" %}

{% block morehead %}

<div class="video-overlay" style="right: 0; bottom: 0; min-width: 100%; min-height: 100%;
 width: auto; height: auto; z-index: -99; background-color: rgba(0,0,0,0.80);">
  <video autoplay loop poster="http://dl.dropbox.com/s/q2offbp3dyl1fnw/blitz-mini-bg%402x.png?dl=0" id="bgvid" >
      <source src="http://dl.dropbox.com/s/5cabtsa6v6xqvrh/deadliftbgvid.webmhd.webm?dl=0" type="video/webm">
      <source src="http://dl.dropbox.com/s/kygs018hu4ptzqk/deadliftbgvid.mp4?dl=0" type="video/mp4">
  </video>


      <style type="text/css">

          body {
            margin: 0;
            background: transparent; 
          }

          video { 
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
            background: url('/bg.png') no-repeat;
            background-size: cover;
          }

          #video-overlay { 
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -99;
            background-color: rgba(0,0,0,0.80);}

      #form-container {
        margin-top: 1%;
        width: 33%;
        margin-left: 33%;
      }

      .hook {
        margin-top: -5px;
        font-size: 12px;
        text-align: center;
      }

      @media only screen and (max-device-width: 750px) {
        html { background: url('http://dl.dropbox.com/s/q2offbp3dyl1fnw/blitz-mini-bg%402x.png?dl=0') #000 no-repeat center center fixed; }
          #bgvid { display: none; }
        #form-container {width: 80%; margin-left: 10%;}
        #mc_embed_signup label {font-size: 48pximportant;}
        .hook {font-size: 30px;}
         #mc_embed_signup_scroll input {font-size: 48px;}
        #mc_embed_signup input.button {font-size: 48px; padding: 20px 10px; height: auto!important;}
        
      }

      </style>
{% endblock %}

{% block formpage_content %}



    <div class="row">
        <div class="span6 offset3">
                <div class="formpage-block">
                 <div class="header">
                    We're building the most advanced fitness coaching platform in the world.
                  </div>
                  <p class="info-text">
                    If you train clients online and want to deliver an amazing, branded experience (and make piles of cash stacked higher than Ronnie Coleman's traps), drop us a line.
                  </p>
                  <form action="#" method="post" name="login" class="formpage-block-form">
                          {% csrf_token %}

                          <a class="error">{{ error }}</a>

                          <div class="input-container" >
                              <input type="text" id='id_email' name='email' value='{{ form.data.email }}' placeholder="Email address" style="text-align: center;"/>
                             <div class="submit-container">
                              <button class='obtn obtn-comment-blu full-width' type='submit'>Sign up</button>
                             </div>
                          </div>
                      </form>
                </div>
                
                      
                
               
          </div>
    </div>

</div>

{% endblock %}



