{% extends "formpage.html" %}

{% block morehead %}

<div id="video-overlay">
  <video autoplay loop poster="/static/images/background.png" id="bgvid" >
      <source src="http://dl.dropbox.com/s/5cabtsa6v6xqvrh/deadliftbgvid.webmhd.webm?dl=0" type="video/webm">
      <source src="http://dl.dropbox.com/s/kygs018hu4ptzqk/deadliftbgvid.mp4?dl=0" type="video/mp4">
  </video>

  <div class="container loginbutton">
    <div class="row">
      <div class="col-md-2 offset10">
        <a href="/login?standard">
        <button class="btn-outline-trans">
          Log in
        </button>
        </a>
      </div>
    </div>
  </div>


      <style type="text/css">

          body {
            margin: 0;
            background: transparent; 
          }

      @media only screen and (max-width: 750px) {
          #video-overlay { background-color: rgba(0,0,0,0); }
          #bgvid { display: none; }
          #form-container {width: 80%; margin-left: 10%;}
          #mc_embed_signup label {font-size: 48pximportant;}
          .hook {font-size: 30px;}
           #mc_embed_signup_scroll input {font-size: 48px;}
          #mc_embed_signup input.button {font-size: 48px; padding: 20px 10px; height: auto!important;}
        
      }

      </style>
{% endblock %}

{% block formpage_content %}

  <div class="row">
      <div class="col-md-8 offset2">
          <div class="formpage-block">
              <div class="header" style="font-size: 2.5em;">
                  The most advanced fitness coaching platform in the world.
              </div>
              <p class="info-text lightfont" style="margin-bottom: 20px; font-size: 1.25em; line-height: 1.3;">
                Blitz helps you build an amazing, branded experience around your coaching programs—whether coaching individuals or group programs. Try it and see how trainers save tons of time, provide a premium product for clients, and skyrocket revenues.
              </p>
              <div class="content">
                  <a href="register-trainer">
                    <button class="obtn" style="width: 49%;">
                      Sign up
                    </button>
                  </a>
                  <a href="about">
                    <button class="btn-outline-trans" style="width: 49%;">
                      Learn more
                    </button>
                  </a>
                  <a href="https://mixpanel.com/f/partner">
                    <img class="hide" src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" />
                  </a>
              </div>
          </div>
      </div>
  </div>

  

{% endblock %}



