{% extends "formpage.html" %}

{% block formpage_content %}
<div class="row">
    <div class="span4 offset4">
        <div class="formpage-block">
            <div class="header">Help is on the way!</div>

            <p class="info-text">We sent a link to reset your password to {{ email }}.</p>

            <p class="info-text">
                If you don't see it, check your spam folder and that you entered the right email.
                If all else fails, email help@blitz.us
            </p>

        </div>
    </div>
</div>
{% endblock %}