{% extends "base.html" %}

{% block body_extras %}class="login-page"{% endblock %}

{% block outer_content %}
<div class="container">
    <div class="row">
        <div class="span4 offset4">
            <div class="blitz-login">
                <img class="rotate" src="{{ STATIC_URL }}images/logo-w.png" />
                <form action="#" method="post">
                </form>
            </div>
        </div>
    </div>
    {% block formpage_content %}{% endblock %}
</div>
{% endblock outer_content %}
