{% load messaging_tags %}

<div class="span12" id="header">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">

                {% if user.is_trainer %}
                <!-- <a class="branding" href="/" id="logo" style="display: none;">
                  <img src="{{ STATIC_URL }}images/logo.png"/>
                </a> -->
                <a class="branding" href="/" id="logo">
                    <img class="center" src="{{ STATIC_URL }}images/logo.png"/>
                </a>
                {% else %}
                  {% if user.client.get_blitz.sales_page_content.logo %}
                  <a class="branding" href="/" id="logo2">
                    <img src="{{ MEDIA_URL }}{{ user.client.get_blitz.sales_page_content.logo }}" />
                  </a> 
                  {% elif user.client.get_blitz.trainer.headshot %}
                  <a class="branding" href="/" id="logo2">
                    <img src="{{ MEDIA_URL }}{{ user.client.get_blitz.trainer.headshot }}" />
                  </a> 
                  {% endif %}
                {% endif %}

                {% comment %}{% endcomment %}

                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <!-- Everything you want hidden at 940px or less, place within here -->
                <div class="nav-collapse collapse">
                    <ul id="top-level-navs" class="nav" >
                        {% if user.is_trainer %}
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/" %}active{% endifequal %}" 
                                   href="{% url "home" %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/inbox" %}active{% endifequal %}"
                                   href="/inbox">
                            {% if user|numunreadthreads > 0 %}<span class="num-unread-threads">
                            {{ user|numunreadthreads }}</span> {% endif %}<span class="results-count"><span class="inner">{{ user|numunreadthreads }}</span></span> Inbox </a>

                            </li>
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/salespage" %}active{% endifequal %}"
                                   href="/salespage">Pages</a>
                            </li>
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/program" %}active{% endifequal %}"
                                   href="/program">Programs</a>
                            </li>
                            {% if user.trainer.all_clients %}
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/dashboard" %}active{% endifequal %}" href="/dashboard">Dashboard</a>
                            </li>
                            {% endif %}
                            <li class="nav-item tablet-portrait-and-below">
                                <a class="{% ifequal request.path "/logout" %}active{% endifequal %}"
                                   href="/logout">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/" %}active{% endifequal %}"
                                   href="{% url "home" %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/inbox" %}active{% endifequal %}"
                                   href="/inbox">
                            {% if user|numunreadthreads > 0 %}<span class="num-unread-threads">
                            {{ user|numunreadthreads }}</span> {% endif %}Inbox</a>
                            </li>
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/profile" %}active{% endifequal %}"
                                   href="{% url "my_profile" %}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/program" %}active{% endifequal %}"
                                   href="{% url "my_blitz_program" %}">Program</a>
                            </li>
                            {% if not user.client.get_blitz.recurring %}
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/members" %}active{% endifequal %}"
                                   href="{% url "my_blitz_members" %}">People</a>
                            </li>
                            {% endif %}
                            <li class="nav-item tablet-portrait-and-below">
                                <a class="{% ifequal request.path "/logout" %}active{% endifequal %}"
                                   href="/logout">Logout</a>
                            </li>
                        {% endif %}
                    </div>
                    <div id="account-block">
                        <div class="name-container">
                            <div class="name">{{ user.display_name }}</div>
                            <div class="logout"><a href="/logout"><i class="icon-signout"></i> Logout</a></div>
                        </div>
                        <div class="headshot-container">
                            <img src="{{ user.headshot_url }}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/3ibLZzGBkHgZLQzZpwt1Fw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//

// Set colors
UserVoice.push(['set', {
  accent_color: '#808283',
  trigger_color: 'white',
  trigger_background_color: 'rgba(46, 49, 51, 0.6)'
}]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
  email: '{{ user.email }}', //email:      'john.doe@example.com', // User’s email address
  //name:       'John Doe', // User’s real name
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>

