{% load messaging_tags %}

<div class="span12" id="header">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">

                <a class="branding" href="/" id="logo" >
                <img src="{{ STATIC_URL }}images/logo.png" style="width: 120px;" /></a>
                {% if user.is_trainer %}
                <a class="branding" href="/" id="logo2" style="float: left;">
                {% if user.trainer.get_blitz.sales_page_content.logo %}
                <img src="{{ MEDIA_URL }}{{ user.trainer.get_blitz.sales_page_content.logo }}" style="height: 60px;" /></a> {% endif %}
                {% else %}
                {% if user.client.get_blitz.sales_page_content.logo %}
                <a class="branding" href="/" id="logo2" style="float: left;">
                <img src="{{ MEDIA_URL }}{{ user.client.get_blitz.sales_page_content.logo }}" style="height: 60px;" /></a> {% endif %}
                {% endif %}

                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <!-- Everything you want hidden at 940px or less, place within here -->
                <div class="nav-collapse collapse">
                    <ul id="top-level-navs" class="nav" >
                        {% if user.is_trainer %}
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/" %}active{% endifequal %}" 
                                   href="{% url "home" %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/inbox" %}active{% endifequal %}"
                                   href="/inbox">
                            {% if user|numunreadthreads > 0 %}<span class="num-unread-threads">
                            {{ user|numunreadthreads }}</span> {% endif %}Inbox</a>
                            </li>
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/program" %}active{% endifequal %}"
                                   href="/program">Program</a>
                            </li>
                            {% if user.trainer.all_clients %}
                            <li class="nav-item">
                                <a href="/dashboard">Dashboard</a>
                            </li>
                            {% endif %}
                            <li class="nav-item tablet-portrait-and-below">
                                <a class="{% ifequal request.path "/logout" %}active{% endifequal %}"
                                   href="/logout">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/" %}active{% endifequal %}"
                                   href="{% url "home" %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/inbox" %}active{% endifequal %}"
                                   href="/inbox">
                            {% if user|numunreadthreads > 0 %}<span class="num-unread-threads">
                            {{ user|numunreadthreads }}</span> {% endif %}Inbox</a>
                            </li>
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/profile" %}active{% endifequal %}"
                                   href="{% url "my_profile" %}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/program" %}active{% endifequal %}"
                                   href="{% url "my_blitz_program" %}">Program</a>
                            </li>
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/members" %}active{% endifequal %}"
                                   href="{% url "my_blitz_members" %}">People</a>
                            </li>
                            <li class="nav-item tablet-portrait-and-below">
                                <a class="{% ifequal request.path "/logout" %}active{% endifequal %}"
                                   href="/logout">Logout</a>
                            </li>
                        {% endif %}
                    </div>
                    <div id="account-block">
                        <div class="name-container">
                            <div class="name">{{ user.display_name }}</div>
                            <div class="logout"><a href="/logout"><i class="icon-signout"></i> Logout</a></div>
                        </div>
                        <div class="headshot-container">
                            <img src="{{ user.headshot_url }}" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

    <!-- UserVoice JavaScript SDK (only needed once on a page) -->
    <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/Oq8Kmgk844ZlZYZfvRTQLw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

        <div class="uv-tray">
        
            <div class="uv-tray-item">
                <a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#ff8d0a" data-uv-link-color="#007dbf" data-uv-default-mode="support" data-uv-forum-id="207583" class="basic-tooltip" data-placement="left" title="Get support or give feedback">
                <!-- A link to launch the Classic Widget -->
                <i class="icon-question-sign icon-3x"></i>
                 </a>
            </div>
       
        </div>
