{% load messaging_tags %}

{% if user.email %}

          <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-xs-12">
                   <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    {% if user.is_trainer %}
                       <a class="branding" href="/" id="logo">
                          {% if user.trainer.get_blitz.sales_page_content.logo %}
                              <img class="center" src="{{ MEDIA_URL }}{{ user.trainer.get_blitz.sales_page_content.logo }}"/>
                          {% else %}
                              <img class="center" src="{{ STATIC_URL }}images/logo.png"/>
                          {% endif %}
                       </a>
                    {% else %}
                       <a class="branding" href="/" id="logo2">
                       {% if user.client.get_blitz.sales_page_content.logo %}
                            <img src="{{ MEDIA_URL }}{{ user.client.get_blitz.sales_page_content.logo }}" />
                       {% elif user.client.get_blitz.trainer.get_blitz.sales_page_content.logo %}
                            <img src="{{ MEDIA_URL }}{{ user.client.get_blitz.trainer.get_blitz.sales_page_content.logo }}" />
                       {% else %}
                             {{ user.client.get_blitz.trainer.name }}
                       {% endif %}
                       </a>
                    {% endif %}
                   </div>
                 </div>
              <div class="col-md-9 col-xs-12">
                <!-- Everything you want hidden at 940px or less, place within here -->
                    <div class="collapse navbar-collapse move-left" id="bs-example-navbar-collapse-1">
                      <ul id="top-level-navs" class="nav navbar-nav">
                        {% if user.is_trainer %}
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/" %}active{% endifequal %}" 
                                   href="{% url "home" %}">Home</a>
                            </li>
                            <li class="nav-item {% ifequal request.path "/inbox" %}active{% endifequal %}">
                                <a class="{% ifequal request.path "/inbox" %}active{% endifequal %}"
                                   href="/inbox">
                            {% if user|numunreadthreads > 0 %}
                              {% comment %}
                              <span class="num-unread-threads">
                                {{ user|numunreadthreads }}
                              </span>
                              {% endcomment %}
                              <span class="results-count"><span class="inner">{{ user|numunreadthreads }}</span>
                            {% endif %}
                            
                            </span> Inbox </a>

                            </li>
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/salespage" %}active{% endifequal %}"
                                   href="/salespage">Pages</a>
                            </li>
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/program" %}active{% endifequal %}"
                                   href="/program">Programs</a>
                            </li>                            
                            <li class="nav-item tablet-portrait-and-below">
                                <a class="{% ifequal request.path "/logout" %}active{% endifequal %}"
                                   href="/logout">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/" %}active{% endifequal %}"
                                   href="{% url "home" %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/inbox" %}active{% endifequal %}"
                                   href="/inbox">
                            {% if user|numunreadthreads > 0 %}<span class="num-unread-threads">
                            {{ user|numunreadthreads }}</span> {% endif %}Inbox</a>
                            </li>
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/profile" %}active{% endifequal %}"
                                   href="{% url "my_profile" %}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/program" %}active{% endifequal %}"
                                   href="{% url "my_blitz_program" %}">Program</a>
                            </li>
                            {% if user.client.get_blitz.group %}
                            <li class="nav-item">
                                <a class="{% ifequal request.path "/members" %}active{% endifequal %}"
                                   href="{% url "my_blitz_members" %}">People</a>
                            </li>
                            {% endif %}
                            <li class="nav-item tablet-portrait-and-below">
                                <a class="{% ifequal request.path "/logout" %}active{% endifequal %}"
                                   href="/logout">Logout</a>
                            </li>
                        {% endif %}
                      </ul>

                    <div id="account-block" class="pull-right">
                        <div class="name-container">
                          <div class="name">{{ user.display_name }}
                          </div>
                          <div class="logout">
                            <a href="/logout"><i class="icon-signout"></i> Logout</a>
                          </div>
                          {% if user.is_trainer %}
                            <div class="settings">
                              <a href="/trainer/profile/{{ user.trainer.pk}}"><i class="icon-settings"></i> Settings</a>
                            </div>
                          {% else %}  
                          {% endif %}
                        </div>
                        {% if user.headshot_url %}
                          <div class="headshot-container">
                            <img src="{{ user.headshot_url }}" />
                          </div>
                        {% endif %}
                     </div>
                    </div>
                    </div>

                </div>
                <div class="colorstripe"></div>
            </nav>
            <div class="colorstripe"></div>
        </div>
    </div>
</div>
{% else %}
<div class="col-md-12" id="header">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
              <a class="branding" href="/" id="logo">
                  <img class="center" src="/static/images/logo.png"/>
              </a>
          <div class="colorstripe"></div>
        </div>
    </div>
</div>

{% endif %}
