{% extends "client_content.html" %}
{% load custom_exercise %}
{% load units_tags %}

{% block morehead %}

<!--select first btn-group toggle -->
    // <script type="text/javascript">
        //     $(document).ready(function() {
        //     $(".btn").first().button("toggle");
        // });

        //     $(".btn-group > .btn").click(function(){
        //     $(this).addClass("active").siblings().removeClass("active");
        // });
    // </script>
<!-- / -->



    <script type='text/javascript' src='{{ STATIC_URL }}js/expanding.js'></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var preview = "{{ preview }}";
        $("#workout-notes").expandingTextarea();

        function finishExercise(slug) {
            $('.exercise-group[data-exercise="' + slug + '"]').addClass('exercise-finished');
            $('#collapse-' + slug).collapse('hide');
        }

        function unFinishExercise(slug) {
            $('.exercise-group[data-exercise="' + slug + '"]').removeClass('exercise-finished');
            $('#collapse-' + slug).collapse('show');
        }

        $('.save-sets').on('click', function() {

            if (preview === 'True') { 
                alert("The exercise log information would be saved at this step.");
                return }

            var lift_slug = $(this).data('lift');
            var postdata = {};
            var formdata = $('.log-workout-form').serializeArray();
            for (var i=0; i<formdata.length; i++) {

                // don't submit empty post values - not supported in api
                if (formdata[i].value == '') continue;

                postdata[formdata[i].name] = formdata[i].value;
                postdata['sets'] = $(this).data('sets');
                postdata['week_number'] = $(this).data('week_number');
                postdata['day_char'] = $(this).data('day_char');
            }

            $.post('/api/save-sets', postdata, function(data) {
                for (var pk in data.set_errors) {
                    if (data.set_errors[pk] == "") {
                        $('.set-error[data-set_pk="' + pk + '"]').hide();
                    } else {
                        $('.set-error[data-set_pk="' + pk + '"]').show();
                        $('.set-error[data-set_pk="' + pk + '"]').html(data.set_errors[pk]);
                    }
                }
                if (data.has_error) {
                    unFinishExercise(lift_slug);
                }
                else {
                    finishExercise(lift_slug);
                }
            });
        });
        $('.lift-toggle').on('click', function() {
            var parent = $(this).closest('.exercise-group');
            var lift = parent.data('exercise');
            var settype = $(this).data('settype');
            $('input[name="' + lift + '-settype"]').val(settype);
            if (settype == 'B') {
                parent.find('.workout-input-weight').hide();
            } else {
                parent.find('.workout-input-weight').show();
            }
        });
    });
</script>

<script>
    $(document).ready(function() {
        $('#nodetypeDialog').bind('show', function () {
            setPrompt ('Nodetype for "' + decodeURI (rootName) + '"');
            document.getElementById ("woOption" + rootType).selected = true;
        });
    });
    function setPrompt (s) {
        document.getElementById ("prompt").innerHTML = s;
    }
    function closeDialog () {
        $('#nodetypeDialog').modal('hide');
    }
    function okWebpageDialog (){
        $("#webpageDialog").modal ('hide');
        };

</script>

{% endblock %}

{% block main %}


{% if preview %}
    <button class='obtn obtn-comment-grn' onclick="location.href='/view_program/{{ workoutplan.pk }}'">
    Return to overview
    </button>
{% endif %}

<div class="col-md-6 col-md-offset-3 log-workout-page" style="box-sizing: border-box; -mozilla-box-sizing: border-box; -webkit-box-sizing: border-box; border: 1px solid #ddd;">

    <h2>{{ workout.display_name }} workout</h2>

    {% if workout.description %}
        <div class="panel panel-default">
            <div class="panel-body">
                {{ workout.description }}
           </div>
        </div>
        <br>
    {% endif %}

    <form action="#" method="post" class="log-workout-form">
        {% csrf_token %}

        <div class="panel-group" id="accordion">
            {% for group in grouped_sets %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-{{ group.lift.slug }}">
                    <div class="row">
                        <div class="col-xs-9">
                            <h3 class="panel-title">
                                <a {% if not forloop.first %}class="collapsed" {% endif %} data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ group.lift.slug }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse-{{ group.lift.slug }}">
                                  {{ group.lift }}: <span class="small"><div class="mobile-only"><br /></div>{{ group.title }}</span>
                                </a>
                            </h3>
                        </div>
                        <div class="col-xs-3" style="padding: 10px; text-align: center; padding-right: 20px;">
                             <!-- Video Modal -->
                            <!-- Button trigger modal -->    
                                <a class="" style="padding: 0px; font-size: 1.2em;" data-toggle="modal" data-target="#vidModal_{{ group.lift.slug }}" onclick="document.getElementById('iframe_{{ group.lift.slug }}').src='https://www.youtube.com/embed?listType=search&list={{ group.lift }}';">
                                    <i class="glyphicon glyphicon-play-circle videoicon"></i> <span style="margin-top: -5px;" class="linky videolink">Video</span>
                                </a>

                            <!-- Video Modal -->
                            <div class="modal fade" id="vidModal_{{ group.lift.slug }}" tabindex="-1" role="dialog" aria-labelledby="vidModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><div class="x-out" aria-hidden="true">&times;</div>
                                            </button>
                                            <h4 class="modal-title" id="vidModalLabel"><font color="gray">{{ group.lift }}&nbsp;&nbsp;{{ group.title }} </font></h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="embed-responsive embed-responsive-16by9 mobile-padding">
                                                <iframe class="embed-responsive-item" id="iframe_{{ group.lift.slug }}" style="margin: 0px auto; display: table;" src="https://www.youtube.com/embed?listType=search&list={{ group.lift }}" frameborder="0" allowfullscreen></iframe>
                                            </div>
                                        </div>

                                        <div class="modal-footer" style="text-align: center;">
                                            <a class="full-width" style="color: #7ab2ea !important;" data-dismiss="modal">Close</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Video Modal -->
                    </div>
                </div>
                <div id="collapse-{{ group.lift.slug }}" class="panel-collapse collapse {% if forloop.first %}in{% endif %}" role="tabpanel" aria-labelledby="heading-{{ group.lift.slug }}">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="last-lift">
                                    {% if not group.lift_summary.has_completed %}
                                    &nbsp;
                                    {% else %}
                                    <p>Last time, you did
                                      {% if group.lift_summary.last_session %}
                                        {% for a in group.lift_summary.last_session %}
                                        {% if a.display_str = '' %}<small>(none)</small>{% else %}
                                        {{ a.display_str }}{% if forloop.revcounter > 2 %}, {% endif %}{% if forloop.revcounter == 2 %} and {% endif %}{% endif %}
                                        {% endfor %}.
                                      {% else %}
                                        <small>(none)</small>{% endif %}
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {% if group.lift.weight_or_body and group.lift.allow_weight_or_body %}
                                <div class="set-container">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="btn-group btn-group-justified" role="group">
                                                <div class="btn-group" role="group">
                                                    <button id="{{ group.lift.slug }}-toggle-B" data-settype="B" type="button" class="btn btn-primary active">Body Wt</button>
                                                </div>
                                                <div class="btn-group" role="group">
                                                    <button id="{{ group.lift.slug }}-toggle-A" data-settype="A" type="button" class="btn btn-primary lift-toggle" >Assisted</button>
                                                </div>
                                                <div class="btn-group" role="group">
                                                    <button id="{{ group.lift.slug }}-toggle-W" data-settype="W" type="button" class="btn btn-primary lift-toggle" >Weighted</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <input type="hidden" name="{{ group.lift.slug }}-settype" value="B" />
                                {% endif %}
                            </div>
                        </div>
                            
                        {% for set_info in group.set_infos %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="set-container">
                                        <div class="set-error" style="display:none;" data-set_pk="{{ set_info.workout_set.pk }}">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div {% if group.lift.weight_or_body %}style="display:none;"{% endif %} class="col-xs-6">
                                    <div class="workout-input workout-input-weight input-group" >
                                        <input type="number" step="any"
                                               class="form-control"
                                               name="set-{{ set_info.workout_set.pk }}-weight"
                                               {% if set_info.completed_set %}value="{{ set_info.completed_set.weight_in_lbs|lbs_conversion:client }}"{% endif %}
                                                />
                                        <span class="input-group-addon">{{ client.units|weight_label }}</span>
                                    </div>    
                                </div>
                                        
                                <div {% if group.lift.weight_or_body %}class="col-xs-12"{% else %}class="col-xs-6"{% endif %}>
                                    <div class="workout-input workout-input-reps input-group">
                                        <input type="number" step="any"
                                               class="form-control"
                                               name="set-{{ set_info.workout_set.pk }}-reps"
                                               {% if set_info.completed_set %}
                                               value="{{ set_info.completed_set.num_reps_completed }}"
                                               {% else %}
                               value="{{ set_info.workout_set|custom_workoutset_num_reps:client }}"
                                               {% endif %}
                                                />
                                        <span class="input-group-addon">
                                            {% if group.lift.lift_type == "I" %}secs{% else %}reps{% endif %}
                                        </span>
                                    </div>    
                                </div>
                            </div>
                            {% endfor %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="set-container">
                                        <a class="save-sets obtn full-width"
                                                data-sets="{% for set_info in group.set_infos %}{{ set_info.workout_set.pk }}{% if not forloop.last %},{% endif %}{% endfor %}"
                                                data-week_number="{{ plan_day.get_week }}"
                                                data-day_char="{{ plan_day.day_of_week }}"
                                                data-lift="{{ group.lift.slug }}" >
                                            {% if group.exercise.num_sets > 1 %}Save Sets{% else %}Save Set{% endif %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- panel-body -->
                    </div><!-- panel-collapse -->
                </div><!-- panel -->
            {% endfor %}
        </div><!--/ panel-group -->

        <div class="notes-container">
            <textarea id="workout-notes" name="notes" placeholder="Additional notes..." >{{ gym_session.notes }}</textarea>
        </div>

        <div class="submit-container">
            <button type="submit" class="obtn log-workout-submit">
                Log Workout <i class="icon-arrow-right icon-white"></i>
            </button>
        </div>

    </form>

</div>


{% endblock %}

