{% extends "formpage.html" %}

{% block formpage_content %}
<div class="row">
    <div class="span4 offset4">

        <div class="formpage-block">

            <div class="header">Log in</div>
            <p class="info-text">Get help if you <a href="/forgot-password">forgot your password</a>. </p>
            <div class="content">
                <form action="#" method="post" name="login" class="formpage-block-form">

                    {% csrf_token %}

                    {% if form.errors.user %}
                        <div class='bigFormError alert alert-error'>{{ form.errors.user }}</div>
                    {% endif %}

                    {% if form.errors.email %}
                        <div class='bigFormError alert alert-error'>{{ form.errors.email }}</div>
                    {% endif %}

                    <div class="input-container">
                        <div class="error" data-field="age" ></div>
                        <input type="text" id='id_email' name='email' value='{{ form.data.email }}' placeholder="Email" />
                    </div>

                    {% if form.errors.password %}
                        <div class='bigFormError alert alert-error'>{{ form.errors.password }}</div>
                    {% endif %}

                    <div class="input-container">
                        <div class="error" data-field="age" ></div>
                        <input type="password" id='id_password' name='password' value='{{ form.data.password }}' placeholder="Password" />
                    </div>

                    <div class="submit-container">
                        <button class='obtn obtn-comment' type='submit'>Log in</button>
                    </div>

                </form>
            </div>
        </div>

<!--

        <div class="formpage-block">

            <div class="header">Sign up</div>
            <div class="content">
                <form action="registration" method="post" name="registration" class="formpage-block-form">

                    {% csrf_token %}

                    <div class="submit-container">
                        <button class='obtn obtn-comment-grn' type='submit'>Register</button>
                    </div>

                </form>
            </div>
        </div>
-->

    </div>
</div>
{% endblock %}
