<div id="onboarding-content">
    <div class="header intro-modal-header">
    	<h2>Welcome to Blitz!</h2>
        <p>
        	We're psyched to have you aboard, and you'll be transforming client's physiques (and your bank account) in no time.
        </p>
        <p>
        	Now might be a good time to throw your link (blitz.us/{{ trainer-name }}) up on your website, or invite clients via the button on the left. You can also create a group program for set of clients to join and do the same program for a set time, as well. We'll have your programs available within a day or so, so feel free to invite people now and we'll have it take care of by the time they sign up.
        </p>
        <p>
        	And don't forget—we're here for you. So if there's anything you need, don't hesitate to ping us. We are 100% commited to helping you grow your coaching business and provide an awesome experience for your clients.
        </p>
        <p id="trainersig">
        	— Team Blitz
        </p>
        <a id="video-continue" class="obtn obtn-comment intro-modal-close">Let's go! →</a>
	</div>
</div>
