<div id="onboarding-content">
    <div class="header intro-modal-header">
    	<image src="/static/images/checkmark.png" width="30px" height="30px" style="margin-right: 10px;">
    	Awesome! Your account is set up and you are ready to create a program.</div>
    <div class="content">
		<h2 class="intro-h2">How clients use Blitz:</h2>
		<div style="width: 100%; margin-bottom: 30px;">
			<div class="intro-modal-third" style="margin-right: 5%;">
				<image src="/static/images/intro-modal-image-1.png" style="width: 100%;">
				<p>Log diet goals each day. They're personalized for body type.</p>
			</div>

			<div class="intro-modal-third" style="margin-right: 5%;">
				<image src="/static/images/intro-modal-image-2.png" style="width: 100%;">
				<p>On lifting days, clients see a preview for their session and button to log it.</p>
			</div>

			<div class="intro-modal-third" style="margin-bottom: 30px;">
				<image src="/static/images/intro-modal-image-3.png" style="width: 100%;">
				<p>blitz.us on their phone to comment, report on diet, or log workouts.</p>
			</div>
		</div>

		<br />
        <p class="intro-blurb">Next step is to upload your program documents and we'll create a lifting program for you! Yea, that's the kind of people we are.</p>
        <a id="video-continue" class="obtn obtn-comment intro-modal-close">Let's go! →</a>
    </div>
</div>
