<div id="onboarding-content">
    <div class="header intro-modal-header">
    	<image src="/static/images/checkmark.png" width="30px" height="30px" style="margin-right: 10px;">
    	Awesome! Your account is set up and you are ready to take your coaching practice to the next level.</div>
    <div class="content">
		<h2 class="intro-h2">How clients use Blitz:</h2>
		<div style="width: 100%; margin-bottom: 30px;">
			<div class="intro-modal-third" style="margin-right: 5%;">
				<image src="/static/images/intro-modal-image-1.png" style="width: 100%;">
				<p>Diet logging is available every day. You can edit clients' macros whenever.</p>
			</div>

			<div class="intro-modal-third" style="margin-right: 5%;">
				<image src="/static/images/intro-modal-image-2.png" style="width: 100%;">
				<p>On lifting days, clients see a preview for their session and button to log it.</p>
			</div>

			<div class="intro-modal-third" style="margin-bottom: 30px;">
				<image src="/static/images/intro-modal-image-3.png" style="width: 100%;">
				<p>People like to use Blitz on phones since they can log and workout stuff on the go.</p>
			</div>
		</div>

		<br />
        <p class="intro-blurb" style="display: none;">If you haven't already, the next step would be to upload some programs.</p>
        <a id="video-continue" class="obtn obtn-comment intro-modal-close">Let's go! →</a>
    </div>
</div>
