{% extends "formpage.html" %}

{% block formpage_content %}
<div class="row">
    <div class="span4 offset4">

        <div class="formpage-block">

            <div class="header">Are you a trainer?</div>
            <p class="info-text">Register as a fitness trainer</a>. </p>
            <div class="content">
                <form action="register-trainer" method="get" name="register-trainer" class="formpage-block-form">
                    {% csrf_token %}

                    <div class="submit-container">
                        <button class='obtn obtn-comment' type='submit'>Trainer</button>
                    </div>

                </form>
            </div>
        </div>

        <div class="formpage-block">

            <div class="header">Do you even lift?</div>
            <p class="info-text">Register as someone who wants to lift</a>. </p>
            <div class="content">
                <form action="register-client" method="get" name="register-client" class="formpage-block-form">
                    {% csrf_token %}

                    <div class="submit-container">
                        <button class='obtn obtn-comment-grn' type='submit'>Client</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}
