{% extends "formpage.html" %}

{% block formpage_content %}


<style type="text/css">
    .blitz-login {margin-top: 30%;}
</style>

<div class="row">
    <div class="span4 offset4">
        <div class="formpage-block">
            <div class="header">Password successfully reset!</div>

            <p class="info-text">
                You're password has been reset - you are good to go.
            </p>

            <div class="submit-container">
                <a class='obtn obtn-comment' href="/" >Go to homepage</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}