{% extends "formpage.html" %}

{% block formpage_content %}


<style type="text/css">
    .blitz-login {margin-top: 30%;}
</style>

<div class="row">
    <div class="span4 offset4">
        <div class="formpage-block">
            <div class="header">Set A New Password</div>
            <div class="content">
                <form action="#" method="post" class="formpage-block-form">

                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <div class='bigFormError alert alert-error'>{{ form.non_field_errors }}</div>
                    {% endif %}

                    {% if form.errors.password1 %}
                        <div class='bigFormError alert alert-error'>{{ form.errors.password1 }}</div>
                    {% endif %}

                    <div class="input-container">
                        <div class="error" data-field="age" ></div>
                        <input type="password" id='id_password1' name='password1' value='{{ form.data.password1 }}' placeholder="Password" />
                    </div>

                    {% if form.errors.password2 %}
                        <div class='bigFormError alert alert-error'>{{ form.errors.password2 }}</div>
                    {% endif %}

                    <div class="input-container">
                        <div class="error" data-field="age" ></div>
                        <input type="password" id='id_password2' name='password2' value='{{ form.data.password2 }}' placeholder="Confirm password" />
                    </div>

                    <div class="submit-container">
                        <button class='obtn obtn-comment' type='submit'>Continue</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}