{% extends "base.html" %}

{% block moretitle %}
{% if blitz %}
    {{ blitz.title }} from {{ blitz.trainer.name }}
{% endif %}
{% endblock %}

{% block moremeta %}
{% if blitz %}
    {{ blitz.title }} from {{ blitz.trainer.name }}
{% endif %}
{% endblock %}

{% block body_extras %}

class="sales-page"
{% endblock %}

{% block morehead %}
  <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap-select.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

<script>
  $(function() {
    $( "#datepicker" ).datepicker();
    $( "#datepicker" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    var saved = "{{ saved }}";
    if (saved == "True") {
        $('#success-alert').show();
        setTimeout(function(){ $('#success-alert').hide(); }, 2000); }
  });
</script>
{% endblock %}

{% block outer_content %}

  <div class="container">
    <div class="row">
        <div class="alert alert-success fade in" id="success-alert" style="display:none;">
            Your changes were saved successfully.
        </div>
      <div class="span2" style="margin-left: -30px;">
        {% if debug_mode %}

          <form method="get" name="SalesBlitz" enctype="multipart/form-data" 
          action="sales-blitz?slug={{ blitz.url_slug }}&short_name={{ trainer.short_name }}&debug=True&key={{ blitz.sales_page_content.sales_page_key }}" class="formpage-block-form"> 
        {% else %}
          <form method="get" name="blitz-signup" action="/{{ trainer.short_name }}/{{ blitz.url_slug }}/signup"> 
        {% endif %}

        {% csrf_token %}

        {% if debug_mode %}
           <input type="text" name="sample" id="id_sample" value="value" style="height:0; display:none;"/>
           <input type="file" name="logo_picture" id="id_logo_picture" style="height:0; display:none;"/>
           <label class="" id="id_label" name="logo_picture"  for="id_logo_picture"/>
            
           {% if sales_page.logo %}
              <img class="brand logoborder" src="{{ MEDIA_URL }}{{ sales_page.logo }}" align="left" class="shadowimg" />
           {% else %}
               <div id="trainernologo">
                {{ sales_page.trainer.name }}
                <div class="tinytext">
                  (click to upload your logo here)
                </div>
               </div>
           {% endif %} 
           </label>
        {% else %}
           {% if logo %}
            <a class="brand" href="/" id="secondary_logo">
              <img src="{{ logo }}" align="left" class="shadowimg"/>
            </a>
           {% elif sales_page.logo %}
            <a class="brand" href="/" id="secondary_logo">
              <img src="{{ MEDIA_URL }}{{ sales_page.logo }}" align="left" class="shadowimg"/>
            </a>
            {% else %}
            <div id="trainernologo">
              {{ sales_page.trainer.name }}
            </div>
           {% endif %}
           {% if sales_page.video_html %}
              {% autoescape off %}{{ sales_page.video_html }}{% endautoescape %}
           {% endif %}
        {% endif %}
      </div>
      <div class="span8">
        &nbsp;
      </div>
      <div class="span2">
        <a class="brand" href="/" id="salespageblitzlogo">
          <img src="{{ STATIC_URL }}images/logo-w.png" align="right" />
        </a>
      </div>
    </div>

    <div class="row">
      <div class="blitz-sales">
       <div class="sales-header">
         {% if debug_mode %}
            <input type="text" name="sample" id="id_sample" value="value" style="height:0; display:none;"/>
            <input type="file" name="picture" id="id_picture" style="height:0; display:none;"/>
            <label id="id_label" name="picture"  for="id_picture"/>
            <img class="profile-headshot img-circle" 
              {% if sales_page.trainer_headshot %}
                   src="{{ MEDIA_URL }}{{ sales_page.trainer_headshot }}"
              {% else %}
                   src="{{ MEDIA_URL }}{{ sales_page.trainer.headshot }}"
              {% endif %}/>
            </label>
         {% else %}
          <div style="width:150px; height:150px; overflow: hidden; border: 6px solid white; margin: 0 auto; border-radius: 50%"> 
            <img class="img-circle"
              {% if head %} 
                   src="{{ head }}"
              {% elif sales_page.trainer_headshot %}
                   src="{{ MEDIA_URL }}{{ sales_page.trainer_headshot }}"
              {% else %}
                   src="{{ MEDIA_URL }}{{ sales_page.trainer.headshot }}"
              {% endif %}
            style="height: auto; border: none; width: auto; border-radius: 0px; min-width: 150px;"/>
          </div>
         {% endif %}   
       </div>
    </div>

  {% if debug_mode %} 
    <a style="display: none; color:lightgreen;">(Edit GREEN areas to create your sales page)</a>  
  {% endif %}

  <div class="sales-header">
     {% if logo %}
     <h1>Personal Fitness Coaching with {{ name }}</h1>
     {% else %}
     <h1>Personal Fitness Coaching with {{ sales_page.trainer.name }}</h1>
     {% endif %}

     <div class="content">
        {% if debug_mode %}
           <textarea class="edit" name="intro" id="intro">{{ sales_page.program_introduction }}
           </textarea>
        {% else %}
           {{ sales_page.program_introduction }}
        {% endif %}

        {% if blitz.group and not logo %}
            <br />Begins
            {% if debug_mode %}
                <input class="edit" type="text" name="datepicker" class="datepicker" id="datepicker" size:10 maxlength:30; value="{{ blitz.begin_date }}" placeholder="{{ blitz.begin_date }}">
            <script src="{{ STATIC_URL }}js/bootstrap-select.js"></script>
            <script type="text/javascript">
              $(document).ready(function(e) {
                  $('.selectpicker').selectpicker({ style: 'btn-info', size: "auto", });
                });
            </script>

                <small><i>(Programs always start on Monday)</i></small>
            {% else %}
                {{ blitz.begin_date }}
            {% endif %}             
            {% if blitz.recurring %} (Recurring) {% endif %}
            <br>

            Price: $
            {% if debug_mode %}
                <input class="edit" type="text" name="price" id="price" style="size:5; maxlength:30;" value="{{ blitz.price }}">
                <select name="price_model" id="price_model" class="selectpicker show-tick">
                    <option value="O"{% if "O" == blitz.price_model %} selected="selected"{% endif %}>
                      One-time
                    </option>
                    <option value="R"{% if "R" == blitz.price_model %} selected="selected"{% endif %}>
                      Recurring
                    </option>
                </select>
                <script src="{{ STATIC_URL }}js/bootstrap-select.js"></script>
                <script type="text/javascript">
                      $(document).ready(function(e) {
                          $('.selectpicker').selectpicker({ size: "auto", width: "160px" });
                      });
                </script>

            {% else %}
                {% if blitz.free %} FREE 
                {% else %} ${{ blitz.price }} 
                    {% if blitz.price_model == "R" %}
                       Monthly Recurring
                    {% else %}
                       One-time
                    {% endif %}
                {% endif %}
            {% endif %}</a>
           </div>

        {% endif %} 

        <div class="submit-container">
        {% if debug_mode %}
            <button class="obtn obtn-comment-half" style="opacity: 0.5;" class="disabled-button" disabled>
            Sign up for {{ blitz.title }}
            </button>
        {% else %}
            {% if logo %}
            <button class="obtn obtn-comment-half" disabled>
               Sign up for the Program
            </button>
            {% else %}
            <button action="submit" class="obtn obtn-comment-half" type='submit'>
               Sign up for {{ blitz.title }}
            </button>
            {% endif %}
        {% endif %}
     </div>
  </div>

</div>
</div>
</div>

  <div class="sales-page-section-2">
    <div class="container" style="padding: 20px;">
        <div class="span8 offset2 sales-note">

          <div class="sales-note-section">
                <div class="sns-heading">
                  Why work with me
                </div>
                 <div class="sns-body">
                    {% if debug_mode %}
                       <textarea class="edit" name="why" id="why">{{ sales_page.program_why }}</textarea>
                    {% else %}
                      {{ sales_page.program_why }}
                    {% endif %}
                 </div>                
             </div>

          <div class="sales-note-section">
                <div class="sns-heading">
                  Who can I help the most
                </div>
                <div class="sns-body">
                   {% if debug_mode %}
                      <textarea class="edit" name="who" id="who">{{ sales_page.program_who }}</textarea>
                   {% else %}
                   {{ sales_page.program_who }}
                   {% endif %}
                </div>
          </div>

          <div class="sales-note-section">
                <div class="sns-heading">
                  Some last words...
                </div>
                <div class="sns-body">
                   {% if debug_mode %}
                      <textarea class="edit" name="last" id="last">{{ sales_page.program_last_words }}</textarea>
                   {% else %}
                   {{ sales_page.program_last_words }}
                   {% endif %}
                </div>
          </div>

          <div class="sales-note-section">
            <div id="trainersig">
              {% if logo %}
              -{{ name }} 
              {% else %}
              -{{ sales_page.trainer.name }}
              {% endif %}
            </div>
          </div>

        </div>
    </div>
  </div>


  <div class="sales-page-section-3">
    {% if debug_mode %}
    <div class="sales-section-overlay">
      <div class="overlay-text">
        <i class="icon-lightbulb" style="display: none;"></i> This section just explains what training on Blitz is like (for now, you can't edit or remove it).
      </div>
    {% else %}
    {% endif %}
    <div class="container" style="padding: 20px;">
      <div class="row">
        <h1>How we'll take your fitness to the next level</h1>
      </div>
      <div class="row">
        <div class="span4" style="margin-left: 0px">
          <img src="{{ STATIC_URL }}images/vp1.png">
          <h3>
            A plan that’s right for you.
          </h3>
          <div class="desc">
            There’s no such thing as a one-size-fits-all program. I’ll make you a custom plan that fits your goals, fitness level, and training/eating preferences.
          </div>
        </div>
        <div class="span4">
          <img src="{{ STATIC_URL }}images/vp2.png">
          <h3>
            Someone that’s got your back.
          </h3>
          <div class="desc">
            Feedback and support is often the difference between reaching goals or staying stagnant. I’ll keep you on track and provide the info (or ass-kicking) you need.
          </div>

        </div>
        <div class="span4">
          <img src="{{ STATIC_URL }}images/vp3.png">
          <h3>
            The easiest tracking ever.
          </h3>
          <div class="desc">
            Since your workouts and diet goals are set up for you, so all you have to do is show up and check them off. No more tedious tracking—you just focus on your plan.
          </div>

        </div>
      </div>
    </div>
    {% if debug_mode %}
    </div>
    {% else %}
    {% endif %}
  </div>


  <div class="sales-page-section-4">
    <div class="container" style="padding: 20px;">
      <div class="row">
        <div class="span8 offset2">
          <h1>
            Don’t keep settling for the same results.
          </h1>
          <div class="desc">
            Get the progress and body you deserve. I’ll make it my personal mission to get you there.
          </div>

          <div class="submit-container">
          {% if debug_mode %}
            <button class="obtn full-width" style="opacity: 0.5;" class="disabled-button">
              Sign up for {{ blitz.title }}
            </button>
          {% else %}
            {% if logo %}
            <button class="obtn obtn-comment-half" disabled>
               Sign up for the Program
            </button>
            {% else %}
            <button action="submit" class="obtn full-width" type='submit'>
              Sign up for {{ blitz.title }}
            </button>
            {% endif %}
          {% endif %}
          </div>
        </form>
<script type="text/javascript">
$('input[type=file]').change(function(e) { document.SalesBlitz.submit(); });
</script> 

        </div>
      </div>
    </div>
  </div>

  <div class="sales-footer">
      ©Blitz MMXV
  </div>

{% if debug_mode %} 
  <div id="savebar">
    <div class="content">
      This is a preview of how your page will look to potential clients.
      <button action="submit" class='btn-outline' type='submit' onclick="document.forms['SalesBlitz'].submit();">
        <div class="savetext">Save</div>
      </button>
    </div>
  </div>
{% else %} 
  
{% endif %}

  </div>

{% endblock outer_content %}

