<div class="sidebar-box macros-sidebar-box">
   <div class="header">
       Diet goals
       <a onclick="{ jQuery.noConflict();$('#modalClientMacros').modal('show'); }" ><i class="glyphicon glyphicon-edit"></i> edit</a>
   </div>
   <div class="sidebar-box-content">
       <div class="macros-not-set">
           <p>You haven't set any diet goals yet.</p>
           <a>
               <button class="btn-outline" onclick="{ jQuery.noConflict();$('#modalClientMacros').modal('show'); }">Set diet goals</button>
           </a>
       </div>
   </div>
</div>
