{% load units_tags %}

<div class="modal-full fade" id="modalPlanSwitcher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog-full">
      <div class="modal-content-full">
         <div class="modal-header">
            <button type="button" onclick="window.location={% if url_return %} '{{ url_return }}'{% else %}'/program'{% endif %}; return false;" class="close" data-dismiss="modal">
               <span aria-hidden="true">× Close</span>
            </button>
         </div>
         <div class="modal-body">
             <div class="row">
                 <div class="col-md-6" style="float: none; margin: 0 auto;">
                     <h2 style="margin-top: 125px;">Switch workout plan</h2>
                     <p>You can switch to a different workout plan below. We recommend you give a plan at least 6-8 weeks to see if it's really working for you before switching, unless you can't do the workouts or think there's an injury risk.</p>
                     <div class="formpage-block">
                         <form method="post" name="client_plan"> {% csrf_token %}

                         <select name="plan-select" id="plan-select" class="selectpicker">
                         {% for program in programs %} {{ program.title }}
                            <option value={{ program.url_slug }}>{{ program.title }}</option>
                         {% endfor %}
                         </select>
                         <script src="{{ STATIC_URL }}js/bootstrap-select.js"></script>
                         <!-- Note: formulas also in base/view.py client_macros_set() -->
                         <script type="text/javascript">

                            $(document).ready(function(e) {
                                $('.selectpicker').selectpicker({ style: 'btn-info', size: "auto", });
                                $("#program_url").replaceWith('<a id="program_url" href="{{ SITE_URL }}/{{ programs.0.url_slug }}"> {{ SITE_URL }}/{{ programs.0.url_slug }} </a>');
                            });
                            $(document).on("change", "#plan-select", function(){
                                $("#program_url").replaceWith('<a id="program_url" href="{{ SITE_URL }}/'+$(this).val()+'"> {{ SITE_URL }}/'+$(this).val()+' </a>');
                            });
                         </script>
                     </div>
                     Not familiar? &nbsp; <a id="program_url" href="{{ SITE_URL }}/{{ client.get_blitz.url_slug }}"> {{ SITE_URL }}/{{ client.get_blitz.url_slug }} </a>

                     <br><br>
                     <button class="obtn btn-default" id="switch-button" onclick="{ window.location='/switch_program?slug='+$('#plan-select').val(); return false; }" class="close" data-dismiss="modal" style="">Switch Program →</button>

                     <a onclick="{ window.location='/home'; return false; }" data-dismiss="modal" style="">Cancel</a>

                 </div>

<br><br><br><br>

             </div>
         </div>
      </div>
   </div>
</div>


