{% extends "formpage.html" %}

{% block morehead %}
<style>
.well{
    background:rgba(255,255,255, 0.9);
}
</style>
{% endblock %}

{% block formpage_content %}

<div class="container">

    <div class="row">
        <div class="span6 top10">

           <h3>Tell us how you would like to modify {{ client.name }}'s program: </h3>

           <div class="formpage-block">
              <form method="post" name="spotter_program_edit"> {% csrf_token %}

                 <textarea name="edit_request" id="edit_request" class="input-xlarge" rows="9">{{ edit }}</textarea>
                 <br>
                 <input type="hidden" name="workoutplan_pk" value="{{ workoutplan }}">
                 <button class="obtn full-width" type='submit'>Send Edit Instructions</button>
              </form>
              <button onclick="window.location='/program'; return false;" class="obtn full-width" type='submit'>Return</button>

           </div>

        </div>
    </div>

</div>

{% endblock formpage_content %}

