<div class="modal-full fade" id="modalSpotterEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog-full">
      <div class="modal-content-full">
         <div class="modal-header">
            <button type="button" onclick="window.location={% if url_return %} '{{ url_return }}'{% else %}'/program'{% endif %}; return false; document.getElementById('modalInclude').style.display = 'none';" class="close" data-dismiss="modal">
               <span aria-hidden="true">× Close</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="span6" style="float: none; margin: 0 auto;">
                  <h3>Tell a spotter how you would like to modify {{ client.name }}'s version of' <a id="plan_name">{{ workoutplan.name }}</a>: </h3>
                  <div class="formpage-block">
                     <form method="post" name="spotter_program_edit"> {% csrf_token %}
                        <textarea name="edit_request" id="edit_request" class="input-xlarge" rows="9">{{ edit }}</textarea>

                     {% if url_return %} <!-- coming from dashboard so handle inline modal   -->
                        <button class="obtn btn" onclick="{ save_spotter_edit(); return false; }" class="close" data-dismiss="modal">Send Edit Instructions</button>
                     {% else %} <!-- coming from programs page so handle as post -->
                        <input type="hidden" name="workoutplan_pk" value="{{ workoutplan }}">
                        <button class="obtn btn" type='submit'>Send Edit Instructions</button>
                     {% endif %}
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
