{% extends "client_content.html" %}

{% load blitz_tags %}

{% block morehead %}

    <link rel="canonical" href="http://therealchrisyork.wufoo.com/forms/q7x2x3/">

    <!-- CSS -->
    <link href="/stylesheets/public/forms/css/index.903.css" rel="stylesheet">

    <!--[if lt IE 10]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% endblock %}

{% block above_content %}



{% endblock %}

{% block main %}
    <div class="col-md-8 offset2">
        
        <div class="content">

            <form id="form3" name="form3" class="wufoo topLabel page1" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
action="http://therealchrisyork.wufoo.com/forms/q7x2x3/#public">

            <header id="header" class="info">
            <h2>Blitz Survey</h2>
            <div>We want to make sure that we're doing everything we can to make your experience as awesome as possible.<br />
            <br />
            You can 'x' this out if you are busy or don't want to do it, but if you take 10 seconds to answer some questions, we'd really appreciate it ;-)</div>
            </header>

            <ul>




            <li id="fo3li1" class="notranslate      ">
            <fieldset>
            <![if !IE | (gte IE 8)]>
            <legend id="title1" class="desc">
            What do you think of the Blitz website overall?
            </legend>
            <![endif]>
            <!--[if lt IE 8]>
            <label id="title1" class="desc">
            What do you think of the Blitz website overall?
            </label>
            <![endif]-->
            <div>
            <input id="radioDefault_1" name="Field1" type="hidden" value="" />
            <span>
            <input id="Field1_0" name="Field1" type="radio" class="field radio" value="It&#039;s awesome! Pretty much perfect." tabindex="1" onchange="handleInput(this);" onmouseup="handleInput(this);" checked="checked" />
            <label class="choice" for="Field1_0" >
            It's awesome! Pretty much perfect.</label>
            </span>
            <span>
            <input id="Field1_1" name="Field1" type="radio" class="field radio" value="It&#039;s pretty good, just a few things here and there could be better." tabindex="2" onchange="handleInput(this);" onmouseup="handleInput(this);" />
            <label class="choice" for="Field1_1" >
            It's pretty good, just a few things here and there could be better.</label>
            </span>
            <span>
            <input id="Field1_2" name="Field1" type="radio" class="field radio" value="It&#039;s okay. Some things good, some things bad." tabindex="3" onchange="handleInput(this);" onmouseup="handleInput(this);" />
            <label class="choice" for="Field1_2" >
            It's okay. Some things good, some things bad.</label>
            </span>
            <span>
            <input id="Field1_3" name="Field1" type="radio" class="field radio" value="It&#039;s pretty bad. More bad things than good." tabindex="4" onchange="handleInput(this);" onmouseup="handleInput(this);" />
            <label class="choice" for="Field1_3" >
            It's pretty bad. More bad things than good.</label>
            </span>
            <span>
            <input id="Field1_4" name="Field1" type="radio" class="field radio" value="Blitz sucks, you should shut it down." tabindex="5" onchange="handleInput(this);" onmouseup="handleInput(this);" />
            <label class="choice" for="Field1_4" >
            Blitz sucks, you should shut it down.</label>
            </span>
            </div>
            </fieldset>
            </li>


            <li id="fo3li104" 
            class="notranslate      ">


            <label class="desc" id="title104" for="Field104">
            Comments (e.g. what we could do better, or what you like most)
            </label>

            <div>
            <textarea id="Field104" 
            name="Field104" 
            class="field textarea medium" 
            spellcheck="true" 
            rows="10" cols="50" 
            tabindex="6" 
            onkeyup="handleInput(this); "
            onchange="handleInput(this);" 
             ></textarea>

            </div>



            </li>



            <li id="fo3li2" class="notranslate      ">
            <fieldset>
            <![if !IE | (gte IE 8)]>
            <legend id="title2" class="desc">
            What do you think of Joy's program overall?
            </legend>
            <![endif]>
            <!--[if lt IE 8]>
            <label id="title2" class="desc">
            What do you think of Joy's program overall?
            </label>
            <![endif]-->
            <div>
            <input id="radioDefault_2" name="Field2" type="hidden" value="" />
            <span>
            <input id="Field2_0" name="Field2" type="radio" class="field radio" value="I love it." tabindex="7" onchange="handleInput(this);" onmouseup="handleInput(this);" checked="checked" />
            <label class="choice" for="Field2_0" >
            I love it.</label>
            </span>
            <span>
            <input id="Field2_1" name="Field2" type="radio" class="field radio" value="I like it a lot, but don&#039;t 100% love it." tabindex="8" onchange="handleInput(this);" onmouseup="handleInput(this);" />
            <label class="choice" for="Field2_1" >
            I like it a lot, but don't 100% love it.</label>
            </span>
            <span>
            <input id="Field2_2" name="Field2" type="radio" class="field radio" value="It&#039;s okay. I&#039;m kinda meh." tabindex="9" onchange="handleInput(this);" onmouseup="handleInput(this);" />
            <label class="choice" for="Field2_2" >
            It's okay. I'm kinda meh.</label>
            </span>
            <span>
            <input id="Field2_3" name="Field2" type="radio" class="field radio" value="I&#039;m not really liking it." tabindex="10" onchange="handleInput(this);" onmouseup="handleInput(this);" />
            <label class="choice" for="Field2_3" >
            I'm not really liking it.</label>
            </span>
            <span>
            <input id="Field2_4" name="Field2" type="radio" class="field radio" value="I kinda hate it." tabindex="11" onchange="handleInput(this);" onmouseup="handleInput(this);" />
            <label class="choice" for="Field2_4" >
            I kinda hate it.</label>
            </span>
            <span>
            <input id="Field2_5" name="Field2" type="radio" class="field radio" value="Other" tabindex="12" onchange="handleInput(this);" onmouseup="handleInput(this);" onmouseup="document.getElementById('Field2_other').focus();" />
            <label class="choice" for="Field2_5"  onmouseup="document.getElementById('Field2_other').focus();">
            Other</label>
            <input id="Field2_other" name="Field2_other_Other" type="text" class="field text other" value="" onclick="document.getElementById('Field2_5').checked = 'checked';" onkeyup="handleInput(this);" onchange="handleInput(this);" tabindex="13" />
            </span>
            </div>
            </fieldset>
            </li>


            <li id="fo3li105" 
            class="notranslate      ">


            <label class="desc" id="title105" for="Field105">
            Comments (e.g. what could be better, or what you like most)
            </label>

            <div>
            <textarea id="Field105" 
            name="Field105" 
            class="field textarea medium" 
            spellcheck="true" 
            rows="10" cols="50" 
            tabindex="14" 
            onkeyup="handleInput(this); "
            onchange="handleInput(this);" 
             ></textarea>

            </div>



            </li>



            <li id="fo3li3" class="notranslate      ">
            <fieldset>
            <![if !IE | (gte IE 8)]>
            <legend id="title3" class="desc">
            What do you think of Joy's coaching?
            </legend>
            <![endif]>
            <!--[if lt IE 8]>
            <label id="title3" class="desc">
            What do you think of Joy's coaching?
            </label>
            <![endif]-->
            <div>
            <input id="radioDefault_3" name="Field3" type="hidden" value="" />
            <span>
            <input id="Field3_0" name="Field3" type="radio" class="field radio" value="I think she&#039;s awesome and I&#039;m getting exactly what I need from her." tabindex="15" onchange="handleInput(this);" onmouseup="handleInput(this);" checked="checked" />
            <label class="choice" for="Field3_0" >
            I think she's awesome and I'm getting exactly what I need from her.</label>
            </span>
            <span>
            <input id="Field3_1" name="Field3" type="radio" class="field radio" value="I think it&#039;s pretty good--maybe she could do a little better, but not much." tabindex="16" onchange="handleInput(this);" onmouseup="handleInput(this);" />
            <label class="choice" for="Field3_1" >
            I think it's pretty good--maybe she could do a little better, but not much.</label>
            </span>
            <span>
            <input id="Field3_2" name="Field3" type="radio" class="field radio" value="I wish she were more active on Blitz." tabindex="17" onchange="handleInput(this);" onmouseup="handleInput(this);" />
            <label class="choice" for="Field3_2" >
            I wish she were more active on Blitz.</label>
            </span>
            <span>
            <input id="Field3_3" name="Field3" type="radio" class="field radio" value="I wish she were a bit harder on me." tabindex="18" onchange="handleInput(this);" onmouseup="handleInput(this);" />
            <label class="choice" for="Field3_3" >
            I wish she were a bit harder on me.</label>
            </span>
            <span>
            <input id="Field3_4" name="Field3" type="radio" class="field radio" value="I wish she were a bit easier on me." tabindex="19" onchange="handleInput(this);" onmouseup="handleInput(this);" />
            <label class="choice" for="Field3_4" >
            I wish she were a bit easier on me.</label>
            </span>
            <span>
            <input id="Field3_5" name="Field3" type="radio" class="field radio" value="Other" tabindex="20" onchange="handleInput(this);" onmouseup="handleInput(this);" onmouseup="document.getElementById('Field3_other').focus();" />
            <label class="choice" for="Field3_5"  onmouseup="document.getElementById('Field3_other').focus();">
            Other</label>
            <input id="Field3_other" name="Field3_other_Other" type="text" class="field text other" value="" onclick="document.getElementById('Field3_5').checked = 'checked';" onkeyup="handleInput(this);" onchange="handleInput(this);" tabindex="21" />
            </span>
            </div>
            </fieldset>
            </li>


            <li id="fo3li106" 
            class="notranslate      ">


            <label class="desc" id="title106" for="Field106">
            Comments (e.g. what could be better, or what you like most)
            </label>

            <div>
            <textarea id="Field106" 
            name="Field106" 
            class="field textarea medium" 
            spellcheck="true" 
            rows="10" cols="50" 
            tabindex="22" 
            onkeyup="handleInput(this); "
            onchange="handleInput(this);" 
             ></textarea>

            </div>



            </li>


             


            <li class="buttons ">
            <div>
            <input type="hidden" name="currentPage" id="currentPage" value="EShSFfmWeAEEfBdzv0QpI1GhG82sl57mNmB7mPcK9vg=" />

                                <input id="saveForm" name="saveForm" class="btTxt submit" 
                type="submit" value="Submit"
             onmousedown="doSubmitEvents();" />


            </div>
            </li>

            <li class="hide">
            <label for="comment">Do Not Fill This Out</label>
            <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
            <input type="hidden" id="idstamp" name="idstamp" value="9tF6TIK2TeHK3aaTmqv1cHmG/b8fyx2DE3xcmKb75wg=" />
            <input type="hidden" id="stats" name="stats" value="{&quot;errors&quot;:0,&quot;startTime&quot;:0,&quot;endTime&quot;:0,&quot;referer&quot;:null}" />
            <input type="hidden" id="clickOrEnter" name="clickOrEnter" value="" />
            </li>
            </ul>
            </form> 

            </div><!--container-->

            <style type="text/css">
            @import url(/stylesheets/ads/css/power.903.css);
            </style>

            <a class="powertiny" href="http://wufoo.com/form-builder/" title="Powered by Wufoo"
            style="display:block !important;visibility:visible !important;text-indent:0 !important;position:relative !important;height:auto !important;width:95px !important;overflow:visible !important;text-decoration:none;cursor:pointer !important;margin:0 auto !important">
            <span style="background:url(/images/powerlogo.png) no-repeat center 7px;margin:0 auto;display:inline-block !important;visibility:visible !important;text-indent:-9000px !important;position:static !important;overflow: auto !important;width:62px !important;height:30px !important">Wufoo</span>
            <b style="display:block !important;visibility:visible !important;text-indent:0 !important;position:static !important;height:auto !important;width:auto !important;overflow: auto !important;font-weight:normal;font-size:9px;color:#777;padding:0 0 0 3px;">Powered</b>
            </a>
            <!-- JavaScript -->
            <script src="/scripts/public/dynamic.903.js?language=english"></script>

            <script>
            __RULES = [];
            __ENTRY = [];
            __PRICES = null;

            </script>             

        </div>
    </div>
        {% endfor %}
    {% endfor %}

{% endblock %}

