{% extends "client_content.html" %}

{% load blitz_tags %}

{% block morehead %} {{ super }}

<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap-select.css">
<script type="text/javascript">
  jQuery(function() {
      var form = jQuery("#blitz_setup_form");
      form.submit(function(e) {
          jQuery("#ajaxwrapper").load(
              form.attr('action') + ' #ajaxwrapper',
              form.serializeArray(),
              function(responseText, responseStatus) {
                  $('.selectpicker').selectpicker({ style: 'btn-info', size: "auto", });

                  alert('here');
                  try { json = JSON.parse(responseText);
                        // handle successful return from view
                        alert(json["continue"]);
                      } catch (e) {  }
              }
          );
          e.preventDefault(); 
      });
  });
  </script>

{% if user.blitz and user.blitz.members %}
<script type='text/javascript' src='{{ STATIC_URL }}js/dashboard.js'></script>
{% endif %}
<script type='text/javascript' src='{{ STATIC_URL }}js/intromodal.js'></script>

<script type="text/javascript">
  var SHOW_INTRO = {% if show_intro %}true{% else %}false{% endif %};
</script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard.css">
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/stylesheets/style.css' />
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap-select.css">

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

<script>
  $(function() {
    $( "#datepicker" ).datepicker();
    $( "#datepicker" ).datepicker( "option", "dateFormat", "mm/dd/yy" );
  });
</script>

{% endblock %}

{% block outer_content %}
{% block content %}

{% block header_content %}{{ super }}
    {% include "header_content.html" %}
    <div class="clearfix"></div>
{% endblock %}

<div id="dashboard">
	<div class="sidebar-left">
		<div class="inner">
			{% if clients  %}
			<div class="search-input">
				<input type='text' class="search-text" placeholder="  Search for a client or program...">
			</div>
			<ul class='filters scopes'>
				<li class='item' data-scope='alerts'>
					<div class="item-inner">
						Alerts
					</div>
					{% if alerts_count %}
					<span class="results-count"><span class="inner">{{ alerts_count }}</span></span>
					{% endif %}
				</li>
				<li class="item active" data-scope='all'>
					<div class="item-inner">
						All Updates
					</div>
					{% if updates_count %}
					<span class="results-count"><span class="inner">{{ updates_count }}</span></span>
					{% endif %}
				</li>				
				<div class="separator">
				</div>

				{% if blitzes %}
					{% for blitz in blitzes %}
	                    {% if not blitz.provisional and not blitz.recurring %}
						<li class='item blitz' data-object-pk="{{ blitz.pk }}" data-scope='blitz'>
							<div class="item-inner">
		  			            {{ blitz.title }}
							</div>
							{% if blitz.unviewed_feeds_count %}
							<span class="results-count"><span class="inner">{{ blitz.unviewed_feeds_count }}</span></span>
							{% endif %}
						</li>
	                    {% endif %}
					{% endfor %}

					<div class="separator">
					</div>
				{% endif %}

				{% for client in clients %}
				<li class='item solo-client' data-object-pk="{{ client.pk }}" data-scope='client'>
					<div class="item-inner">
		                {{ client.name }}
					</div>
					{% if client.unviewed_feeds_count %}
					<span class="results-count"><span class="inner">{{ client.unviewed_feeds_count }}</span></span>
					{% endif %}
				</li>
				{% endfor %}				
			</ul>
			{% else %}
			<div class="new-trainer-experience">
				<div>
					<h3>Clients and Groups</h3>
				</div>
				<div>
					<p>
						When you're got clients or groups, they'll be listed over here.
					</p>
				</div>	
			</div>
			{% endif %}
			<div class="actions">
				<button type='button' class='obtn fullwidth' onclick="window.location='/client-setup'; return false;">+ Add Client</button>
				<button type='button' class='btn-outline-trans fullwidth' onclick="window.location='/blitz-setup?group'; return false;">+ Add Group</button>

<br><br>


			</div>
		</div> <!-- inner -->
	</div> <!--/ sidebar-left -->

	<div class="content-wrapper">
		<div class="content row-fluid">
			<!-- Inbox Container -->
			<div class="inbox-container">
				<!-- Will be populated using AJAX -->
			</div>

			<div class="feeds">
				<!-- Blitz group header -->
				<div class="group">
					<!-- Will be populated using AJAX -->
				</div>

				{% if alerts %}
					<div class="alerts-wrapper hidden">
						{% include "trainer_alerts.html" %}
					</div>
				{% endif %}
				{% if user.blitz and user.blitz.members %}
					<div class="feeds-filter">
						<ul>
							<li class="active" data-scope-filter="all">Everything</li>
							<li data-scope-filter="workouts">Workouts</li>
							<li data-scope-filter="checkins">Check-Ins</li>
						</ul>
					</div>
		        	{% include "main_feed.html" %}
		                {% else %}
		                     <div id="main-feed">
			                 {% include "dashboard/_dummy_gym_session_feed.html" %}
			                 {% include "dashboard/_dummy_comment_feed.html" %}
 		                     </div>

		        {% endif %}
			</div> <!--/ feeds -->

			<!-- Summary -->
			<div id="summary">
				{% if not clients %}
					{% include "dashboard/_dummy_client_summary.html" %}
				{% endif %}
			</div>

			<div class="clearfix">
			</div>
		</div>
	</div> <!--/ content -->
</div>

<div id="modalInclude">
	<!-- include modals -->
	{% include "spotter_program_edit_modal.html" with trainer=trainer workoutplan=workoutplan url_return='#' %}
	{% include "blitz_macros_modal.html" with trainer=trainer blitz=blitz url_return='#' %}
	{% include "client_macros_modal.html" with trainer=trainer client=client url_return='#' %}

	{% include "blitz_setup2.html" %}

<div id="intro-modal" class="modal hide fade blitz-modal" tabindex="-1">
	{% include "onboarding_content_trainer.html" with trainer=trainer %}
</div>
</div>

{% endblock content %}

{% endblock outer_content %}
