{% extends "formpage.html" %}

<script>
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap-select.css">
</script>

{% load tz %}

{% block formpage_content %}

<div class="span5 offset3">
    <div class="formpage-block">

            <form  action="#" method="post">
                <div class="header">Registration</div>
                <p class="info-text">You've been chosen as one of the elite few to get early access to Blitz. Now, tell us a little bit about yourself: </p>

                {% csrf_token %}

                <div class="fieldWrapper">{{ form.name }}
                {{ form.name.errors.as_text }}</div>

                <div class="fieldWrapper">{{ form.email }}
                {{ form.email.errors.as_text }}</div>

                <div class="fieldWrapper">
                {{ form.password1 }}
                {{ form.password1.errors.as_text }}</div>

                <div class="fieldWrapper">
                {{ form.password2 }}
                {{ form.non_field_errors.as_text }}</div>

                <select name="timezone" id="timezone-select" class="full-width">
                    {% for tz in timezones %}
                    {% if form.default_timezone %}
                    <option value="{{ tz }}"{% if tz == form.default_timezone.value %} selected="selected"{% endif %}>{{ tz }}</option>
                    {% else %}
                    <option value="{{ tz }}"{% if tz == default_timezone %} selected="selected"{% endif %}>{{ tz }}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                    <script src="{{ STATIC_URL }}js/bootstrap-select.js"></script>
                    <script type="text/javascript">
                          $(document).ready(function(e) {
                              $('.selectpicker').selectpicker({ style: 'btn-info', size: "auto", width: "350px" });
                          });
                    </script>

                <div class="fieldWrapper">
                <p class="info-text">What vanity URL would you like? E.g. "blitz.us/<b><u>CT-Fletcher</u></b>"<br></p>
                {{ form.short_name }}<br>
                {{ form.short_name.errors.as_text }}</div>

                <button class="obtn full-width btn-warning">Complete Signup</button>
             </form>
     </div>
  </div>
</div>
</div>
{% endblock %}


