{% extends "client_content.html" %}

{% load blitz_tags %}

{% block morehead %} {{ super }}

{% if user.blitz and user.blitz.members %}
<script type='text/javascript' src='{{ STATIC_URL }}js/dashboard.js'></script>
{% endif %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard.css">
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/stylesheets/style.css' />
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap-select.css">

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

{% endblock %}

{% block outer_content %}
{% block content %}

{% block header_content %}{{ super }}
    {% include "header_content.html" %}
    <div class="clearfix"></div>
{% endblock %}

<div id="dashboard">
	<div class="sidebar-left">
		<div class="inner">
			{% if clients  %}
			<div class="search-input">
				<input type='text' class="search-text" placeholder="  Search for a client or program...">
			</div>
			<ul class='filters scopes'>
				<li class='item' data-scope='alerts'>
					<div class="item-inner">
						Alerts
					</div>
					{% if alerts_count %}
					<span class="results-count"><span class="inner">{{ alerts_count }}</span></span>
					{% endif %}
				</li>
				<li class="item active" data-scope='all'>
					<div class="item-inner">
						All Updates
					</div>
					{% if updates_count %}
					<span class="results-count"><span class="inner">{{ updates_count }}</span></span>
					{% endif %}
				</li>				
				<div class="separator">
				</div>

				{% if blitzes %}
					{% for blitz in blitzes %}
	                    {% if not blitz.provisional and not blitz.recurring %}
						<li class='item blitz' data-object-pk="{{ blitz.pk }}" data-scope='blitz'>
							<div class="item-inner">
		  			            {{ blitz.title }}
							</div>
							{% if blitz.feeds_count %}
							<span class="results-count"><span class="inner">{{ blitz.feeds_count }}</span></span>
							{% endif %}
						</li>
	                    {% endif %}
					{% endfor %}

					<div class="separator">
					</div>
				{% endif %}

				{% for client in clients %}
				<li class='item solo-client' data-object-pk="{{ client.pk }}" data-scope='client'>
					<div class="item-inner">
		                {{ client.name }}
					</div>
					{% if client.feeds_count %}
					<span class="results-count"><span class="inner">{{ client.feeds_count }}</span></span>
					{% endif %}
				</li>
				{% endfor %}				
			</ul>
			{% else %}
			<div class="new-trainer-experience">
				<div>
					<h3>Clients and Groups</h3>
				</div>
				<div>
					<p>
						When you're got clients or groups signed up, they'll be listed out over here.
					</p>
					<p>We recommend talking up your coaching practice on your website or with clients directly (e.g. via Skype), and the once they're cool with your pricing, invite them to sign up here.
					</p>
				</div>	
			</div>
			{% endif %}
			<div class="actions">
				<button type='button' class='obtn fullwidth' onclick="window.location='/blitz-setup'; return false;">+ Add Client/Group</button>
				{% if not clients %}
				<button type='button' class='obtn fullwidth' onclick="window.location='/blitz-setup'; return false;">Ping Us</button>
				{% endif %}
			</div>
		</div> <!-- inner -->
	</div> <!--/ sidebar-left -->

	<div class="content-wrapper">
		<div class="content row-fluid">
			<!-- Inbox Container -->
			<div class="inbox-container">
				<!-- Will be populated by AJAX -->
			</div>

			<div class="feeds">
				<!-- Blitz group header -->
				<div class="group">
					<!-- Will be populated by AJAX -->
				</div>

				{% if alerts %}
					<div class="alerts-wrapper hidden">
						{% include "trainer_alerts.html" %}
					</div>
				{% endif %}
				{% if user.blitz and user.blitz.members %}
					<div class="feeds-filter">
						<ul>
							<li class="active" data-scope-filter="all">Everything</li>
							<li data-scope-filter="workouts">Workouts</li>
							<li data-scope-filter="checkins">Check-Ins</li>
						</ul>
					</div>
		        	{% include "main_feed.html" %}
		        {% else %}
		        <div id="main-feed">
			        <div id="welcome-text">
			        	<h2>Welcome to BLITZ!</h2>
    			        <p>We're psyched to have you aboard, and you'll be transforming client's physiques(and your bank account) in not time.</p>
    			        <p>Now might be a good time to throw your link(blitz.us/trainer-name) up on your website, or invite clients via the button on the left, if your're really ambitious, you can create a group program for set of clients to join and do the same program for a set time starting on the same date. We'll have your programs set tup within a day, so feel free to invite people now and we'll have it take cor of. Also, if you want to edit your page, it's unde Pages up top. Same goes for adding more programs.</p>
    			        <p>And don't forget-we're here for you. So if there's anything you need, don't hesitate to ping us. We are 100% commited to helping you grow your coaching business and provide an awesome experience for your clients.</p>
    			    </div>
			        {% include "dashboard/_dummy_gym_session_feed.html" %}
			        {% include "dashboard/_dummy_comment_feed.html" %}
		        </div>
		        <!-- <form action="upload" method="get" name="upload" class="formpage-block-form">
		        {% csrf_token %}
		        <br>
    	        <div class="submit-container">
		            <button class='obtn obtn-half' type='submit'>Upload stuff</button>
		        </div>
		        </form> -->
		        {% endif %}
			</div> <!--/ feeds -->

			<!-- Summary -->
			<div id="summary">
				{% if not clients %}
					{% include "dashboard/_dummy_client_summary.html" %}
				{% endif %}
			</div>

			<div class="clearfix"></div>
		</div>
	</div> <!--/ content -->

<!-- include spotter_program_edit_modal -->
{% include "spotter_program_edit_modal.html" with trainer=trainer workoutplan=workoutplan url_return='#' %}
<!-- include blitz_macros_modal -->
{% include "blitz_macros_modal.html" with trainer=trainer blitz=blitz url_return='#' %}
<!-- include client_macros_modal -->
{% include "client_macros_modal.html" with trainer=trainer client=client url_return='#' %}
</div>

{% endblock content %}

{% endblock outer_content %}
