{% extends "formpage.html" %}



{% block formpage_content %}
<div class="row">
    <div class="col-md-6 offset3">
        <div class="formpage-block">
            <div class="header">sign up</div>
            <div class="content">
                <form id="form4" name="form4" class="wufoo topLabel page" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
action="https://therealchrisyork.wufoo.com/forms/r7x2q5/#public">

                <header id="header" class="info">
                <h2>Blitz Trainer Application</h2>
                <div>We're rolling out Blitz slowly to select trainers. If you'd like to use Blitz to train a group online, tell us a bit about yourself and your potential program.</div>
                </header>

                <ul>

                <li id="foli1" class="notranslate      ">
                <label class="desc" id="title1" for="Field1">
                Name
                <span id="req_1" class="req">*</span>
                </label>
                <div>
                <input id="Field1" name="Field1" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup="" required />
                </div>
                </li><li id="foli2" class="notranslate      ">
                <label class="desc" id="title2" for="Field2">
                Email
                <span id="req_2" class="req">*</span>
                </label>
                <div>
                <input id="Field2" name="Field2" type="text" class="field text medium" value="" maxlength="255" tabindex="2" onkeyup="" required />
                </div>
                </li><li id="foli13" class="notranslate       ">
                <label class="desc" id="title13" for="Field13">
                Website (Optional)
                </label>
                <div>
                <input id="Field13" name="Field13" type="url" class="field text medium" value="" maxlength="255" tabindex="3" /> 
                </div>
                </li><li id="foli4" class="notranslate      ">
                <label class="desc " id="title4" for="Field4">
                How much would you charge clients for a 12-week group coaching program?
                <span id="req_4" class="req">*</span>
                </label>
                <div>
                <input id="Field4" name="Field4" type="text" class="field text nospin medium"  value="" tabindex="4" onkeyup="" required />
                </div>
                </li><li id="foli3" class="notranslate      ">
                <label class="desc " id="title3" for="Field3">
                How many clients do you expect to sign up for your group?
                <span id="req_3" class="req">*</span>
                </label>
                <div>
                <input id="Field3" name="Field3" type="text" class="field text nospin medium"  value="" tabindex="5" onkeyup="" required />
                </div>
                </li><li id="foli5" class="notranslate      ">
                <fieldset>
                <![if !IE | (gte IE 8)]>
                <legend id="title5" class="desc">
                <label class="desc ">
                When would you be interested in running your first group?
                </label>
                <span id="req_5" class="req">*</span>
                </legend>
                <![endif]>
                <!--[if lt IE 8]>
                <label id="title5" class="desc">
                When would you be interested in running your first group?
                <span id="req_5" class="req">*</span>
                </label>
                <![endif]-->
                <div>
                <input id="radioDefault_5" name="Field5" type="hidden" value="" />
                <span>
                <input id="Field5_0" name="Field5" type="radio" class="field radio" value="As soon as possible" tabindex="6" checked="checked" required />
                <label class="choice" for="Field5_0" >
                As soon as possible</label>
                </span>
                <span>
                <input id="Field5_1" name="Field5" type="radio" class="field radio" value="Within a month" tabindex="7" required />
                <label class="choice" for="Field5_1" >
                Within a month</label>
                </span>
                <span>
                <input id="Field5_2" name="Field5" type="radio" class="field radio" value="Within 2-3 months" tabindex="8" required />
                <label class="choice" for="Field5_2" >
                Within 2-3 months</label>
                </span>
                <span>
                <input id="Field5_3" name="Field5" type="radio" class="field radio" value="3+ months from now" tabindex="9" required />
                <label class="choice" for="Field5_3" >
                3+ months from now</label>
                </span>
                </div>
                </fieldset>
                </li><li id="foli14" 
                class="notranslate      "><label class="desc" id="title14" for="Field14">
                Is there anything unique about your particular strength program? (E.g. very specific rest times, complex super sets, or other detailed instructions. We're not for or against any specific approach--we just want to make sure we can accommodate your program.)
                </label>

                <div>
                <textarea id="Field14" 
                name="Field14" 
                class="field textarea medium"
                style="width: 100%;" 
                spellcheck="true" 
                rows="10" cols="50" 
                tabindex="10" 
                onkeyup=""
                 ></textarea>

                </div>
                </li>
                <li id="foli15" 
                class="notranslate      "><label class="desc" id="title15" for="Field15">
                Anything else you want to share?
                </label>

                <div>
                <textarea id="Field15" 
                name="Field15" 
                class="field textarea medium" 
                style="width: 100%;" 
                spellcheck="true" 
                rows="10" cols="50" 
                tabindex="11" 
                onkeyup=""
                 ></textarea>

                </div>
                </li> <li class="buttons ">
                <div>

                                    <input id="saveForm" name="saveForm" class="btTxt submit obtn obtn-comment"
                    type="submit" value="Submit"
                 /></div>
                </li>

                <li class="hide">
                <label for="comment">Do Not Fill This Out</label>
                <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                <input type="hidden" id="idstamp" name="idstamp" value="9EXGMEGBuwV2pd4vFL1QFtW35oLeb85U/dnz9H+ofl0=" />
                </li>
                </ul>
                </form> 
            </div>
        </div>
    </div>
    
</div>
<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
<script type="text/javascript">
$(document).ready(function() {

    var blitz_key = {{ blitz.urlkey }};
    var $form = $('#blitz-signup-form');

    var marketplaceUri = "{{ marketplace_uri }}";
    balanced.init(marketplaceUri);

    function disableForm() {
        $form.find('input').attr('disabled', 'disabled');
        $('#signup-loading').show();
        $('#blitz-signup-submit').hide();
    }

    function enableForm() {
        $form.find('input').removeAttr('disabled');
        $('#signup-loading').hide();
        $('#blitz-signup-submit').show();
    }

    function showFinished() {
        window.location.href = "{{ next_url }}";
    }

    function resetErrors() {
        $('.form-error').html("");
        $('.form-error').hide();
    }

    function finishItOff(card_uri) {
        $.post('/blitz/' + blitz_key + '/_/payment_hook', {'card_uri': card_uri} , function(data) {
            if (data.has_error) {
                $form.find('.error-card').html(data.error);
                $form.find('.error-card').show();
                enableForm();
            } else {
                showFinished();
            }
        });
    }

    function balancedCallback(response) {
        switch (response.status) {
            case 201:
                finishItOff(response.data.uri);
                break;

            case 400:
                if (response.error.card_number) {
                    $form.find('.error-card_number').html(response.error.card_number);
                    $form.find('.error-card_number').show();
                }
                if (response.error.expiration_month) {
                    $form.find('.error-expiration_month').html(response.error.expiration_month);
                    $form.find('.error-expiration_month').show();
                }
                if (response.error.expiration_year) {
                    $form.find('.error-expiration_year').html(response.error.expiration_year);
                    $form.find('.error-expiration_year').show();
                }
                if (response.error.expiration && !response.error.expiration_month && !response.error.expiration_year) {
                    $form.find('.error-card').html("This expiration date is not valid. ");
                    $form.find('.error-card').show();
                }
                enableForm();
                break;
            case 401:
            case 402:
            case 403:
                $form.find('.error-card').html("This card does not appear to be valid; please check the card number again");
                $form.find('.error-card').show();
                enableForm();
                break;
            case 404:
                // your marketplace URI is incorrect
                enableForm();
                break;
            default:
                // we did something unexpected - check response.error for details
                enableForm();
                break;
        }
    }

    function offToBalanced() {
        var creditCardData = {
            card_number: $form.find('.cc-number').val(),
            expiration_month: $form.find('.cc-em').val(),
            expiration_year: $form.find('.cc-ey').val(),
            security_code: $form.find('cc-csc').val()
        };
        balanced.card.create(creditCardData, balancedCallback);
    }

    function submitForm() {
        disableForm();
        var accountData = {
            'name': $form.find('.user-name').val(),
            'email': $form.find('.user-email').val(),
            'password': $form.find('.user-password').val(),
        }
        $.post('/blitz/' + blitz_key + '/_/create_account', accountData, function(data) {
            resetErrors();
            if (data.has_error) {
                if (data.errors.name) {
                    $form.find('.error-user-name').html(data.errors.name[0]);
                    $form.find('.error-user-name').show();
                }
                if (data.errors.email) {
                    $form.find('.error-user-email').html(data.errors.email[0]);
                    $form.find('.error-user-email').show();
                }
                if (data.errors.password) {
                    $form.find('.error-user-password').html(data.errors.password[0]);
                    $form.find('.error-user-password').show();
                }
                enableForm();
            } else {
                offToBalanced();
            }
        });
    }

    $('#blitz-signup-submit').on('click', submitForm);

});
</script>

{% endblock %}