{% extends "client_content.html" %}

{% block morehead %}
<style>
.well{
    background:rgba(255,255,255, 0.9);
}
</style>
<script type="text/javascript">
    $(window).load(function(){
        var modalSpotter = '{{ modalSpotter }}';
        if (modalSpotter == 'True') {
            $('#modalSpotterEdit').modal('show'); }
    });

</script>

{% endblock %}


{% block main %}

<div class="container">
    <div class="row">
            <div class="col-md-4">
              &nbsp;
            </div>
            <div class="col-md-4" style="margin: 0 auto; text-align: center;">
              <h1 class="meta"> Programs </h1>
            </div>
            <div class="col-md-4" style="margin: 0 auto; text-align: center;">
                <form method="post" name="sales-blitz" 
                 action="upload" class="formpage-block-form">
                   {% csrf_token %}
                   <div class="submit-container">
                    <button class='obtn obtn-comment-grn' type='submit'>
                        + Upload New Program
                    </button>
                   </div>
                </form>
            </div>

        </div>
        <div class="col-md-8" style="float: none; margin: 0 auto; text-align: center;">
        {% if workoutplans %}

         Here's a list of all the workout programs you've uploaded, in case you want to check or modify them.<br><br>
           {% for plan in workoutplans %}
              <div class="well contentwell">
                 <div class="wellheadline">{{ plan.name }}<div class="caltext"><i class="icon-calendar profile-tab-icon"></i>&nbsp;{{ plan.num_weeks }} week{% if plan.num_weeks > 1 %}s{% endif %} long </div></div>
                 
                 {% for lift in plan.all_lifts %}
                     {% if forloop.last %} {{ lift.name }} {% else %} {{ lift.name }}, {% endif %}
                 {% endfor %}

                 <table>
                 <tr>
                 <td><form method="post" 
                        action="/view_program/{{ plan.pk }}" class="formpage-block-form">
                     {% csrf_token %}
                     <div class="submit-container">
                        <button class='obtn obtn-comment-grn' type='submit'>View Program</button>
                     </div>
                     </form></td>

                 <td><form method="post" 
                        action="/spotter_program_edit/{{ plan.pk }}?modalSpotter" class="formpage-block-form">
                     {% csrf_token %}
                     <div class="submit-container">
                         <button class='obtn obtn-comment-grn' type='submit'>Edit Program</button>
                     </div>
                     </form></tr>
                 </tr></table>
              </div>
           {% endfor %}
        {% else %}
         Once you'll uploaded and setup some programs, we'll show them here.<br><br>
        {% endif %}
        </div>
    </div>
</div>

<!-- include spotter_program_edit_modal if necessary -->
{% if modalSpotter %}
{% include "spotter_program_edit_modal.html" with trainer=trainer workoutplan=workoutplan errors=errors %}
{% endif %}
{% endblock %}


