{% extends "formpage.html" %}

{% block morehead %}

<style type="text/css">
    .blitz-login{ margin-top: -50px; }
    .blitz-login img { max-width: 75px; }
</style>

{% endblock %}

<script>
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap-select.css">
</script>

{% load tz %}

{% block formpage_content %}

<div class="row">
    <div class="col-md-4 col-md-offset-4" style="">
        <div class="formpage-block">

                <form id='register_trainer' action="#" method="post">

                    {% csrf_token %}

                    <div class="fieldWrapper">
                        {{ form.name }}
                        {{ form.name.errors.as_text }}
                    </div>

<script>
// default vanity url
$('#id_name').blur(function() { 
    var name = $('#id_name').val();
    var spaceChar = name.indexOf(" ");
    if (spaceChar > 0) {
        $('#id_short_name').val(name.substring(0,spaceChar)); 
    } else
    {
        $('#id_short_name').val($('#id_name').val()); 
    }
});
</script>

                    <div class="fieldWrapper">
                        {{ form.email }}
                        {{ form.email.errors.as_text }}
                    </div>

                    <div class="fieldWrapper">
                        {{ form.password1 }}
                        {{ form.password1.errors.as_text }}
                    </div>

                    <div class="fieldWrapper">
                        {{ form.password2 }}
                        {{ form.non_field_errors.as_text }}
                    </div>


                    <div class="fieldWrapper full-width" style="float: left;">
                        <select name="timezone" id="timezone-select" class="full-width selectpicker">
                            {% for tz in timezones %}
                            {% if form.default_timezone %}
                            <option value="{{ tz }}"{% if tz == form.default_timezone.value %} selected="selected"{% endif %}>{{ tz }}</option>
                            {% else %}
                            <option value="{{ tz }}"{% if tz == default_timezone %} selected="selected"{% endif %}>{{ tz }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <script src="{{ STATIC_URL }}js/bootstrap-select.js"></script>
                        <script type="text/javascript">
                              $(document).ready(function(e) {
                                  $('.selectpicker').selectpicker({ style: 'btn-info', size: "auto", width: "350px" });
                              });
                        </script>
                    </div>

                    <div class="spacer">
                        &nbsp;
                    </div>

                    <div class="fieldWrapper full-width" style="float: left;">
                        <p class="info-text">What vanity URL would you like?
                        <div style="width: 40%; float: left; font-size: 30px; font-family: 'metanormal_caps'; padding-top: 8px;text-align: center;">
                            blitz.us/
                        </div>
                        <div style="width: 2%; float: left;">
                            &nbsp;
                        </div>
                        <div style="width: 58%; float: left;">
                            {{ form.short_name }}<br>
                            {{ form.short_name.errors.as_text }}
                        </div>
                    </div>

                    <div class="spacer">
                        &nbsp;
                    </div>

                    <div class="fieldWrapper">
                        <p class="info-text">How much do you charge clients per month?</p>
                        <div style="width: 100%; float: left;">
                            {{ form.price }}
                            {{ form.price.errors.as_text }}
                        </div>
                        <div style="width: 100%; float: left;">
                            <p class="" style="margin-top: 2px; line-height: 1.0; opacity: 0.5; text-align: center; font-size: 0.7em;"> You can adjust this on a per-client basis, this is just a default.</p>
                        </div>
                    </div>

                    <div class="spacer">
                        &nbsp;
                    </div>

                    <div class="fieldWrapper">
                        <p class="info-text">How do you want to get paid?</p>
                        <div class="gender-container" style="margin-top: 10px;">
                        <input type="radio" id="radio_P" name="payment_method" value="P" checked/>
                            <label for="radio_P" class="radio" style="margin-right: 0%; width: 33%; padding: 8px; border-radius: 4px 0px 0px 4px;">
                                 Paypal
                            </label>
                        <input type="radio" id="radio_V" name="payment_method" value="V"/>
                            <label for="radio_V" class="radio" style="width: 33%; padding: 8px; border-radius: 0px;">
                                 Venmo
                            </label>
                        <input type="radio" id="radio_D" name="payment_method" value="D"/>
                            <label for="radio_D" class="radio" style="width: 33%; padding: 8px; border-radius: 0px 4px 4px 0px;">
                                 Direct Deposit
                            </label>
                        </div>
                    </div>
<script>
    $("#radio_P, #radio_V, #radio_D").change(function () { 
        if ($("#register_trainer input[type='radio']:checked").val()==='P') {
            $("#id_payment_info").attr("placeholder", "PayPal Account").blur();
        } else if ($("#register_trainer input[type='radio']:checked").val()==='V') {
            $("#id_payment_info").attr("placeholder", "Venmo Account").blur();
        } else {
            $("#id_payment_info").attr("placeholder", "Bank acct# and Routing # ").blur();
        }
    } );
</script>

                    <div class="fieldWrapper">
                        <p class="info-text"></p>
                        <div style="width: 100%; float: left;">
                            {{ form.payment_info }}
                        </div>
                    </div>
                        <div style="width: 100%; float: left;">
                            <p class="" style="margin-top: 2px; line-height: 1.0; opacity: 0.5; text-align: center; font-size: 0.7em;"> You can provide this information later if you prefer.</p>
                        </div>
                    <button class="obtn full-width" style="margin-top: 20px;">Complete Signup</button>
                 </form>
         </div>
      </div>
    </div>
    </div>
</div>
{% endblock %}


