{% extends "client_content.html" %}

{% block morehead %}
<style>
.well{
    background:rgba(255,255,255, 0.9);
}
</style>
<script type="text/javascript">
    $(window).load(function(){
        var modalSpotter = '{{ modalSpotter }}';
        if (modalSpotter == 'True') {
            $('#modalSpotterEdit').modal('show'); }
    });

</script>

{% endblock %}


{% block main %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-1" style="text-align: left;">
          <h1 class="lightfont">Programs</h1>
            <p>
                Here's a list of all the workout programs you've uploaded, in case you want to check or modify them.
            </p>
                {% if docs > 0 %}
                  <div class="alert alert-info">
                    You've uploaded <b>{{ docs }}</b> document(s) that are pending.
                  </div>
                {% endif %}

        </div>
        <div class="col-md-2" style="margin-top: 20px; text-align: right; outline: none!important; border-top: none;">
            <form name="uploadForm" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
                <input type="file" name="document" id="file" style="height:0;"/>
                <label id="file" name="document" for="file" class="obtn full-width" style="font-size: 18px; font-weight: 300;" >+ Upload files</label>
            </form>
        </div>

<script type="text/javascript">
$('input[type=file]').change(function(e) { document.uploadForm.submit(); window.location.href = "/program";});
</script>


    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="margin-top: 20px;">
        {% if workoutplans %}


           {% for plan in workoutplans %}
              <div class="well contentwell">
                 <div class="wellheadline">{{ plan.name }}
                    <div class="caltext smaller">
                        <i class="glyphicon glyphicon-calendar profile-tab-icon"></i>&nbsp;{{ plan.num_weeks }} week{% if plan.num_weeks > 1 %}s{% endif %} long 
                    </div>
                    </div>
                 
                 {% for lift in plan.all_lifts %}
                     {% if forloop.last %} {{ lift.name }} {% else %} {{ lift.name }}, {% endif %}
                 {% endfor %}

                 <table>
                 <tr>
                 <td><form method="post" 
                        action="/view_program/{{ plan.pk }}" class="formpage-block-form">
                     {% csrf_token %}
                     <div class="submit-container">
                        <button class='btn-outline' style="font-size: 14px; margin-right: 20px;"  type='submit'>View Program</button>
                     </div>
                     </form></td>

                 <td><form method="post" 
                        action="/spotter_program_edit/{{ plan.pk }}?modalSpotter" class="formpage-block-form">
                     {% csrf_token %}
                     <div class="submit-container">
                         <button class='btn-outline' style="font-size: 14px;" type='submit'>Edit Program</button>
                     </div>
                     </form></tr>
                 </tr></table>
              </div>
           {% endfor %}
        {% else %}
         Upload a program and we'll get it set up and ready to assign to clients. Turnaround is usually 24 hours. <br><br>
        {% endif %}
        </div>
    </div>
    </div>
</div>

<div class="modal modal-full fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog-full">
            <div class="modal-content-full modal-content">
                <!-- Content will be loaded here from remote file -->
            </div>
        </div>
</div>


<!-- include spotter_program_edit_modal if necessary -->
{% if modalSpotter %}
{% include "spotter_program_edit_modal.html" with trainer=trainer workoutplan=workoutplan errors=errors %}
{% endif %}
{% endblock %}


