{% extends "formpage.html" %}

<script>
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap-select.css">
</script>

{% load tz %}

{% block formpage_content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3" style="">
        <div class="formpage-block">

                <form name="uploadsForm" id="uploadsForm" enctype="multipart/form-data" action="" method="post">
                    <div class="header">Last step!</div>
                    <p class="info-text">
                        Now let's upload some stuff to complete your account and get things ready for your clients. There's just 3 steps and you're done.
                    </p>

                    {% csrf_token %}
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2" style="margin-top: -50px;">
        <div class="formpage-block">
            <div class="row uploads-row">
                <div class="col-md-6 trainer-uploads-left">
                    <div class="uploads-top">Upload a profile photo</div>
                    <div class="uploads-bottom">This should be square-ish and at least 150x150 px.</div>
                </div>
                <div class="col-md-2 trainer-uploads-right">
                    <input type="file" name="headshot_image" id="id_headshot_image" style="height:0; display:none;"/>
                    <label id="label_headshot_image" name="label_headshot_image" for="id_headshot_image" class="btn-outline"/>
                        + Photo
                    </label>
                    {% if trainer.headshot %}
                        <img src="{{ MEDIA_URL }}{{ trainer.headshot }}" style="max-width: 100%;" />
                    {% endif %}
                </div>
            </div>

            <div class="row uploads-row">
                <div class="col-md-6 trainer-uploads-left">
                    <div class="uploads-top">Upload a logo</div>
                    <div class="uploads-bottom">Clients will see your logo when they use Blitz (if you don't have one, we'll use your name).</div>
                </div>
                <div class="col-md-2 trainer-uploads-right">
                    <input type="file" name="logo_image" id="id_logo_image" style="height:0; display:none;"/>
                    <label id="label_logo_image" name="label_logo_image" for="id_logo_image" class="btn-outline"/>
                        + Logo
                    </label>
                    {% if salespage.logo %}
                        <img src="{{ MEDIA_URL }}{{ salespage.logo }}" style="max-width: 100%;" />
                    {% endif %}
                </div>
            </div>

            <div class="row uploads-row">
                <div class="col-md-6 trainer-uploads-left">
                    <div class="uploads-top">Upload program documents</div>
                    <div class="uploads-bottom">Any spreadsheets, PDF, etc that explain your fitness/diet programs. We'll set it up for you.</div>
                </div>
                <div class="col-md-2 trainer-uploads-right">
                    <input type="file" name="document" id="id_document" style="height:0; display:none;"/>
                    <label id="label_document" name="label_document" for="id_document" class="btn-outline"/>
                        + Files
                    </label>
                    {% if document %}
                        Document Received 
                    {% endif %}
                </div>
            </div>

        <input type="hidden" id="done" name="done" value="" />
 
        <a id="done_action" type="submit" class="gbtn full-width" style="margin-top: 30px;">
            Next
        </a>
        </form>
            <script type="text/javascript">
                var label_headshot_image = '{{ trainer.headshot }}';
                var label_logo_image = '{{ salespage.logo }}';
                var label_document = '{{ document }}';

                if (/^\s*$/.test(label_headshot_image)){ }
                else { document.getElementById("label_headshot_image").style.display="none"; }
                if (/^\s*$/.test(label_logo_image)){ }
                else { document.getElementById("label_logo_image").style.display="none"; }
                if (/^\s*$/.test(label_document)){ }
                else { document.getElementById("label_document").style.display="none"; }

                $('input[type=file]').change(function(e) { document.uploadsForm.submit(); });

                $(document).ready(function() { 
                $('#done_action').click(function() {
                    document.getElementById("done").value = "1";
                    document.uploadsForm.submit();
                });

                });
            </script>                  
        </div>
      </div>
    </div>
    </div>
</div>
{% endblock %}


