{% extends "client_content.html" %}

{% load blitz_tags %}
{% load custom_exercise %}

{% block morehead %}
{% endblock %}

{% block above_content %}
{% endblock %}

{% block main %}

    {% for week in workout_plan.weeks %}
        <div class="span12"><h3>Week {{ week.week }}: </h3>
        {% for day in week.days %}
            {% if week.days.count > 4 %}
                <div class="span2" style="margin-left: 0px; margin-right: 25px;">
            {% else %}
                <div class="span3" style="margin-left: 0px; margin-right: 30px;">
            {% endif %}
                <div class="overview-block workout-day-block">
                    <div class="title">{{ day.day_of_week|day_name }}</div>
                    <div class="content">
                        <ul>
                            {% for exercise in day.workout.get_exercises %}
                                {% if user.is_trainer %}
                                    <li>{{ exercise.lift }}: {{ exercise.sets_display }}</li>
                                {% else %}
                                    <li>{{ exercise|custom_lift:client }}: 
                                        {{ exercise|custom_sets_display:client }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}

{% endblock %}


