{% extends "client_content.html" %}

{% block morehead %}
<style>
.well{
    background:rgba(255,255,255, 0.9);
}
</style>
{% endblock %}


{% block main %}

<div class="container-fluid">
    <div class="row">
        <div class="span6" style="float: none; margin: 0 auto;">
           <h3> Programs </h3>
        <form method="post" name="sales-blitz" 
         action="upload" class="formpage-block-form">
           {% csrf_token %}
           <div class="submit-container">
              <button class='obtn obtn-comment-grn' type='submit'>+ Upload New Program</button>
           </div>
        </form>

        </div>
        <div class="span8" style="float: none; margin: 0 auto;">
         Praesent vel efficitur elit. Sed ac pulvinar massa. Duis rutrum eget dolor a cursus. Phasellus neque ligula, cursus vitae ligula vel, faucibus fermentum velit. Maecenas fringilla sem ante, id eleifend massa tincidunt at. Fusce malesuada massa suscipit, fermentum libero vitae, viverra urna. <br><br>
        {% if workoutplans %}
           <div class="well">
              {% for plan in workoutplans %}
                 <b>{{ plan.name }}</b><br>
                 {{ plan.num_weeks }} weeks long &nbsp;&#149;&nbsp;  
                 {% for lift in plan.all_lifts %}
                     {% if forloop.last %} {{ lift.name }} {% else %} {{ lift.name }}, {% endif %}
                 {% endfor %}

                 <br><br>
                 <table>
                 <tr>
                 <td><form method="post" name="sales-blitz" 
                        action="/view_program/{{ plan.pk }}" class="formpage-block-form">
                     {% csrf_token %}
                     <div class="submit-container">
                        <button class='obtn obtn-comment-grn' type='submit'>View Program</button>
                     </div>
                     </form></td>
                 <td><form method="post" name="sales-blitz" 
                        action="#" class="formpage-block-form">
                     {% csrf_token %}
                     <div class="submit-container">
                         <button class='obtn obtn-comment-grn' type='submit'>Edit Program</button>
                     </div>
                     </form></tr>
                 </tr></table>
              {% endfor %}

           </div>

        {% endif %}
        </div>
    </div>
</div>

<!--
<div class="span8">
        <br>
        <div class="span10">
        <div class="alert alert-info">
        <b>This is the link to your Blitz sales page:</b><a href="/{{ trainer.short_name }}/{{ blitz.url_slug }}" target="_blank"><u>
        {% if not trainer.short_name = blitz.url_slug %}
           /{{ trainer.short_name }}/{{ blitz.url_slug }}
        {% else %}
           /{{ trainer.short_name }}
        {% endif %}</a></u></div>

        <form method="post" target="_blank" name="sales-blitz" 
         action="sales-blitz?slug={{ trainer.get_blitz.url_slug }}&short_name={{ trainer.short_name }}&debug=True&key={{ trainer.get_blitz.sales_page_content.sales_page_key }}" class="formpage-block-form">
           {% csrf_token %}
           <div class="submit-container">
              <button class='obtn obtn-comment-grn' type='submit'>Work on $ales Page</button>
           </div>
        </form>

        {% if new_programs > 0 %}
           <div class="alert alert-info">
              <b>Dude: <i>{{ new_program_name }}</i> is ready for you to setup!</b>
           </div>
           <form action="blitz_setup" method="get" name="blitz_setup" class="formpage-block-form">
           {% csrf_token %}
              <br>
              <div class="submit-container">
                 <button class='obtn obtn-comment-grn' type='submit'>Setup Blitz!</button>
              </div>
           </form>

        {% else %}
            {% if docs > 0 %}
                <div class="alert alert-info">
                    <b>(You've uploaded {{ docs }} documents that are pending...)</b>
                </div>
            {% endif %}

            <form action="upload" method="get" name="upload" class="formpage-block-form">
            {% csrf_token %}
            <div class="submit-container">
               <button class='obtn obtn-comment-grn' type='submit'>Upload program stuff</button>
            </div>
            </form>
        {% endif %}
     </div>
    </div>
    </div>
-->

{% endblock %}


