{% extends "formpage.html" %}

<script>
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap-select.css">
</script>

{% load tz %}

{% block formpage_content %}

<div class="row">
    <div class="span6 offset3" style="">
        <div class="formpage-block">

                <form name="uploadsForm" id="uploadsForm" enctype="multipart/form-data" action="" method="post">
                    <div class="header">Registration</div>
                    <p class="info-text">Sweet. Now let's upload some stuff to complete your account and get you ready to train people. There's just 3 steps and you're done. </p>

                    {% csrf_token %}
                <table>
                <tr><td>
                <input type="file" name="headshot_image" id="id_headshot_image" style="height:0; display:none;"/>
                <label id="id_headshot_image" name="headshot_image" for="id_headshot_image" class="btn-outline"/>1. Add a photo</label></td><td>
                {% if trainer.headshot %}<td><img src="{{ MEDIA_URL }}{{ trainer.headshot }}" />{% endif %}</td></tr>

                <tr><td>
                <input type="file" name="logo_image" id="id_logo_image" style="height:0; display:none;"/>
                <label id="id_logo_image" name="logo_image" for="id_logo_image" class="btn-outline"/>2. Upload your logo</label></td><td>
                {% if salespage.logo %}<td><img src="{{ MEDIA_URL }}{{ salespage.logo }}" />{% endif %}</td></tr>

                <tr><td>
                <input type="file" name="document" id="id_document" style="height:0; display:none;"/>
                <label id="id_document" name="document" for="id_document" class="btn-outline"/>3. Upload program documents</label></td><td>
                {% if document %}<td>Document Received {% endif %}</td></tr>

        <input type="hidden" id="done" name="done" value="" />
        </table>
        <a id="done_action" type="submit" class="gbtn">Next</a>
        </form>  
<script type="text/javascript">
$('input[type=file]').change(function(e) { document.uploadsForm.submit(); });

$(document).ready(function() { 
$('#done_action').click(function() {
    document.getElementById("done").value = "1";
    document.uploadsForm.submit();
});

});
</script>                  
        </div>
      </div>
    </div>
    </div>
</div>
{% endblock %}


