{% extends "client_content.html" %}

{% block morehead %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap-select.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<style>
.well{
    background:rgba(255,255,255, 0.9);
}
</style>
<script type="text/javascript">
    $(window).load(function(){
        var modalInvite = '{{ modalInvite }}';
        var modalBlitz = '{{ modalBlitz }}';
        if (modalInvite == 'True') {
            jQuery.noConflict();
            $('#ClientSetupModal').modal('show'); }
        if (modalBlitz == 'True') {
            jQuery.noConflict();
            $('#BlitzSetupModal').modal('show'); }
    });
    $(function() {
        $( "#datepicker" ).datepicker();
        $( "#datepicker" ).datepicker( "option", "dateFormat", "mm/dd/yy" );
    });
</script>

{% endblock %}

{% block main %}


<div class="container-fluid">
    <div class="row">
            <div class="span4">
              &nbsp;
            </div>
            <div class="span4" style="margin: 0 auto; text-align: center;">
              <h1 class="meta"> Sales Pages </h1>
            </div> 
            <div class="span4" style="margin: 0 auto; text-align: center;">                
              <form method="post" name="sales-blitz" 
               action="upload" class="formpage-block-form">
                 {% csrf_token %}
                 <div class="submit-container">
                    <button id="add_group" onclick="window.location='/blitz-setup?modalBlitz'; return false;" class='obtn obtn-comment-grn' type='submit'>  + Create New Program
                    </button>
                 </div>
              </form>
            </div>
        </div>


    <div class="row">
        <div class="span8" style="float: none; margin: 0 auto; text-align: center;">
         Below is a list of signup pages for your different programs, in case you want to update them. You can also send clients the 'quick signup' link, and they'll just go straight to the payment/credit card page.<br><br>
        {% if blitzes %}
           {% for blitz in blitzes %}
              <div class="contentwell well">
                 <table><tr><td>
                     {% if blitz.recurring %}
                     <img src="{{ STATIC_URL }}images/SalesPage1on1.png"/></td>
                     {% else %}
                     <img src="{{ STATIC_URL }}images/SalesPageGroup.png"/></td>
                     {% endif %}
                 <td colspan="2">
                 <div class="wellheadline">{{ blitz.sales_page_content.program_title }}</div>

                 <p style="linktag">Page link:<a href="{{ SITE_URL }}/{{ trainer.short_name }}/{{ blitz.url_slug }}">
                    {{ SITE_URL }}/{{ trainer.short_name }}/{{ blitz.url_slug }} </a></p>
                 <p style="linktag">Quick signup link:<a href="{{ SITE_URL }}/{{ trainer.short_name }}/{{ blitz.url_slug }}/signup">
                    {{ SITE_URL }}/{{ trainer.short_name }}/{{ blitz.url_slug }}/signup </a></p>
                 </td></tr>
                 <tr><td>
                 <td><form method="post" 
                        action="sales-blitz?slug={{ blitz.url_slug }}&short_name={{ trainer.short_name }}&debug=True&key={{ blitz.sales_page_content.sales_page_key }}" class="formpage-block-form">
                     {% csrf_token %}
                     <div class="submit-container">
                        <button class='obtn full-width' style="margin-right: 20px;" type='submit'>Edit Page</button>
                     </div>
                     </form></td>
                 <td>

                 <div class="btn-group">
                 <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" style="width:210px; margin-bottom: 10px;">
                  Invite Clients<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">

                  <li role="presentation"><a role="menuitem" id="invite_client" tabindex="-1" href="/client-setup/{{ blitz.pk }}?modalInvite">Invite paid client</a></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"><a role="menuitem" id="invite_free" tabindex="-1" href="/client-setup/{{ blitz.pk }}?modalInvite&free">Invite free client</a></li>
                  </ul>
                 </div></td>

                 </tr>
                 </table>
              </div>

           {% endfor %}
        {% endif %}
        </div>
    </div>
  </div>
</div>

<!-- include client_setup_modal if necessary -->
{% if modalInvite %}
{% include "client_setup_modal.html" with invite=invite form=form trainer=trainer blitz=blitz  mode=mode signup_key=signup_key workoutplans=workoutplans invite_url=invite_url url_return=url_return error=form.errors %}
{% endif %}

<!-- include blitz_setup_modal if necessary -->
{% if modalBlitz %}
{% include "blitz_setup_modal.html" with form=form trainer=trainer errors=errors programs=programs %}
{% endif %}

{% endblock %}


