{% extends "client_content.html" %}

{% load blitz_tags %}

{% block morehead %} {{ super }}

<script type='text/javascript' src='{{ STATIC_URL }}js/expanding.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/feed.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/dashboard.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/intromodal.js'></script>

<script type="text/javascript">
var SHOW_INTRO = {% if show_intro %}true{% else %}false{% endif %};
</script>
<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.min.css"> -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/stylesheets/style.css"/>

<!-- <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap-select.css"> -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css">
<script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>

<script>
function save_client_setup() {
    // clear out errors
    document.getElementById('invite-client').disabled=true;
    document.getElementById('invite-loading').style="display:block";
    document.getElementById('error_name').text = '';
    document.getElementById('error_email').text = '';
    document.getElementById('error_price').text = '';

    $.ajax({
        url: '/trainer/client-setup',
        method: 'GET',
        data: $('#client_setup_form').serialize(),
        success: function(response) {
            if (response['is_error'] === true) {  // if there are errors
               var error_keys = Object.keys(response['errors']);  // array of error keys
               for (var i in error_keys) {  // for each error key set corresponding text
                  document.getElementById('error_'+error_keys[i]).text = response['errors'][error_keys[i]];
                  }
               } else 
               {
                  jQuery.noConflict(); $('#ClientSetupModal').modal('hide');
                  document.getElementById('invitee_name').text = document.getElementById('invitation_name').value;
                  document.getElementById('invitee_name2').text = document.getElementById('invitation_name').value;
                  jQuery.noConflict(); $('#ClientSetupModalDone').modal('show');
               }
        }
    })
    document.getElementById('invite-loading').style="display:none";
    document.getElementById('invite-client').disabled=false;

}
</script>

{% endblock %}

{% block outer_content %}
{% block content %}

{% block header_content %}{{ super }}
    {% include "header_content.html" %}
    <div class="clearfix"></div>
{% endblock %}

<div id="dashboard">
	<div class="sidebar-left">
		<div class="inner">
			{% if clients or blitzes or invitees %}

		    	        <div class="search-input">
                                    {% if clients or blitzes %}
	   			        <input type='text' class="search-text" placeholder="  Search for a client or program...">
                                    {% endif %}
  			        </div>
			        <ul class='filters scopes'>

                        {% if clients or blitzes %}

<!--
				    <li class='item' data-scope='alerts'>
					<div class="item-inner">
						Alerts
					</div>
					{% if alerts_count %}
					<span class="results-count"><span class="inner">{{ alerts_count }}</span></span>
					{% endif %}
				    </li> -->

				    <li class="item active" data-scope='all'>
					<div class="item-inner">
						All Updates
					</div>
					{% if updates_count %}
					<span class="results-count"><span class="inner">{{ updates_count }}</span></span>
					{% endif %}
				    </li>				
				    <div class="separator"></div>

				{% if blitzes %}
				    {% for blitz in blitzes %}
	                    {% if not blitz.provisional and not blitz.recurring %}
					    <li class='item blitz' data-object-pk="{{ blitz.pk }}" data-scope='blitz'>
						<div class="item-inner">{{ blitz.title }}</div>
						    {% if blitz.unviewed_feeds_count %}
						        <span class="results-count"><span class="inner">{{ blitz.unviewed_feeds_count }}</span></span>
						    {% endif %}
					    </li>
   			                    <div class="separator"></div>
	                                {% endif %}

				    {% endfor %}

				{% endif %}

				{% for client in clients %}
				<li class='item solo-client' data-object-pk="{{ client.pk }}" data-scope='client'>
				    <div class="item-inner">{{ client.name }}</div>
					{% if client.unviewed_feeds_count %}
					    <span class="results-count"><span class="inner">{{ client.unviewed_feeds_count }}</span></span>
					{% endif %}
				</li>
				{% endfor %}

                            {% endif %} 

                            {% for invitee in invitees %}
<li class='item solo-client' data-object-pk="{{ invitee.pk }}" data-scope='invitee'>
				<div class="item-inner">
		                   {{ invitee.name }} <i>(pending)</i>
				</div>
				</li>
                            {% endfor %}
   			</ul>
			{% else %}
			<div class="new-trainer-experience">
				<div>
					<h3>Clients and Groups</h3>
				</div>
				<div>
					<p>
						When you're got clients or groups, they'll be listed over here.
					</p>
				</div>	
			</div>
			{% endif %}
			<div class="actions">
<!--				<button type='button' class='obtn fullwidth' onclick="window.location='/client-setup'; return false;">+ Add Client</button> -->
				<button type='button' id="add_client" class='obtn fullwidth' onclick="jQuery.noConflict(); $('#ClientSetupModal').modal('show');">+ Add Client</button>
				<button type='button' id="add_group" class='btn-outline-trans fullwidth' onclick="window.location='/blitz-setup?group'; return false;">+ Add Group</button><br><br><br>

			</div>
		</div> <!-- inner -->
	</div> <!--/ sidebar-left -->

	<div class="content-wrapper">
		<div class="content row">
			<!-- Inbox Container -->
			<div class="inbox-container">
				<!-- Will be populated using AJAX -->
			</div>

			<div class="feeds">
				<!-- Blitz group header -->
				<div class="group">
					<!-- Will be populated using AJAX -->
				</div>

				{% if alerts %}
					<div class="alerts-wrapper hidden">
						{% include "trainer_alerts.html" %}
					</div>
				{% endif %}
				{% if clients or blitzes %}
					<div class="feeds-filter">
						<ul>
							<li class="active" data-scope-filter="all">Everything</li>
							<li data-scope-filter="workouts">Workouts</li>
							<li data-scope-filter="checkins">Check-Ins</li>
					</div>

					<div id="add-comment-container">
						<form class="hidden" name="commentForm" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
						    <table><tr><td width="97%">
						    <textarea id="add-comment" name="comment" class="expanding" placeholder="Post a comment..." rows="1" ></textarea> </td>
						    <td class="photobutton" valign="top">

						    <input type="text" name="sample" id="id_sample" value="TEXT IS HERE" style="height:0; display:none;"/>

						    <input type="file" name="picture" id="id_picture" style="height:0; display:none;"/>
						    <label id="id_label" name="picture" class="gbtn photobuttonlabel" for="id_picture"/>
						    <i class="icon-camera"></i>
						    </label></td></tr></table>
						</form>
						<a class="obtn-comment obtn" id="add-comment-submit" style="display: none;" href="#" >Post</a>
					</div>

		        	{% include "main_feed.html" %}
                {% else %}
                    {% if invitees %}
                	<div id="main-feed">
		                {% include "dashboard/invitee_feed.html" with invitee=invitees.0 %}
		                {% include "dashboard/_dummy_comment_feed.html" %}
	                </div>
                    {% else %}
                	<div id="main-feed">
		                {% include "dashboard/_dummy_gym_session_feed.html" %}
		                {% include "dashboard/_dummy_comment_feed.html" %}
	                </div>
                    {% endif %}
	        {% endif %}

		</div> <!--/ feeds -->

		<!-- Summary -->
		<div id="summary">
			{% if not clients and not blitzes %}
                            {% if invitees %}
                                {% include "dashboard/invitee_summary.html" with invitation=invitees|last delta=0 STATIC_URL=STATIC_URL %}
                            {% else %}
    		                {% include "dashboard/_dummy_client_summary.html" %}
			    {% endif %}
			{% endif %}
		</div>

		<div class="clearfix"></div>
	    </div>
	</div> <!--/ content -->
    </div>

<!-- include modals -->
{% include "spotter_program_edit_modal.html" with trainer=trainer workoutplan=workoutplan url_return='#' %}
{% include "blitz_macros_modal.html" with trainer=trainer blitz=blitz url_return='#' %}
{% include "client_macros_modal.html" with trainer=trainer client=client url_return='#' %}
{% include "client_setup_modal.html" with trainer=trainer blitz=blitz url_return='#' signup_key=signup_key workoutplans=workoutplans invite_url=invite_url %}
{% include "client_setup_done_modal.html" %}


<div id="intro-modal" class="modal hide fade blitz-modal" tabindex="-1">
    {% include "onboarding_content_trainer.html" with trainer=trainer %}
</div>

{% endblock content %}

{% endblock outer_content %}
