{% extends "client_content.html" %}

{% block morehead %}
    <script type='text/javascript' src='{{ STATIC_URL }}js/d3.v3.min.js'></script>
{% endblock %}

{% block above_content %}
    <div class="profile-header">
        <div class="profile-header-top">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <img class="profile-headshot img-circle" src="{{ client.get_headshot_url }}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="content">
                            <div class="name">{{ client }}</div>
                            <div class="details">
                                Trainer
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="profile-tabs">
        <div class="container">
            <div class="row">
                <div class="span12">
                     
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block main %}

    <div class="span8">

         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.

    </div>



{% endblock %}

