{% extends "trainer_content.html" %}

{% block morehead %}
{% endblock %}

{% block above_content %}

    <div class="landscape-header coverphoto2">
        <div class="landscape-header-top" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
        <div class="landscape-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content">
                            <div class="title">Training programs</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block main %}

    {% if docs > 0 %}
      <div class="alert alert-info">
        <b>You've uploaded {{ docs }} document(s) that are pending...</b>
      </div>
    {% endif %}

    <form name="uploadForm" enctype="multipart/form-data" action="" method="post">{% csrf_token %}

        <input type="file" name="document" id="file" style="height:0;"/>
        <label id="file" name="document" for="file" class="obtn" >Upload a File</label>

    </form>

<script type="text/javascript">
$('input[type=file]').change(function(e) { document.uploadForm.submit(); });
</script>

{% endblock %}


