<div class="feed-item" data-object_pk="{{ checkin.pk }}" data-content_type="check in">
	<div class="parent-headshot">
        <img src="{{ checkin.client.user.headshot_url }}" class="img-circle" />
    </div>
    <div class="feed-item-content">
        {% comment %}
        <a class="feed-permalink" href="{% url "single_post_gym" feed_item.pk %}"><i class="icon-link"></i></a>
        {% endcomment %}
        <div class="check-in-feed-item">
            <div class="title">

            <div class="parent-headshot-card">
                <img src="{{ checkin.client.user.headshot_url }}" class="img-circle" />
            </div>

                {% if user == checkin.client.user %}
                <a class="edit-workout-link" href="{% url "log_workout" gym_session.workout_plan_day.workout_plan_week.week gym_session.workout_plan_day.day_of_week %}"><i class="icon-edit"></i> edit</a>
                {% endif %}
                <a href="{{ checkin.client.user.get_profile_url }}">{{ checkin.client.name }}</a> logged a check-in.
                <div class="feeditem-pub-date"><i class="icon-time"></i> {{ checkin.pub_date|timesince }} ago</div>
            </div>
        
        <div class="checkin-wrap">
            <div class="checkin-weight">
    			<strong>Weight</strong>: {{ checkin.weight }} lbs
    		</div>
    		<div class="checkin-pic-wrap">
    			<div class="checkin-pic">
    				<img src="/media/{{ checkin.front_image }}"/>
    			</div>
    			<div class="checkin-pic">
    				<img src="/media/{{ checkin.side_image }}"/>
    			</div>	
    		</div>
        </div>

        </div>
		
    </div>
</div>
