<div class="feed-item" data-object_pk="{{ checkin.pk }}" data-content_type="check in" data-viewed="{% if feed_item.is_viewed == True %}true{% else %}false{% endif %}">

    <div class="feed-item-content">
        <div class="parent-headshot">
            <img src="{{ checkin.client.user.headshot_url }}" class="img-circle" />
        </div>
        {% comment %}
            <a class="feed-permalink feed-permalink-grey" href="{% url " single_post_gym " feed_item.pk %}">
                <i class="glyphicon glyphicon-link"></i>
            </a>
        {% endcomment %}
        <div class="check-in-feed-item">
            <div class="title">

                <div class="parent-headshot-card">
                    <img src="{{ checkin.client.user.headshot_url }}" class="img-circle" />
                </div>

                    {% if user == checkin.client.user %}
                    <a class="feed-permalink" title="(see 'Profile/Settings' for sharing options)" href="/profile/settings"><i class="glyphicon glyphicon-rotation-lock"></i> privacy</a>

                    <a title="(see 'Profile/Settings' for sharing options)" 
href="{{ checkin.client.user.get_profile_url }}">{{ checkin.client.name }}</a> logged a <a href="/profile/c/{{ checkin.client.pk }}/checkins">check-in.</a>

                    {% else %}

                <a href="{{ checkin.client.user.get_profile_url }}">{{ checkin.client.name }}</a> logged a <a href="/profile/c/{{ checkin.client.pk }}/checkins">check-in.</a>
                    {% endif %}
                     
                <div class="feeditem-pub-date"><i class="glyphicon glyphicon-time"></i> {{ feed_item.pub_date|timesince }} ago</div>
            </div>
            
            <div class="checkin-wrap">
                <div class="checkin-weight">
                    {{ checkin.client.name }}'s latest weight is </strong>{{ checkin.weight }} lbs.</strong>
                </div>
                <div class="checkin-pic-wrap">
                {% if checkin.front_image %}
                    <div class="checkin-pic">
                        <img src="/media/{{ checkin.front_image }}" />
                    </div>
                {% endif %}
                {% if checkin.side_image %}
                    <div class="checkin-pic">
                        <img src="/media/{{ checkin.side_image }}" />
                    </div>
                {% endif %}
                </div>
            </div>
            <div class="clearfix"></div>

            {% with checkin as parent %}
                {% include "feeditems/feed_item_footer.html" %}
            {% endwith %}

        </div>

    </div>
</div>

<div class="clearfix">
</div>
