<div class="feed-item" data-object_pk="{{ comment.pk }}" data-content_type="comment" data-viewed="{% if feed_item.is_viewed == True %}true{% else %}false{% endif %}">
    <div class="parent-headshot">
        <img src="{{ comment.user.headshot_url }}" class="img-circle" />
    </div>
    <div class="feed-item-content">
        {% comment %}
        <a class="feed-permalink feed-permalink-grey" href="{% url "single_post_comment" feed_item.pk %}"><i class="icon-link"></i></a>
        {% endcomment %}
        <div class="comment-feed-item">
            <div class="parent-headshot-card">
                <img src="{{ comment.user.headshot_url }}" class="img-circle" />
            </div>
            <div class="parent-comment comment{% if comment.user.is_trainer %} trainer-comment{% endif %}">
                <a href="{{ comment.user.get_profile_url }}" class="name">{{ comment.user.display_name }}</a> {{ comment.text|urlize|linebreaksbr }}
                <div class="feeditem-pub-date"><i class="icon-time"></i> {{ comment.date_and_time|timesince }} ago</div>

{% if comment.image %}<img src="/media/{{ comment.image }}" />{% endif %}
            </div> 
            {% with comment as parent %}
                {% include "feeditems/feed_item_footer.html" %}
            {% endwith %}
        </div>
    </div>
</div>
