<div class="feed-item" data-object_pk="{{ gym_session.pk }}" data-content_type="gym session" data-viewed="{% if feed_item.is_viewed == True %}true{% else %}false{% endif %}">

    <div class="feed-item-content">
        <div class="parent-headshot">
            <img src="{{ gym_session.client.user.headshot_url }}" class="img-circle" />
        </div>
        {% comment %}

        {% endcomment %}
        <div class="gym-session-feed-item">
            <div class="title">
                <div class="parent-headshot-card">
                    <img src="{{ gym_session.client.user.headshot_url }}" class="img-circle" />
                </div>
                    {% if user == gym_session.client.user %}
                    <a class="edit-workout-link" href="{% url "log_workout" gym_session.workout_plan_day.workout_plan_week.week gym_session.workout_plan_day.day_of_week %}">
                        <i class="icon-edit"></i> edit&nbsp;
                    </a>
                    {% endif %}
                    <a class="feed-permalink" href="{% url "single_post_gym" feed_item.pk %}">
                        <i class="icon-link"></i> share&nbsp;
                    </a>

                    <a href="{{ gym_session.client.user.get_profile_url }}">{{ gym_session.client.name }}</a> logged a workout.
                    <div class="feeditem-pub-date">
                        <i class="icon-time"></i> {{ feed_item.pub_date|timesince }} ago
                    </div>

            </div>
                {% include "exercise_matrix.html" %}
                {% with gym_session as parent %}
                    {% include "feeditems/feed_item_footer.html" %}
                {% endwith %}
        </div>
    </div>
</div>
