*.log
*.pot
*.pyc
*.*~
*~
local_settings.py
venv
*.DS_Store
celerybeat-schedule
blitz/database.*
blitz/collected_static/*/
blitz/usermedia/documents/*/
blitz/usermedia/feed/*/
blitz/usermedia/headshots/*/
blitz/usermedia/logos/*/
blitz/usermedia/programs/*/


*.scssc
