.center {
    display: table;
    position: relative;
    margin: 0 auto;
    float: none !important
}

.spacer20 {
    padding-top: 20px
}

.max-height {
    height: 100% !important
}

.separator {
    height: 1px;
    background: #666564;
    width: 90%;
    margin: 16px auto
}

/**
 * Overwrites
 */
body {
    height: 100% !important
}

img.headshot {
    top: 12px;
    left: -20px;
    width: 35px;
    border: 3px solid white;
    margin-right: 10px
}

.icon.headshot {
    top: 12px;
    left: -20px;
    width: 25px;
    border: 3px solid white;
    margin-right: 15px;
    padding: 5px
}

.circle {
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1)
}

.comment-feed-item {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0
}

.feeditem-actions-container {
    background: #f0f3f3;
    height: 35px;
    overflow: hidden
}

.sidebar-box {
    padding: 0 10px;
    box-shadow: none !important;
}

.sidebar-box .header {
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px
}

/**
 * Boxes
 */
.box {
    float: left;
    border-left: 1px solid #eaeaea;
}

.box:first-child {
    border-left: none;
}


.box .title {
    border-radius: 6px 6px 0px 0px;
    color: #9b999c !important;
    margin-bottom: 0px !important;
}

.box.box-orange .title {
    background: #e8a060
}

.box.box-purple .title {
    background: #663440
}

.box.box-green .title {
    background: #57c6b9
}

.box.box-blue .title {
    background: #9b8ddb
}

.box .title {
    width: 100%;
    margin-bottom: 15px;
    color: #fff;
    font-weight: bold;
    text-align: center
}

.box .description {
    padding: 0 0px 0px 10px
}

/**
 * Dashboard
 */
#dashboard {
    background: #fbfcfe;
    height: 100%;
    width: 100%;
    position: relative;
    display: table
}

#header {
    background: #343434;
    width: 100%;
    margin: 0px;
}

#header p {
    color: #a6a6a8;
    text-shadow: 0 0 2px #000
}

/**
 * Left sidebar
 */
.sidebar-left {
    background: url('../images/sidebard_background.png') #252322;
    height: 100%;
    min-width: 310px;
    /*custom*/
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    float: left
}

.sidebar-left .header {
    background: #353535;
    height: 69px !important
}

.sidebar-left #logo {
    margin: 0 !important
}

.sidebar-left .brand {
    width: 100%
}

.sidebar-left .brand img {
    display: table !important;
    position: relative !important;
    margin: 15px auto 15px auto !important;
    float: none !important;
    height: 40px !important
}

.sidebar-left .search-input {
    margin-top: 10px;
    padding: 0 10px
}

.sidebar-left .search-input input.search-text {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 40px;
    width: 286px
}

ul.filters {
    margin: 0 !important
}

ul.filters li.item {
    height: 40px;
    list-style: none;
    font-size: 22px;
    color: #9d9ea3
}

ul.filters li.item:hover {
    cursor: pointer;
    background: #4a4c55
}

ul.filters li.item .item-inner {
    margin: 10px 10px 0 30px;
    position: absolute
}

ul.filters li.item:last-child {
    margin-bottom: 10px
}

ul.filters li.item.active {
    background: #4a4c55;
    border-left: 13px solid #7fb5f0;
    color: #fff;
    z-index: -1
}

ul.filters li.item.active .item-inner {
    margin: 10px 10px 0 17px !important
}

ul.filters li.item:hover {
    background: #4a4c55
}

.sidebar-left .actions {
    padding: 0 10px
}

.sidebar-left .actions button {
    display: table;
    width: auto;
    margin: 0 auto;
    padding: 0 38px
}

/**
 * Content
 */
.content-wrapper {
    margin-left: 321px;
    position: relative
}

.content {
    position: relative;
    height: 100%
}

.feeds {
    /*padding-right: 28px !important;*/
    width: 595px;
    float: left;
    color: #333;
    font-size: 18pt;
    padding: 0px 0px 0px 10px;
    margin-right: 10px
}

.inbox-container {
    padding: 0 20px
}

/**
 * Right sidebar
 */
#summary {
    /*background: #f5f5f5;*/
    background: #fafafb;
    height: 100% !important;
    border-left: 1px solid #adadad;
    width: 330px;
    float: right
}

#summary .section {
    border-top: 1px solid #c1c0c3;
}

#summary .diet-goals {
    color: #9b999c;
}

#summary .diet-goals .header {
    margin-bottom: 0px;
}

#summary .diet-goals .btn-edit {
    float: right;
    border: 2px solid #7ab2ea;
    background: #fff;
    color: #7ab2ea;
}

#summary .diet-goals .btn-group {
    width: 100%;
    /*border: 2px solid #7ab2ea;*/
    background: #fff;
    border-radius: 8px 8px 0px 0px;
    /*margin-top: 10px;*/
}

#summary .diet-goals .btn-group button {
    width: 50%;
    background: #fff;
    height: 25px;
    padding: 0px;
}

#summary .diet-goals .btn-group button:first-child() {
}

#summary .diet-goals .btn-group button {
}

#summary .diet-goals .btn-group button.active {
    background: #7ab2ea;
    color: #fff;
}

#summary .cover {
    height: 280px;
    color: #757476
}

#summary .cover img.client-picture {
    height: 150px;
    border: 5px solid #75abf5;
}

#summary .client-name {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold
}

#summary .sidebar-box .header {
    padding: 13px 0 !important;
    border-bottom: none !important;
}

#summary .sidebar-box .goals-history {
    border: 1px solid #c3c2c3;
    border-radius: 8px;
}

#summary .sidebar-box .goals-history .box {
    margin-bottom: 10px;
    padding: 0px 7px;
}

#summary .sidebar-box .goals-history .box .title {
    font-size: 14px
}

#summary .sidebar-box .goals-history .box .info {
    font-size: 11px;
    /*margin: 0px 5px 0px 5px*/
}

.edit-diet-goal {
    font-size: 14px;
    color: #4c9ad6
}

#summary .diet-progress select {
    width: 110px;
    float: right
}

.trainer-info {
    border-top: 1px solid #fff;
    margin-top: 80px;
    height: 100px;
    width: 100%;
    color: #b7b8bb
}

.trainer-info a {
    color: #b7b8bb
}

.trainer-info a:hover {
    color: #fff
}

.trainer-info .inner {
    margin-top: 15px
}


/**
 * Widgets
 */

 .slide-select {
    font-size: 12px;
 }

.slide-select ul {
    list-style: none;
}

.slide-select ul li {
    display: none;
    margin: 0px;
    padding: 0px;
}

.slide-select ul li.arrow,
.slide-select ul li.active {
    display: inline-block;
}

/* TODO: Move to the correct place */
.macro-history {
    margin-top: 10px;
}

.macro-history .weekSelector {
    float: right;
}

.macro-history .weekSelector .icon {
    color: #fff;
    font-weight: bold;
}

/* TODO: Move to the correct place */
.feeds-filter {
    width: 100%;
    border-bottom: 1px solid #cacacc;
    margin-bottom: 25px;
}

.feeds-filter ul {
    list-style: none;
    margin: 0px auto 14px auto;
}

.feeds-filter ul li {
    color: #7ab2ea;
    display: inline-block;
    margin-right: 34px;
}

.feeds-filter ul li.active {
    color: #545454;
    border-bottom: 3px solid #95c0f4;
}



/* TODO: Move to the correct place */
/**
 * Group
 */
.group {
    background: #fff;
    color: #767577;
    border-bottom: #d9d9d9;
    margin-bottom: 40px;
}

.group .members {
    margin-bottom: 17px;
}

.group .members img.headshot {
    width: 45px;
    height: 45px;
    border: 2px solid #70b3e9;
    margin: 0px 10px 10px 0px;
}

.group .actions {
    margin-bottom: 17px;
}

.group .actions button.btn {
    background: none transparent;
    padding: 14px 10px;
    color: #84aeff;
    border: 2px solid #84aeff;
    margin-right: 18px;
    transition: all 0.2s;
}

.group .actions button.btn:hover {
    background: #84aeff;
    color: #fff;
}

.group img.headshot h3 {
    display: inline-block;
}

.group img.headshot:last-child {
    margin-right: 0px;
}


/*Alerts*/
/*.alerts-wrapper {
    
}*/
.results-count {
    background: #86bee9;
    float: right;
    width: 35px;
    height: 35px;
    color: #fff;
    border-radius: 20px;
    margin-right: 30px;
}

.results-count .inner {
    position: absolute;
    margin-top: 5px;
    margin-left: 6px;
}
