{% extends "base.html" %}

{% block morehead %}
<style>

	body {
		background: #fcfcfc;
		color: #4b4b4b;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}

	hr {
		border: 1px solid #393837;
		padding: 0px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.header {
		background: url('/static/images/background.png') #262523;
		color: #fff;
		margin-bottom: 50px;
	}

	.header .inner {
		margin-top: 48px;
	}

	.testimonials {
		color: #4b4b4b;
	}

	.show-cases {
		background: #262523;
		height: 548px;
		/*margin-bottom: 50px;*/
		color: #fff;
		
	}

	.show-cases .inner {
		margin-top: 60px;
	}

	.show-cases .after-before {
		/*width: 554px;*/
		min-height: 349px;
		background: #fff;
		display: table;
		color: #202020;
		margin-right: 30px;
		float: left;
	}

	.show-cases .after-before img {
		height: 349px;
	}

	.after-before .after {
		float: left;
		margin-top: 5px;
		margin-right: 5px;
	}

	.after-before .before {
		float: right;
		margin-top: 6px;
	}

	.pricing {
		border-bottom: 1px solid #f1f1f1;
	}

	.pricing .inner {
		margin-top: 30px;
	}	

	.price-plan {		
		border: 1px solid #d9d9d9;
		border-radius: 7px;
		text-align: center;
		margin-right: 0px;
		font-size: 18px;	
		margin-bottom: 20px;
		padding: 20px;
		margin-left: 0px;
	}

	.price-plan .action {

	}

	.price-plan button {
	}

	.marketing .inner {
		margin-top: 60px;
	}

	.marketing {

	}

	.message {
		padding: 30px;
		line-height: 1.5;
		font-size: 1.1em;
	}

	.contact {
		padding: 30px;
		text-align: center;
	}

	.contact img {
		width: 150px;
	}

	.message, .contact {
		background: #fff;
		border-radius: 7px;
		border: 1px solid #d9d9d9;
		margin-bottom: 30px;
		margin-left: 0px;
		margin-right: 0px;
	}


	#trainer-logo img {
		/*width: 243px;*/
		height: 25px;
		float: left;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	#logo {
		float: right;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.trainer-cover {
		color: #bdbdbd;
	}

	.trainer-cover img {
		border: 4px solid #fff;
	}

	.trainer-info p {
		text-align: center;
		margin-top: 10px;
	}

	.trainer-info ul li.title {
		margin: 0;
		padding: 0;
		font-weight: bold;
		list-style: none;
	}

	.trainer-info ul li.title * {
		margin-top: 20px;
		margin-bottom: 10px;
		padding: 0;
		font-size: 1.3em;
	}

	.obtn {
		margin-bottom: 17px;
		margin-right: 17px;
		border-radius: 7px;
	}

	.obtn.btn-default {
		background: none;
		border: 2px solid #fff;
	}

	.comment {
		margin-right: 30px; 
		margin-bottom: 28px;
		color: #4c4c4c;
		margin-left: 0px;
	}

	.comment .text {
		border: 1px solid #efefef;
		background: #fff;
		padding: 20px;
		margin-bottom: 20px;
		border-radius: 10px;
	}

	.comment img.img-circle {
		border: 2px solid #fff;
		width: 60px;
		margin-right: 20px;
	}

	.comment .about-client {
		width: 100%;
		min-height: 60px;
		padding-top: 0px;
		padding-bottom: 10px;
	}

	.comment .about-client .client-picture {
		display: inline-block;
		float: left;
	}

	.comment .about-client .client-info {
		float: left;
		line-height: 10px;
		margin-top: 14px;
		display: inline-block;
	}

	.comment .about-client .client-name {
		font-weight: bold;
	}

	.y-separator {
		color: #00b1f9;
	}

	.after-before .training-progress-before {
		color: #fff;
		margin-top: -23px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.after-before .training-progress-after {
		margin-left: 10px;
		margin-right: 10px;
	}

	.client-progress {
		margin-right: 30px;
		margin-bottom: 20px;
	}

	.getting-started {
		background: url('/static/images/background.png') #28251f;
		color: #fff;
		text-align: center;
		font-size: 22px;
	}

	.getting-started h2 {
		color: #fff;
		margin-top: 60px;
		margin-bottom: 65px;
		padding: 0px;
	}

	.getting-started button {
		margin-top: 57px;
		margin-bottom: 65px;
	}

</style>
{% endblock %}

{% block outer_content %}
<div class="header">
	<div class="container" style="">
		<div class="row mobilepad">
			<div class="inner">
				<div style="padding: 20px;">
					<a href="/" id="trainer-logo" style="">
		                <img src="{{ STATIC_URL }}images/sparclogo.png"/>
		            </a>
					<a href="/" id="logo">
		                <img src="{{ STATIC_URL }}images/logo.png"/>
		            </a>
		            <div class="clearfix"></div>
				</div>

				<hr/>
				<div class="row trainer-info" style="padding-top: 30px; padding-bottom: 50px;">
					<div class="span2 trainer-cover" style="text-align: center;">
						<img class="img-circle" src="{{ STATIC_URL }}images/marcheadshot.png" alt="" align="center">
						<p>Tinton Falls, NJ</p>
					</div>

					<div class="span6">
						<div class="trainer-attributes">
							<h1>Mark Rosamilia</h1>
							<h3>Strength and conditioning coach at SPARC</h3>	
						</div>

						<ul>
							<li class="title"><h4>Notable Achivements</h4></li>
							<li>NASM Certified Performance Enhancement Specialist</li>
							<li>Competitive & award winning bodybuilder</li>
							<li>Bodybuilding.com author</li>
							<li>Experienced in program design for professional athletes</li>
						</ul>
					</div>

					<div class="span1" style="min-height: 20px; max-width: 64px;">
						&nbsp;
					</div>

					<div class="span3">
						<button class="obtn full-width">Message Marc</button>
						<button class="obtn btn-default full-width">View Plans & Pricing</button>
					</div>

				</div>	
			</div><!--/ inner -->
		</div><!--/ container -->
	</div>
</div><!--/ header -->

<div class="container mobilepad">
	<div class="row testimonials">
		<h2>What people who've worked with Marc are saying..</h2>

		<div class="span6 comment">
			<div class="text">
				I am really impressed with Marc's knowledge of fitness training. He definitely knows what he is doing! He tailors the workouts to the clients abilities. His attitude is always encouraging and you never feel discouraged/embarrassed when working out with him. I would highly recommend him.
			</div>
			<div class="about-client">
				<div class="client-picture">
					<img class="img-circle" src="{{ STATIC_URL }}images/marc_client1.jpg" alt="">
				</div>
				<div class="client-info">
					<p class="client-name">Amy S.</p>
					<!-- <p>25 | Long Branch, NJ</p> -->
				</div>
			</div>
		</div>

		<div class="span6 comment">
			<div class="text">
				Working with Marc is amazing! He is knowledgable and really knows how to motivate you. His nutritional tips are great too! From personal training to group classes you get a killer full body workout. Form and function are always top priority
			</div>
			<div class="about-client">
				<div class="client-picture">
					<img class="img-circle" src="{{ STATIC_URL }}images/marc_client2.jpg" alt="">	
				</div>
				<div class="client-info">
					<p class="client-name">Susan S.</p>
					<!-- <p>25 | Long Branch, NJ</p> -->
				</div>
			</div>
		</div>

	</div>
	<div class="row testimonials">
		<div class="span6 comment">
			<div class="text">
				I took a group training class with Marc, and interact with him weekly while I exercise. Marc is passionate and knowledgeable about what he does. His class is very tough, as it should be, yet he keeps it fun and interesting. Simply put, Marc is solid and anyone who works with him will walk away stronger, physically, and have enjoyed his calm, positive, encouraging attitude.
			</div>
			<div class="about-client">
				<div class="client-picture">
					<img class="img-circle" src="{{ STATIC_URL }}images/marc_client3.jpg" alt="">	
				</div>
				<div class="client-info">
					<p class="client-name">Tara</p>
					<!-- <p>25 | Long Branch, NJ</p> -->
				</div>
			</div>
		</div>

		<div class="span6 comment">
			<div class="text">
				Marc Rosamilia of SPARC was truly a test of my physical and mental toughness. From the start I was broken down and built back up with appropriate nutrition tips and suggestions. Various strength and endurance workouts. As well as workouts very specific to my sport. As a variety wrestler of a high level wrestling program I found this experience to be most invaluable. From small additions such as grip strength training to large techniques such as the basic squats, deadlifts, and bench press. I found myself transformed into a truly formidable force on the mat in wrestling.
			</div>
			<div class="about-client">
				<div class="client-picture">
					<img class="img-circle" src="{{ STATIC_URL }}images/marc_client4.jpg" alt="">
				</div>
				<div class="client-info">
					<p class="client-name">Aaron-Long Branch</p>
					<!-- <p>25 | Long Branch, NJ</p> -->
				</div>
			</div>
		</div>
	</div><!--/ testimonials -->
</div><!--/ container -->

<div class="header">
	<div class="container mobilepad">
		<div class="row">
			<div class="span12">
				<h1 style="text-align: center; padding: 40px;">Marc's clients, before and after</h1>
			</div>
		</div>
		<div class="row" style="margin-bottom: 40px;">
			<div class="span2">
			</div>
			<div class="client-progress span3">
				<div class="after-before">
					<img src="{{ STATIC_URL }}images/marcbna1.jpg" alt="">
				</div>
			</div>
			<div class="span1">
			</div>
			<div class="after-before span3">
				<img src="{{ STATIC_URL }}images/marcbna2.jpg" alt="">
			</div>
			<div class="span2">
			</div>
				<!-- 
				<div class="after-before">
					<div class="after">
						<img src="{{ STATIC_URL }}images/certa-after.jpg" alt=""><br/>
						<div class="training-progress-before">
							<strong>BEFORE</strong> <span class="y-separator">///</span> 129 LBS
						</div>
						<div class="training-progress-after">
							<strong>AGE</strong> 22 / <strong>HEIGHT</strong> 5'3" / <strong>BODY FAT</strong> 20.3%
						</div>
					</div>
					<div class="before">
						<img src="{{ STATIC_URL }}images/certa-before.jpg" alt=""><br/>
						<div class="training-progress-before">
							<strong>AFTER</strong> <span class="y-separator">///</span> 115 LBS
						</div>
						<div class="training-progress-after">
							<strong>AGE</strong> 22 / <strong>HEIGHT</strong> 5'3" / <strong>BODY FAT</strong> 13.9%
						</div>
					</div>
				</div> --><!--/ after-before -->

				<!-- 
				<div class="after-before">
					<div class="after">
						<img src="{{ STATIC_URL }}images/certa-after.jpg" alt=""><br/>
						<div class="training-progress-before">
							<strong>BEFORE</strong> <span class="y-separator">///</span> 129 LBS
						</div>
						<div class="training-progress-after">
							<strong>AGE</strong> 22 / <strong>HEIGHT</strong> 5'3" / <strong>BODY FAT</strong> 20.3%
						</div>
					</div>
					<div class="before">
						<img src="{{ STATIC_URL }}images/certa-before.jpg" alt=""><br/>
						<div class="training-progress-before">
							<strong>AFTER</strong> <span class="y-separator">///</span> 115 LBS
						</div>
						<div class="training-progress-after">
							<strong>AGE</strong> 22 / <strong>HEIGHT</strong> 5'3" / <strong>BODY FAT</strong> 13.9%
						</div>		
					</div>
				</div> --><!--/ after-before -->
			</div>
		</div>
	</div>
</div>

<div class="container mobilepad">
	<div class="row pricing">
		<div class="" style="text-align: center; margin-bottom: 30px;">
			<h1>Available training options</h1>
			<p>All plans include custom-designed workouts and diet goals set up for easy tracking on Blitz, along with unlimited access to Mark and the Sparc Strength team for Q&A, support, and more. </p>
		</div>

			<div class="span4">
				<div class="price-plan">
					<div class="price">
						<h2>
							$225
						</h2>
						<small>10 weeks</small>
					</div>

					<h3>12-week Muscle Gain Coaching</h3>
					<ul>
						<li>Diet tracking (e.g. protein/carbs/fat) and workouts set up for you in the app for easy tracking</li>
						<li>Private app experience with 1:1 coaching from Marc (like having a trainer in your pocket 24/7)</li>
						<li>Full diet plan design for maximum muscle growth with minimal fat gain</li>
						<li>Custom program design based on experience with professional athletes (including 'hard gainers')</li>
						<li>Unlimited Q&A + motivational support via Blitz</li>
					</ul>

					<div class="action">
						<button class="obtn full-width">Reserve Spot</button>
					</div>
				</div><!--/ price-plan -->
			</div>

			<div class="span4">
				<div class="price-plan">
					<div class="price">
						<h2>
							$175
						</h2>
						<small>/ month</small>
					</div>

					<h3>Individualized Goal Coaching</h3>
					<ul>
						<li>Diet tracking (e.g. protein/carbs/fat) and workouts set up for you in the app for easy tracking</li>
						<li>Private app experience with 1:1 coaching from Marc (like having a trainer in your pocket 24/7)</li>
						<li>Customized diet plan (including individual meal planning) for any physique goal</li>
						<li>Individualized workout plan hand-crafted by Marc for specific athletic, appearance, or strength goals</li>
						<li>Weekly goal check-in via video chat with Marc</li>
					</ul>
					<div class="action">
						<button class="obtn full-width">Reserve Spot</button>
					</div>
				</div><!--/ price-plan -->
			</div>

			<div class="span4">
				<div class="price-plan">
					<div class="price">
						<h2>
							$150
						</h2>
						<small>10 weeks</small>
					</div>
					

					<h3>Women's Weight Loss Group</h3>
					<ul>
						<li>Diet tracking (e.g. protein/carbs/fat) and workouts set up for you in the app for easy tracking</li>
						<li>Built-in support group of up to 20 women with the same goal</li>
						<li>Unlimited support from Marc + the SPARC team via Blitz</li>
						<li>Proven program design which has helped hundreds of women lose weight quickly and safely</li>
						<li>10 weeks of expert coaching for less than some NYC trainers charge for an hour!</li>
					</ul>

					<div class="action">
						<button class="obtn full-width">Reserve Spot</button>
					</div>
				</div><!--/ price-plan -->
			</div>

	</div><!--/ pricing -->
</div><!--/ container -->

<div class="container mobilepad">
	<div class="row">
		<h1 style="text-align: center; margin-bottom: 30px; margin-top: 30px;">A word from Marc...</h1>
	</div>
	<div class="row">
		<div class="span8">
			<div class="message">
				<p>I got started in bodybuilding through my older brother and cousin, all the way back in 1986. Now, almost 30 years later, it has become a passion in my life not only recreationally but also competitively. I've had many aspirations in the world of fitness and been fortunate enough to reach almost all of my goals. Now, my goal is to help as many people as I can do the same. Bodybuilding has taught me so much about my self , self-discipline, and determination over the years, and nothing is better than being able to share that knowledge and help transform others.</p>

				<p>Train with me and you'll get to benefit from all of that hard work and experience, along with getting someone in your corner who's 100% committed to helping you reach your goals.</p>

				<div id="trainersig" style="text-align: left; padding-bottom: 0px;">
					—Marc
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="contact">
				<img style="margin-bottom: 40px; border: 6px solid #9dbfff; text-align: center;" class="img-circle" src="{{ STATIC_URL }}images/marcheadshot.png"/>
				<br />
				<button class="obtn full-width">Message Marc</button>
			</div>
		</div>
	</div>
</div><!--/ marketing container-->

<div class="getting-started">
	<div class="container mobilepad">
		<div class="row">
			<h2>Don't keep settling for the same results.</h2>

			<p>Get the progress and body you deserve with a coach who can get you there.</p>
			<p>If you don't see something that's right for you here, or have any questions, shoot me a message. 15-30 minute video-chat consults about your fitness goals and the best way to get there are always free.</p>
			<button class="obtn">Get a Free Consultation</button>
		</div>
	</div> <!--/ container -->
</div> 

  <div class="sales-footer">
      ©Blitz MMXV
  </div>

	{% block footer %} {{ block.super }}
	{% endblock footer %}

{% endblock outer_content %}

