{% extends "spotter_base.html" %}

{% block morehead %}
    <script type='text/javascript' src='{{ STATIC_URL }}js/homepage.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/feed.js'></script>

	<style type="text/css">
		.exercise-matrix .exercise-container .exercise .exercise-details-container .exercise-details .detail-container .detail, .exercise-matrix .exercise-container .exercise .exercise-details-container .exercise-details .detail-container:first-child .detail, .exercise-matrix .exercise-container .exercise .exercise-details-container .exercise-details .detail-container:last-child .detail {
			color: white !important;
		}
	</style>
{% endblock %}


{% block main %}




<div class="col-md-6 col-md-offset-3" style="color: #333; text-align: left; float: left;">

{% include "main_feed.html" %}


{% endblock %}
