{% extends "spotter_base.html" %}

{% block main %}

<h3>Pending trainer invitations</h3>
<style>
      tr:nth-of-type(odd) {
      background-color:#D8F1D7;
    }
</style>


    <div class="span6 offset3" style="margin-bottom: 50px; margin-top: 0px; padding-right: 20px;">
      
        <ul>
        {% for invite in invites|dictsort:"date_created" %}
          <div class="spotterwrap" style="text-align: left;">
             <li>
              <span class="small">
                {{ invite.date_created }}
              </span>
              <p>
                {{ invite.blitz.trainer.name }}: {{ invite }} ({{ invite.email }}) 
              </p>
              <p>
                Details: 
              </p>
              <ul style="margin-top: -10px; list-style-type: disc;">
                <li>
                  {% if invite.workout_plan %} 
                    <li>
                      Workout plan: {{ invite.workout_plan.name }} 
                    </li>
                  {% endif %}
                  {% if invite.macro_formula %} 
                    <li>
                      Macros: {{ invite.macro_formula }}
                    </li>
                  {% endif %}
                  {% if invite.price %}
                    <li>
                      Price: ${{ invite.price }} {% else %} Free 
                    </li>
                  {% endif %}
                <li>
             </li>
           </div>
        {% endfor %}

    </div>

{% endblock %}


    blitz = models.ForeignKey(Blitz, blank=True, null=True)
    email = models.EmailField()
    name = models.CharField(max_length=100)
    signup_key = models.CharField(max_length=30, default="")

    free = models.BooleanField(default=False) # free or paid invitation

    # (optional for 1:1 Blitz) price transfers to Blitz if set specific to invitation  
    price = models.DecimalField(max_digits=6, decimal_places=2, blank=True, null=True)

    # (optional for 1:1 Blitz) workoutplan transers to Blitz if set specific to invitation
    workout_plan = models.ForeignKey(WorkoutPlan, blank=True, null=True)

    macro_formula = models.CharField(max_length=10, choices=MACROS_CHOICES, default='DEFAULT')
    date_created = models.DateField(default=datetime.date.today)

