{% extends "spotter_base.html" %}

{% block main %}

<h3>Pending trainer invitations</h3>
<style>
      tr:nth-of-type(odd) {
      background-color:#D8F1D7;
    }
</style>


    <div class="span6 offset3" style="margin-bottom: 50px; margin-top: 0px; padding-right: 20px;">
      
        <ul>
        {% for invite in invites|dictsortreversed:"date_created" %}
          <div class="spotterwrap" style="text-align: left;">
             <li>
              <span class="small">
                {{ invite.date_created }}
              </span>
              <p>
                {{ invite.blitz.trainer.name }}: {{ invite }} ({{ invite.email }}) 
              </p>
              <p>
                Details: 
              </p>
              <ul style="margin-top: -10px; list-style-type: disc;">
                <li>
                  {% if invite.workout_plan %} 
                    <li>
                      Workout plan: {{ invite.workout_plan.name }} 
                    </li>
                  {% endif %}
                  {% if invite.macro_formula %} 
                    <li>
                      Macros: {{ invite.macro_formula }}
                    </li>
                  {% endif %}
                  {% if invite.price %}
                    <li>
                      Price: ${{ invite.price }} {% else %} Free 
                    </li>
                  {% endif %}
                <li>
             </li>
           </div>
        {% endfor %}

    </div>

{% endblock %}



