{% extends "spotter_base.html" %}

{% block main %}

<h1>Sales pages</h1>
<style>
      tr:nth-of-type(odd) {
      background-color:#D8F1D7;
    }
</style>
<table>
  <br>
  {% for content in pending %}
    <tr>
        {% for element in content %}
          {% if forloop.first %}
            <td>
              <a href="/sales-blitz?slug={{ element.url_slug }}&short_name={{ element.trainer.short_name }}&debug=True&key={{ element.sales_page_content.sales_page_key }}">
                <b>Edit</b>
              </a>
            </td>
            <td>
              <a href="/{{ element.trainer.short_name }}/{{ element.url_slug }}">
                <b>View</b>
              </a>
            </td>
          {% else %}
            <td>
              {{ element }}
            </td>
          {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
</table>

{% if errors %}
    <ul>
    {% for e in errors %}
        <li>{{ e }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}

