{% extends "spotter_base.html" %}

{% block main %}
<header> Upload a program.xls with 3 sheets as in this 
<a href="{% url "spotter_download" %}?file=sample_blitz_program.xls&dir=/programs/">example</a>
</header>
<div class="col-md-6 col-md-offset-3" style="margin-top: 20px;">

        <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table><br>

         <div class="submit-container">
             <button class='obtn full-width' type='submit'>Upload</button>
         </div>
        </form>

</div>

{{ results }} 


{% endblock %}
