{% extends "spotter_base.html" %}

{% block morehead %}
<script type="text/javascript" 
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript">
  /*<![CDATA[*/
  jQuery(function() {
      var form = jQuery("#contactform");
      form.submit(function(e) {
          jQuery("#sendbutton").attr('disabled', true)
          jQuery("#sendwrapper").prepend('<span>Sending message, please wait... </span>')
          jQuery("#ajaxwrapper").load(
              form.attr('action') + ' #ajaxwrapper',
              form.serializeArray(),
              function(responseText, responseStatus) {
                  jQuery("#sendbutton").attr('disabled', false)
              }
          );
          e.preventDefault(); 
      });
  });
  /*]]>*/
  </script>

{% endblock %}

{% block main %}
<header> Edit sales page content

<div class="span8">

      <form action="#" method="post" id="contactform">
      {% csrf_token %}
      <div id="ajaxwrapper">
          <table>
          {{ form.as_table }}
          {{ form.errors }}
          </table><br>
          <div class="submit-container">
            <p id="sendwrapper"><input type="submit" class='obtn full-width' value="Send" id="sendbutton"/></p>
          </div>
      </div>
      </form>

</div>

{% endblock %}
