{% extends "base.html" %}

{% block body_extras %}class="login-page"{% endblock %}

{% block outer_content %}

<style type="text/css">
	.container {
		text-align: center !important;
		color: white !important;
		list-style: none !important;
		margin-top: 5%;
	}
	.container a {
		color: cornflower-blue !important;

	}

	.blitz-login, img {
		/*  */padding: 0 important!;
		margin-bottom: 30px;
	}

	.header ul {
		list-style-type: none !important;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	ul {
		margin: 30px 0px 0px 0px;
	}

	li {
		
		list-style-type: none !important;
	}

	table {
		width: 100%;
	}



	tr:nth-of-type(odd) {
	background-color: rgba(255,255,255,0.15) !important;
	}

	tr {
		height: 50px;
	}

</style>

<div class="container">
    <div class="row">
        <div class="span10 offset1" style="margin-bottom: 50px;">
            <div class="xblitz-login" style="margin-top: 20% important!;">
                <a href="{% url "spotter_index" %}"><img src="{{ STATIC_URL }}images/logo-w.png" /></a>
            </div>
        <div class="" style="margin-bottom: 30px;">
	        <ul class="spotternav">
				<li><a href="{% url "spotter_index" %}">Home</a></li>
				<li><a href="{% url "spotter_usage" %}">Daily Digest</a></li>
				<li><a href="{% url "spotter_uploads" %}">Trainers Uploads</a></li>
				<li><a href="{% url "spotter_program_upload" %}">Upload Programs</a></li>
				<li><a href="{% url "spotter_pending_trainers" %}">Pending Trainers/Plans</a></li>
				<li><a href="{% url "spotter_status_trainers" %}">Trainers, Blitzes, and WorkoutPlans</a></li>
				<li><a href="{% url "spotter_blitz_sales_pages" %}">Sales Pages</a></li>
				<li><a href="{% url "spotter_workouts" %}">Exercises and Workout-sets</a></li>
			</ul>
		</div>
                {% block main %}
				{% endblock %}
        </div>
    </div>
    
</div>
{% endblock outer_content %}



