
{% extends "base.html" %}

{% block body_extras %}class="login-page"{% endblock %}

{% block outer_content %}

<style type="text/css">
	body > div > div > div > div.blitz-login > a > img {
		width: 75px;
	}
	.container {
		text-align: center !important;
		list-style: none !important;
		margin-top: 5%;
	}

	.container a {
		color: cornflower-blue !important;

	}

	.row {
		color: white ;
	}

	.main-feed, .comment-feed-item, .parent-comment, .comment, .feed-item-likes, .reply{
		color: '#333 !important';
	}

	.blitz-login, img {
		/*  */padding: 0 important!;
		margin-bottom: 30px;
	}

	.header ul {
		list-style-type: none !important;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	ul {
		margin: 30px 0px 0px 0px;
	}

	li {
		
		list-style-type: none !important;
	}

	table {
		width: 100%;
	}



	tr:nth-of-type(odd) {
	background-color: rgba(255,255,255,0.15) !important;
	}

	tr {
		height: 50px;
	}

</style>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
	<div class="navbar-header">
		<div class="btn-outline-trans navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="margin-right: 15px;">
        	<i class="icon-chevron-down"></i>
      	</div>
	    <a class="navbar-brand" href="#">
	    	<img src="/static/images/logo-w@2x.png" width="45" height="45" style="padding: 15px !important; float: left; text-align: left; margin-bottom: 0px;">
	    </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
    	<ul class="nav navbar-nav">
	        <li class="active"><a href="{% url "spotter_index" %}">Home</a></li>
			<li><a href="{% url "spotter_usage" %}">Daily digest</a></li>
			<li><a href="{% url "spotter_uploads" %}"> Trainers Uploads</a></li>
			<li><a href="{% url "spotter_program_upload" %}">Upload new program</a></li>
			<li><a href="{% url "spotter_status_trainers" %}">Trainers, Programs and WorkoutPlans</a></li>
			<li><a href="{% url "spotter_blitz_sales_pages" %}">Sales pages</a></li>
			<li><a href="{% url "spotter_payments" %}">Payments report</a></li>
			<li><a href="{% url "spotter_invites" %}">Invitations</a></li>
			<li><a href="{% url "spotter_feed" %}">All feeds</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</div>
	<div class="navrow">
		<ul class="nav navbar-nav">
	        <li class=""><a href="{% url "spotter_index" %}">Home</a></li>
			<li><a href="{% url "spotter_usage" %}">Daily digest</a></li>
			<li><a href="{% url "spotter_uploads" %}"> Trainers Uploads</a></li>
			<li><a href="{% url "spotter_program_upload" %}">Upload new program</a></li>
			<li><a href="{% url "spotter_status_trainers" %}">Trainers, Programs and WorkoutPlans</a></li>
			<li><a href="{% url "spotter_blitz_sales_pages" %}">Sales pages</a></li>
			<li><a href="{% url "spotter_payments" %}">Payments report</a></li>
			<li><a href="{% url "spotter_invites" %}">Invitations</a></li>
			<li><a href="{% url "spotter_feed" %}">All feeds</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
  </div>
</nav>

<div class="container">
    <div class="row" style="margin-top: 3%;">
                {% block main %}
				{% endblock %}
        </div>
    </div>
    
</div>
{% endblock outer_content %}

<a class="brand" href="/" id="logo"><img src="{{ STATIC_URL }}images/logo-bp2.png"/></a><br>
<style>body { font-family: Ubuntu, sans-serif; }</style>



