{% extends "emails/base_email.html" %}

{% load price_tags %}

{% block email_content %}

<h4>Daily usage digest past {{ days }} days</h4>

<h3>from: {{ hosts }}</h3>
<h3>MRR ${{ MRR }}</h3>

{% if trainers %}
<h3>New Trainers:</h3>
{% regroup trainers by date_created as trainer_list %}
{% for trainer in trainer_list %}
<ul><b>{{ trainer.grouper }}<b></ul>
    <ul>
    {% for c in trainer.list %}
    <li> {{ c.name }}</li>
    {% endfor %}
    </ul>
{% endfor %}
<br>
{% endif %}

{% if members %}
<h3>New Clients:</h3>
{% regroup members by date_created as member_list %}
{% for member in member_list %}
<ul><b>{{ member.grouper }}<b></ul>
    <ul>
    {% for c in member.list %}
    <li> {{ c.client.name }} in {{ c.blitz.name }} (with {{ c.blitz.trainer.name }}) for $
{% if c.blitz.price|member_price:c == 0 %}FREE{% else %}{{ c.blitz.price|member_price:c }}{% endif %}</li>
    {% endfor %}
    </ul>
{% endfor %}
<br>
{% endif %}

{% if login_users %}
<h3>Last login</h3>
<ul>
{% for login in login_users|dictsort:"last_login" %}
    <li> {{ login.email }} {{ login.last_login }}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}

