{% extends "emails/base_email.html" %}

{% load price_tags %}

{% block email_content %}

<h4>Usage digest past {{ days }} {% if days == 1 %}day{% else %}days{% endif %}</h4>
{% if trainer %}
{{ trainer.name }}
{% endif %}

{% if hosts %}
<h3>from: {{ hosts }}</h3>
{% endif %}
{% if revenue %}
<h3>Total net ${{ revenue|stringformat:"1.2f"|cut:"-" }}</h3>
{% endif %}

{% if trainers %}
<h3>New Trainers:</h3>
{% regroup trainers by date_created as trainer_list %}
{% for trainer in trainer_list %}
<ul><b>{{ trainer.grouper }}<b></ul>
    <ul>
    {% for c in trainer.list %}
    <li> {{ c.name }}</li>
    {% endfor %}
    </ul>
{% endfor %}
<br>
{% endif %}

{% if members %}
<h3>New Clients:</h3>
{% regroup members by date_created as member_list %}
{% for member in member_list %}
<ul><b>{{ member.grouper }}<b></ul>
    <ul>
    {% for c in member.list %}
    <li> {{ c.client.name }} in {{ c.blitz.name }} (with {{ c.blitz.trainer.name }}) for $ 
    {% if c.price %} {{ c.price }} {% else %} Free {% endif %}</li>
    {% endfor %}
    </ul>
{% endfor %}
<br>
{% endif %}

{% if login_users %}
<h3>Logins</h3>
{% for login in login_users|dictsort:"last_login" %}
    <small>({{ login.email }})</small> {{ login.username }} {{ login.last_login }}
{% endfor %}
{% endif %}
<br>
{% if laggard_users %}
<h3>Need reminders</h3>
{% for laggard in laggard_users|dictsort:"last_login" %}
    <small>({{ laggard.email }})</small> {{ laggard.username}} {{ laggard.last_login }}
{% endfor %}
{% endif %}
<br>
{% if inactive_users %}
<h3>Missing in action</h3>
{% for inactive in inactive_users|dictsort:"last_login" %}
    <small>({{ inactive.email }})</small> {{ inactive.username }} {{ inactive.last_login }}
{% endfor %}
{% endif %}

{% endblock %}

