{% extends "spotter_base.html" %}

{% load blitz_tags %}

{% block morehead %}

{% endblock %}

{% block above_content %}
{% endblock %}

{% block main %}
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-md-12">
            <h1 style="">{{ workout_plan.name }}  - Program Details</h1>
            <a href="/spotter/edit-workoutplan?plan={{ workout_plan.pk }}" style="">
                <i class="icon-pencil"></i> Edit program
            </a>
        </div>
    </div>
    {% for week in workout_plan.weeks %}
    <div class="spotterrowwrap">
        <div class="row">
            <div class="col-md-12" style="border-top: 0px solid white; border-bottom: 1px solid white; margin-bottom: 30px; padding-bottom: 10px;">
                <h3>Week {{ week.week }} </h3>
            </div>
        </div>
        <div class="row">
            <div class="row-same-height">
                {% for day in week.days %}
                {% if week.days.count = 6 %}
                    <div class="col-md-2" style="margin-left: 0px;">
                {% endif %}
                {% if week.days.count = 5 %}
                    <div class="col-md-2" style="margin-left: 0px;">
                {% endif %}
                {% if week.days.count = 4 %}
                    <div class="col-md-3" style="margin-left: 0px;">
                {% endif %}
                {% if week.days.count = 3 %}
                    <div class="col-md-4" style="margin-left: 0px;">
                {% endif %}
                {% if week.days.count = 2 %}
                    <div class="col-md-6" style="margin-left: 0px;">
                {% endif %}
                {% if week.days.count = 1 %}
                    <div class="col-md-12" style="margin-left: 0px;">
                {% endif %}
                    <div class="workout-day-block spotterwrap" >
                        <div class="title"><u>{{ day.day_of_week|day_name }}</u></div>
                        <div class="content">
                            <ul>
                                {% for exercise in day.workout.get_exercises %}
                                        <li style="margin-left: 0px;">
                                        {% if exercise.prefix %} {{ exercise.prefix }} {% endif %}
                                        {{ exercise.lift }}: {{ exercise.sets_display }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>

    {% endfor %}

{% endblock %}


