<div class="feed-item" data-object_pk="1" data-content_type="comment" data-viewed="">
    <div class="disable">
    </div>
    
    <div class="parent-headshot">
        <img src="/media/headshots/amare.jpeg" class="img-circle">
    </div>
    <div class="feed-item-content">

        <div class="comment-feed-item">
            <div class="parent-headshot-card">
                <img src="/media/headshots/amare.jpeg" class="img-circle">
            </div>
            <div class="parent-comment comment">
                <a href="/profile/c/2" class="name">Amar'e Stoudemire</a> Who wants to go for a jog after the gym today?
                <div class="feeditem-pub-date"><i class="icon-time"></i> 23 hours, 25 minutes ago</div>
            </div>

            <div class="feed-item-footer" data-object_pk="1" data-content_type="comment">
                <div class="feeditem-actions-container">
                    <div class="anchor-container">
                        <a class="like-link"><i class="icon-thumbs-up"></i> Like</a>
                    </div>
                    <div class="anchor-container">
                        <a class="comment-link"><i class="icon-comment"></i> Comment</a>
                    </div>
                </div>

                <div class="feed-item-likes">
                    <i class="icon-thumbs-up"></i>
                    <a href="#">Jason Kidd</a>
                    and
                    <a href="#">JR Smith</a>
                    like this.
                </div>

                <div class="child-comment comment" data-object_pk="3">
                    <img class="img-circle headshot" src="/media/headshots/carmelo.jpeg">
                    <a href="/profile/c/1" class="name">Carmelo Anthony</a> Sure buddy
                    <div class="comment-date">
                        <i class="icon-time"></i> 23 hours, 25 minutes ago
                        <a class="like-link">Like</a>
                    </div>
                </div>

                <div class="child-comment comment trainer-comment" data-object_pk="4">
                    <img class="img-circle headshot" src="/media/headshots/ct.png">
                    <a href="/" class="name">CT Fletcher</a> No running! We need you if we are going to win a playoff game!
                    <div class="comment-date">
                        <i class="icon-time"></i> 23 hours, 25 minutes ago
                        <a class="like-link">Like</a>
                    </div>
                </div>

                <div style="" class="add-child-comment-container" data-object_pk="1" data-content_type="comment">
                    <textarea rows="1" class="expanding add-child-comment-textarea" placeholder="Write a comment..."></textarea>
                    <a class="obtn obtn-comment add-child-comment-submit" style="display:none;">Post</a>
                </div>
            </div>
        </div>
    </div>
</div>
