<div class="client-summary">
    {% comment %}
	<div class="disable">
	</div>
    {% endcomment %}

	<div class="text-overlay">
		<p>Once you've got clients their stats, workouts, and diet logs will show up here.</p>
	</div>

    <div class="section cover">
        <div class="spacer20"></div>
            <img src="{{ STATIC_URL }}images/silhouette.jpeg" class="client-picture img-circle center">
        <div class="spacer20"></div>
        <p class="client-name center">Example Client</p>
        <p class="client-info center">
            <span class="client-height">6'0"  ●   </span>
            <span class="client-weight">224 lbs.  ●   </span>
            <span class="client-age">33 yrs old</span>
        </p>
    </div>
    <div class="section diet-goals sidebar-box">
        <div class="header">
            Diet Goals
        </div>
        <div class="goals-history">
            <div class="macro-toggle">
                <button type="button" class="switch-training active">Training Days</button>
                <button type="button" class="switch-resting">Rest Days</button>
            </div>

            <div class="training">
                <div class="box">
                    <div class="title">
                        Protein
                    </div>
                    <div class="description info info-calories">
                        190-220
                    </div>
                </div>

                <div class="box">
                    <div class="title">
                        Carbs
                    </div>
                    <div class="description info info-protein">
                        450-475
                    </div>
                </div>

                <div class="box">
                    <div class="title">
                        Fat
                    </div>
                    <div class="description info info-fat">
                        70-85
                    </div>
                </div>

                <div class="box">
                    <div class="title">
                        Calories
                    </div>
                    <div class="description info info-carbs">
                        3.8k-4.1k
                    </div>
                </div>

            </div><!--/ training -->

            <div class="resting hidden">
                <div class="box">
                    <div class="title">
                        Calories
                    </div>
                    <div class="description info info-calories">
                        190 - 220
                    </div>
                </div>

                <div class="box">
                    <div class="title">
                        Protein
                    </div>
                    <div class="description info info-protein">
                        450 - 475
                    </div>
                </div>

                <div class="box">
                    <div class="title">
                        Carbs
                    </div>
                    <div class="description info info-carbs">
                        3.3k - 4.1k
                    </div>
                </div>

                <div class="box">
                    <div class="title">
                        Fat
                    </div>
                    <div class="description info info-fat">
                        70 - 85
                    </div>
                </div>
            </div> <!--/ resting -->
            <div class="clearfix"></div>
        </div>
        <div class="spacer10"></div>
    </div>

    <div class="section sidebar-box diet-progress">
        <!-- TODO: Remove .header element -->
        <div class="header hidden">
            Diet Progress
            <select style="display: none;">
                <option value="this_week">This Week</option>
                <option value="1">Week 1</option>
                <option value="2">Week 2</option>
                <option value="3">Week 3</option>
                <option value="4">Week 4</option>
                <option value="5">Week 5</option>
                <option value="6">Week 6</option>
                <option value="7">Week 7</option>
                <option value="8">Week 8</option>
                <option value="9">Week 9</option>
                <option value="10">Week 10</option>
                <option value="11">Week 11</option>
                <option value="12">Week 12</option>
            </select>
            <div class="weekSelector slide-select">
                <ul>
                    <li class="arrow">
                        <a href="#">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </li>
                    <li class="item active">This Week</li>

                    <li class="item" data-week-num="1">Week 1</li>

                    <li class="item" data-week-num="2">Week 2</li>

                    <li class="item" data-week-num="3">Week 3</li>

                    <li class="item" data-week-num="4">Week 4</li>

                    <li class="item" data-week-num="5">Week 5</li>

                    <li class="item" data-week-num="6">Week 6</li>

                    <li class="item" data-week-num="7">Week 7</li>

                    <li class="item" data-week-num="8">Week 8</li>

                    <li class="item" data-week-num="9">Week 9</li>

                    <li class="item" data-week-num="10">Week 10</li>

                    <li class="item" data-week-num="11">Week 11</li>

                    <li class="item" data-week-num="12">Week 12</li>

                    <li class="arrow">
                        <a href="#">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="macro-history">
            <div class="week-name">
                Diet Progress
                <select style="display: none;">
                    <option value="this_week">This Week</option>

                    <option value="1">Week 1</option>

                    <option value="2">Week 2</option>

                    <option value="3">Week 3</option>

                    <option value="4">Week 4</option>

                    <option value="5">Week 5</option>

                    <option value="6">Week 6</option>

                    <option value="7">Week 7</option>

                    <option value="8">Week 8</option>

                    <option value="9">Week 9</option>

                    <option value="10">Week 10</option>

                    <option value="11">Week 11</option>

                    <option value="12">Week 12</option>

                </select>
                <div class="weekSelector slide-select">
                    <ul>
                        <li class="arrow ">
                            <div class="left-arrow" href="">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </div>
                        </li>
                        <li class="item">This Week</li>

                        <li class="item" data-week-num="1">Week 1</li>

                        <li class="item" data-week-num="2">Week 2</li>

                        <li class="item" data-week-num="3">Week 3</li>

                        <li class="item" data-week-num="4">Week 4</li>

                        <li class="item" data-week-num="5">Week 5</li>

                        <li class="item" data-week-num="6">Week 6</li>

                        <li class="item" data-week-num="7">Week 7</li>

                        <li class="item" data-week-num="8">Week 8</li>

                        <li class="item" data-week-num="9">Week 9</li>

                        <li class="item" data-week-num="10">Week 10</li>

                        <li class="item" data-week-num="11">Week 11</li>

                        <li class="item" data-week-num="12">Week 12</li>

                        <li class="arrow right-arrow">
                            <div class="right-arrow" href="">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="week week-1 current" data-week-number="1">
                <!-- <div class="week-name">Week 1</div> -->
                <div class="days">
                    <table>
                        <tbody>
                            <tr>

                                <td data-future="False">


                                    <div class="macro-day-cell">
                                        <i class="glyphicon glyphicon-ok-sign pass"></i>
                                    </div>




                                </td>

                                <td data-future="False">


                                    <div class="macro-day-cell">
                                        <i class="glyphicon glyphicon-ok-sign pass"></i>
                                    </div>




                                </td>

                                <td data-future="False">


                                    <div class="macro-day-cell">
                                        <i class="glyphicon glyphicon-remove-sign fail"></i>
                                    </div>




                                </td>

                                <td data-future="False">


                                    <div class="macro-day-cell">
                                        <i class="glyphicon glyphicon-ok-sign pass"></i>
                                    </div>




                                </td>

                                <td data-future="False">


                                    <div class="macro-day-cell">
                                        <i class="glyphicon glyphicon-ok-sign pass"></i>
                                    </div>




                                </td>

                                <td data-future="False">


                                    <div class="macro-day-cell">
                                        <i class="glyphicon glyphicon-ok-sign pass"></i>
                                    </div>




                                </td>

                                <td data-future="False">


                                    <div class="macro-day-cell">
                                        <i class="glyphicon glyphicon-question-sign unknown"></i>
                                    </div>




                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="week week-2 hidden" data-week-number="2">
                <!-- <div class="week-name">Week 2</div> -->
                <div class="days">
                    <table>
                        <tbody>
                            <tr>

                                <td data-future="False">


                                    <div class="macro-day-cell">
                                        <i class="glyphicon glyphicon-question-sign unknown"></i>
                                    </div>




                                </td>

                                <td data-future="False">


                                    <div class="macro-day-cell">
                                        <i class="glyphicon glyphicon-question-sign unknown"></i>
                                    </div>




                                </td>

                                <td data-future="False">
                                    <div class="macro-day-cell">
                                        <i class="glyphicon glyphicon-question-sign unknown"></i>
                                    </div>
                                </td>

                                <td data-future="False">
                                    <div class="macro-day-cell">
                                        <i class="glyphicon glyphicon-question-sign unknown"></i>
                                    </div>
                                </td>

                                <td data-future="False">
                                    <div class="macro-day-cell">
                                        <i class="glyphicon glyphicon-question-sign unknown"></i>
                                    </div>
                                </td>

                                <td data-future="False">
                                    <div class="macro-day-cell">
                                        <i class="glyphicon glyphicon-question-sign unknown"></i>
                                    </div>
                                </td>

                                <td data-future="False">
                                    <div class="macro-day-cell">
                                        <i class="glyphicon glyphicon-question-sign unknown"></i>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="week week-3 hidden" data-week-number="3">
                <!-- <div class="week-name">Week 3</div> -->
                <div class="days">
                    <table>
                        <tbody>
                            <tr>
                                <td data-future="False">
                                    <div class="macro-day-cell">
                                        <i class="glyphicon glyphicon-question-sign unknown"></i>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">11</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">12</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">13</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">14</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">15</span>
                                    </div>
                                </td>

                                <td data-future="True">

                                    <div class="macro-day-cell">
                                        <span class="day-of-month">16</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="week week-4 hidden" data-week-number="4">
                <!-- <div class="week-name">Week 4</div> -->
                <div class="days">
                    <table>
                        <tbody>
                            <tr>
                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">17</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">18</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">19</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">20</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">21</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">22</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">23</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="week week-5 hidden" data-week-number="5">
                <!-- <div class="week-name">Week 5</div> -->
                <div class="days">
                    <table>
                        <tbody>
                            <tr>
                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">24</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">25</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">26</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">27</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">28</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">29</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">30</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="week week-6 hidden" data-week-number="6">
                <!-- <div class="week-name">Week 6</div> -->
                <div class="days">
                    <table>
                        <tbody>
                            <tr>
                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">1</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">2</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">3</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">4</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">5</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">6</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">7</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="week week-7 hidden" data-week-number="7">
                <!-- <div class="week-name">Week 7</div> -->
                <div class="days">
                    <table>
                        <tbody>
                            <tr>
                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">8</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">9</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">10</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">11</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">12</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">13</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">14</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="week week-8 hidden" data-week-number="8">
                <!-- <div class="week-name">Week 8</div> -->
                <div class="days">
                    <table>
                        <tbody>
                            <tr>
                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">15</span>
                                    </div>
                                </td>
                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">16</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">17</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">18</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">19</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">20</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">21</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="week week-9 hidden" data-week-number="9">
                <!-- <div class="week-name">Week 9</div> -->
                <div class="days">
                    <table>
                        <tbody>
                            <tr>
                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">22</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">23</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">24</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">25</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">26</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">27</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">28</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="week week-10 hidden" data-week-number="10">
                <!-- <div class="week-name">Week 10</div> -->
                <div class="days">
                    <table>
                        <tbody>
                            <tr>
                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">29</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">30</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">31</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">1</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">2</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">3</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">4</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="week week-11 hidden" data-week-number="11">
                <!-- <div class="week-name">Week 11</div> -->
                <div class="days">
                    <table>
                        <tbody>
                            <tr>
                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">5</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">6</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">7</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">8</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">9</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">10</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">11</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="week week-12 hidden hidden" data-week-number="12">
                <!-- <div class="week-name">Week 12</div> -->
                <div class="days hidden">
                    <table>
                        <tbody>
                            <tr>
                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">12</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">13</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">14</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">15</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">16</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">17</span>
                                    </div>
                                </td>

                                <td data-future="True">
                                    <div class="macro-day-cell">
                                        <span class="day-of-month">18</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/ macro-history -->
        <div class="spacer10"></div>
    </div>

    <div class="section sidebar-box workout-plan">
        <div class="header" style="opacity: 0.3;">
            Workout Plan
        </div>

        <div class="details">
            <h4>
                <div style="color: #999; font-size: 24px;">Starting Strength</div>
            </h4>
        </div>

        <div class="spacer10"></div>
    </div>
</div>
