<div class="feed-item" data-object_pk="1" data-content_type="comment" data-viewed="">
    <div class="disable">
    </div>
    
    <div class="parent-headshot">
        <img src="{{ STATIC_URL }}images/silhouette.jpeg" class="img-circle">
    </div>
    <div class="feed-item-content">

        <div class="comment-feed-item">
            <div class="parent-headshot-card">
                <img src="{{ STATIC_URL }}images/silhouette.jpeg" class="img-circle">
            </div>
            <div class="parent-comment comment">
                <a class="name condensetext">■■■■■ ■■■■■■■■■■</a>
                <span class="condensetext">■■■ ■■■■■ ■■ ■■ ■■■ ■ ■■■ ■■■■■ ■■■ ■■■ ■■■■■</span>
                <div class="feeditem-pub-date"><i class="glyphicon-time"></i> 23 hours, 25 minutes ago</div>
            </div>

            <div class="feed-item-footer" data-object_pk="1" data-content_type="comment">
                <div class="feeditem-actions-container">
                    <div class="anchor-container">
                        <a class="like-link"><i class="glyphicon-thumbs-up"></i> Like</a>
                    </div>
                    <div class="anchor-container">
                        <a class="comment-link"><i class="glyphicon-comment"></i> Comment</a>
                    </div>
                </div>

                <div class="child-comment comment" data-object_pk="3">
                    <img class="img-circle headshot" src="{{ STATIC_URL }}images/silhouette.jpeg">
                    <a class="name condensetext">■■■■■■■■ ■■■■■■■■</a> 
                    <span class="condensetext">■■■■■■■ ■■■■■■■■■■■■■■■ ■■■ ■■■■■■■■</span>
                    <div class="comment-date">
                        <i class="glyphicon-time"></i> 23 hours, 25 minutes ago
                        <a class="like-link">Like</a>
                    </div>
                </div>

                <div class="child-comment comment" data-object_pk="4">
                    <img class="img-circle headshot" src="{{ STATIC_URL }}images/silhouette.jpeg">
                    <a class="name condensetext">■■■■ ■■■■■■■■■</a>
                    <span class="condensetext">■■ ■■■■■■■ ■■■■ ■■■■ ■■■ ■■ ■■ ■■■ ■■■■■ ■■ ■■■ ■ ■■■■■ ■■■■■</span>
                    <div class="comment-date">
                        <i class="glyphicon-time"></i> Yesterday
                        <a class="like-link">Like</a>
                    </div>
                </div>

                <div style="" class="add-child-comment-container" data-object_pk="1" data-content_type="comment">
                    <textarea rows="1" class="expanding add-child-comment-textarea" placeholder="Write a comment..."></textarea>
                    <a class="obtn obtn-comment add-child-comment-submit" style="display:none;">Post</a>
                </div>
            </div>
        </div>
    </div>
</div>
