<h3>{{ title }} <small>Starts {{start_date}} | Ends {{end_date}} - {{ members_count }} Members</small></h3>
<div class="members">
	{% if headshots %}
		{% for member in blitz.members %}
		<a href="{% url 'client_profile' member.pk %}" target="_blank"><img class="img-circle headshot" src="/media/{{ member.headshot }}"></a>
		{% endfor %}
	{% endif %}
</div>
<div class="actions">
	<a class="btn btn-primary" id="datep" href="#" data-object-id="{{blitz.pk}}" style="height:20px;">
<input type="text" class="datepicker" id="datepicker" name="begin_date" value="{{ blitz.begin_date|date:"m/d/Y" }}" style="width:85px; height:15px;">
 Edit</a>

	<a class="btn btn-primary" href="{% url 'spotter_program_edit' blitz.workout_plan.pk %}" data-object-id="{{blitz.workout_plan.pk}}">Edit Program</a>
	<a class="btn btn-primary" href="{% url 'blitz_macros' blitz.pk %}" data-object-id="{{blitz.pk}}">Edit Macros</a>
	<a class="btn btn-primary" href="/sales-blitz?slug={{ blitz.url_slug }}&short_name={{ blitz.trainer.short_name }}&debug=True&key={{ blitz.sales_page_content.sales_page_key }}">Edit Page</a>
</div>


<script>
$(document).ready(function() {
    $('#datep').click(function() {
        $('#datepicker').datepicker('show');
    });
    $('#datep').change(function() {
        $.ajax({
                url: '/trainer/change-date',
                type: 'POST',
                data: {blitz: {{ blitz.pk }},
                       begin_date: $("#datepicker").datepicker('getDate')},
                success: function( data, textStatus, jQxhr ){ }, 
                error: function( jqXhr, textStatus, errorThrown ){ console.log( errorThrown ); }
            })
    })

});
$(function() {
  $( "#datepicker" ).datepicker();
  $( "#datepicker" ).datepicker( "option", "dateFormat", "mm/dd/yy" )
});


</script>

