<h3>{{ title }} <small>Starts {{start_date}} | Ends {{end_date}} - {{ members_count }} Members</small></h3>
<div class="members">
	{% if headshots %}
		{% for headshot in headshots%}
		<img class="img-circle headshot" src="/media/{{ headshot }}">
		{% endfor %}
	{% endif %}
</div>
<div class="actions">
	<button type="button" class="btn btn-primary">Edit Dates</button>
	<button type="button" class="btn btn-primary">Edit Program</button>
	<button type="button" class="btn btn-primary">Edit Macros</button>
	<button type="button" class="btn btn-primary">Edit Page</button>
</div>
