<h3>{{ title }} <small>Starts {{start_date}} | Ends {{end_date}} - {{ members_count }} Members</small></h3>

<div class="members">
	{% if headshots %}
		{% for member in blitz.members %}
		<a href="{% url 'client_profile' member.pk %}">
                    <img class="img-circle headshot" id="headshot" src="{{ member.get_headshot_url }}">
                </a>
		{% endfor %}
	{% endif %}
</div>
<div class="actions">
	<a class="btn btn-primary" id="datep" href="#" data-object-id="{{blitz.pk}}" style="height:20px;"><div class="startlabel">Starts: </div>
<input type="text" class="datepicker inbtn" id="datepicker" name="begin_date" value="{{ blitz.begin_date|date:"m/d/Y" }}" style=""></a>

    {% if blitz.workout_plan %}
	<a class="btn btn-primary" onclick="{ document.getElementById('plan_name').text='{{ blitz.workout_plan.name }}'; document.getElementById('client_name').text='members of {{ blitz.title }}'; document.getElementById('edit_request').value='Help me improve the {{ blitz.workout_plan.name }} program.'; $('#modalInclude').show(); jQuery.noConflict(); $('#modalSpotterEdit').modal('show'); }">Edit Program</a>
    {% endif %}

	<a class="btn btn-primary" onclick="{ $('#modalInclude').show(); jQuery.noConflict(); $('#modalMacros').modal('show'); }">Edit Macros</a>

	<a class="btn btn-primary" href="/sales-blitz?slug={{ blitz.url_slug }}&short_name={{ blitz.trainer.short_name }}&debug=True&key={{ blitz.sales_page_content.sales_page_key }}">Edit Page</a>

</div>

<script>
var $j = jQuery.noConflict();
$j(document).ready(function() {
    document.getElementById('title').text="{{ blitz.title|safe }}";
    $j( "#datepicker" ).datepicker();
    $j( "#datepicker" ).datepicker( "option", "dateFormat", "mm/dd/yy" )

    $j('#datep').click(function() {
        $('#datepicker').datepicker('show');
    });
    $j('#datep').change(function() {
        $.ajax({
                url: '/trainer/change-date',
                type: 'POST',
                data: {blitz: {{ blitz.pk }},
                       begin_date: $("#datepicker").datepicker('getDate')},
            })
    })
})

function save_spotter_edit() { 
     $.ajax({
        url: '/trainer/spotter-edit',
        type: 'POST',
        data: {blitz: {{ blitz.pk }},
        spotter_text: document.getElementById('edit_request').value },
      })
 }
function save_blitz_macros() { 
     $.ajax({
        url: '/trainer/blitz-macros-save',
        type: 'POST',
        data: {blitz: {{ blitz.pk }},
        formula: document.getElementById('formula-select').value },
      })
 }

    function update_summary_macros() {}

</script>


