<script type="text/javascript">
// set attributes in modal indirectly (modal is loaded from dashboard which lacks detail context)
    $(document).ready(function() {
       show_client();
       show_client_macros(1);
      })

    function show_client() {
       document.getElementById('name').text="{{ client.name|safe }}";
       document.getElementById('name2').text="{{ client.name|safe }}";
       if ('{{ client.gender }}' == 'M') {
           document.getElementById('blurb').text="he's {{ client.height_feet }}'{{ client.height_inches }}, {{ client.weight_in_lbs }}lbs, {{ client.age }} years old."
       } else {
           document.getElementById('blurb').text="she's {{ client.height_feet }}'{{ client.height_inches }}, {{ client.weight_in_lbs }}lbs, {{ client.age }} years old."
       }
       $("#headshot").attr("src", "{{ client.get_headshot_url }}");
    }

    function update_summary_macros() {
        var min_factor = 0.8;
        // workout day calories
        var wout_cals = parseFloat(document.getElementById('c_wout_cals').value);
        var wout_carbs = parseFloat(document.getElementById('c_wout_carbs').value);
        var wout_protein = parseFloat(document.getElementById('c_wout_protein').value);
        var wout_fat = parseFloat(document.getElementById('c_wout_fat').value);
        var rest_cals = parseFloat(document.getElementById('c_rest_cals').value);
        var rest_carbs = parseFloat(document.getElementById('c_rest_carbs').value);
        var rest_protein = parseFloat(document.getElementById('c_rest_protein').value);
        var rest_fat = parseFloat(document.getElementById('c_rest_fat').value);
        // calculate min amounts
        var wout_cals_min = wout_cals * min_factor;
        var wout_carbs_min = wout_carbs * min_factor;
        var wout_protein_min = wout_protein * min_factor;
        var wout_fat_min = wout_fat * min_factor;
        var rest_cals_min = rest_cals * min_factor;
        var rest_carbs_min = rest_carbs * min_factor;
        var rest_protein_min = rest_protein * min_factor;
        var rest_fat_min = rest_fat * min_factor;

        // represent calories
        if (wout_cals > 1000) {
            document.getElementById('g_wout_cals').text = (wout_cals/1000).toFixed(1);
        } else {
            document.getElementById('g_wout_cals').text = wout_cals.toFixed(0);
        }
        if (wout_cals_min > 1000) {
            document.getElementById('g_wout_cals_min').text = (wout_cals_min/1000).toFixed(1);
        } else {
            document.getElementById('g_wout_cals_min').text = wout_cals_min.toFixed(0);
        }
        if (rest_cals > 1000) {
            document.getElementById('g_rest_cals').text = (rest_cals/1000).toFixed(1);
        } else {
            document.getElementById('g_rest_cals').text = rest_cals.toFixed(0);
        }
        if (rest_cals_min > 1000) {
            document.getElementById('g_rest_cals_min').text = (rest_cals_min/1000).toFixed(1);
        } else {
            document.getElementById('g_rest_cals_min').text = rest_cals_min.toFixed(0);
        }
        // represent carbs
        if (wout_carbs > 1000) {
            document.getElementById('g_wout_carbs').text = (wout_carbs/1000).toFixed(1);
        } else {
            document.getElementById('g_wout_carbs').text = wout_carbs.toFixed(0);
        }
        if (wout_carbs_min > 1000) {
            document.getElementById('g_wout_carbs_min').text = (wout_carbs_min/1000).toFixed(1);
        } else {
            document.getElementById('g_wout_carbs_min').text = wout_carbs_min.toFixed(0);
        }
        if (rest_carbs > 1000) {
            document.getElementById('g_rest_carbs').text = (rest_carbs/1000).toFixed(1);
        } else {
            document.getElementById('g_rest_carbs').text = rest_carbs.toFixed(0);
        }
        if (rest_carbs_min > 1000) {
            document.getElementById('g_rest_carbs_min').text = (rest_carbs_min/1000).toFixed(1);
        } else {
            document.getElementById('g_rest_carbs_min').text = rest_carbs_min.toFixed(0);
        }
        // represent protein
        if (wout_protein > 1000) {
            document.getElementById('g_wout_protein').text = (wout_protein/1000).toFixed(1);
        } else {
            document.getElementById('g_wout_protein').text = wout_protein.toFixed(0);
        }
        if (wout_protein_min > 1000) {
            document.getElementById('g_wout_protein_min').text = (wout_protein_min/1000).toFixed(1);
        } else {
            document.getElementById('g_wout_protein_min').text = wout_protein_min.toFixed(0);
        }
        if (rest_protein > 1000) {
            document.getElementById('g_rest_protein').text = (rest_protein/1000).toFixed(1);
        } else {
            document.getElementById('g_rest_protein').text = rest_protein.toFixed(0);
        }
        if (rest_protein_min > 1000) {
            document.getElementById('g_rest_protein_min').text = (rest_protein_min/1000).toFixed(1);
        } else {
            document.getElementById('g_rest_protein_min').text = rest_protein_min.toFixed(0);
        }
        // represent fat
        if (wout_fat > 1000) {
            document.getElementById('g_wout_fat').text = (wout_fat/1000).toFixed(1);
        } else {
            document.getElementById('g_wout_fat').text = wout_fat.toFixed(0);
        }
        if (wout_fat_min > 1000) {
            document.getElementById('g_wout_fat_min').text = (wout_fat_min/1000).toFixed(1);
        } else {
            document.getElementById('g_wout_fat_min').text = wout_fat_min.toFixed(0);
        }
        if (rest_fat > 1000) {
            document.getElementById('g_rest_fat').text = (rest_fat/1000).toFixed(1);
        } else {
            document.getElementById('g_rest_fat').text = rest_fat.toFixed(0);
        }
        if (rest_fat_min > 1000) {
            document.getElementById('g_rest_fat_min').text = (rest_fat_min/1000).toFixed(1);
        } else {
            document.getElementById('g_rest_fat_min').text = rest_fat_min.toFixed(0);
        }

    }

    function show_client_macros(factor) {
       factor = factor || 1;
       var kg = {{ client.weight_in_lbs }}/2.2;
       var h = {{ client.height_feet }}*30.48 + {{ client.height_inches }}*2.54;
       var age = {{ client.age }};
       var wkout_factor = 1.15;

       var r_cals = factor * (10 * kg + 6.25 * h - 5 * age + 5);
       var r_protein = factor * (0.9 * kg * 2.2);
       var r_fat = factor * (0.4 * kg * 2.2);
       var r_carbs = factor * (r_cals - r_protein - r_fat) / 4;
       var w_cals = r_cals * wkout_factor;
       var w_protein = r_protein * wkout_factor;
       var w_fat = r_fat * wkout_factor;
       var w_carbs = r_carbs * wkout_factor;

       document.getElementById('c_rest_cals').value=r_cals.toFixed(0).toString();
       document.getElementById('c_rest_fat').value=r_fat.toFixed(0).toString();
       document.getElementById('c_rest_carbs').value=r_carbs.toFixed(0).toString();
       document.getElementById('c_rest_protein').value=r_protein.toFixed(0).toString();
       document.getElementById('c_wout_cals').value=w_cals.toFixed(0).toString();
       document.getElementById('c_wout_fat').value=w_fat.toFixed(0).toString();
       document.getElementById('c_wout_carbs').value=w_carbs.toFixed(0).toString();
       document.getElementById('c_wout_protein').value=w_protein.toFixed(0).toString();

       return 0;
       }

    function save_spotter_edit() { 
         $.ajax({
             url: '/trainer/spotter-edit',
             type: 'POST',
             data: {blitz: {{ client.get_blitz.pk }},
             spotter_text: document.getElementById('edit_request').value },
           })
       }

    function save_macros() { 
         $.ajax({
             url:'/trainer/client-macros-save',
             type: 'POST',
             data: {client: {{ client.pk }}, formula: document.getElementById('formula-select').value,
                    c_rest_cals: document.getElementById('c_rest_cals').value,
                    c_rest_fat: document.getElementById('c_rest_fat').value,
                    c_rest_carbs: document.getElementById('c_rest_carbs').value,
                    c_rest_protein: document.getElementById('c_rest_protein').value,
                    c_wout_cals: document.getElementById('c_wout_cals').value,
                    c_wout_fat: document.getElementById('c_wout_fat').value,
                    c_wout_carbs: document.getElementById('c_wout_carbs').value,
                    c_wout_protein: document.getElementById('c_wout_protein').value,
                    },
             success:function(result){}
           });
       }

</script>


<div class='client-summary'>
	<div class="section cover">
	<div class="spacer20"></div>
		<a href="{% url 'client_profile' client.pk %}"><img src="{{ client.get_headshot_url }}" class="client-picture img-circle center" /></a>
		<div class="spacer20"></div>
		<p class="client-name center">{{ client.name }}</p>
		<p class="client-info center"><span class="client-height"> {{ client.height_feet }}'{{client.height_inches }}" | </span><span class="client-weight">{{ client.weight_in_lbs }} lbs. | </span><span class="client-age">{{ client.age }} yrs old</span></p>
	</div>
        {% if workout_info %}
        <div class="section week-performance sidebar-box">
            <div class="header">
                 Performance This Week
            </div>
            <div class="description"><ul>
                 {% for info in workout_info %}
                     <li>Missed {{ info.lift }} workout on <b>{{ info.day }}</b></li>
                 {% endfor %}</ul>
            </div>
        </div>
        {% endif %}



	<div class="section sidebar-box diet-progress">
		<!-- TODO: Remove .header element -->
		<div class="header hidden">
			Diet Progress
			<select>
				<option value='this_week'>This Week</option>
			{% for week in macro_history %}
				<option value="{{ week.week_number }}">Week {{ week.week_number }}</option>
			{% endfor %}
			</select>
		</div>
		<div class="macro-history">
			<div class="week-name">
				Diet Progress
				<select>
					<option value='this_week'>This Week</option>
				{% for week in macro_history %}
					<option value="{{ week.week_number }}">Week {{ week.week_number }}</option>
				{% endfor %}
				</select>
				<div class="weekSelector slide-select">
					<ul>
						<li class="arrow"> <a class="left-arrow" href="#"><span class="icon icon-chevron-left"></span></a></li>
						{% for week in macro_history %}
							{% if week.is_current %}
								<li class="item active" data-week-num="{{ week.week_number }}">This Week</li>
							{% endif %}
						{% endfor %}
						{% for week in macro_history %}
							<li class="item" data-week-num="{{ week.week_number }}" data-current={{ week.is_current }}>{{ week.month_str|slice:"3" }} {{ week.first_day }} - {{ week.last_day }} </li>
						{% endfor %}
						<li class="arrow"> <a class="right-arrow" href="#"><span class="icon icon-chevron-right"></span></a> </li>
					</ul>
				</div>
			</div>
			{% for week in macro_history %}
			<div class="week week-{{ week.week_number }} {% if not week.is_current %}hidden{%else%}current{% endif %}" data-week-number={{ week.week_number }}>
				<!-- <div class="week-name">Week {{ week.week_number }}</div> -->
				<div class="clearfix"></div>
				<div class="days">
					<table>
						<tr>
							{% for day in week.macro_days %}
							<td class="{% if day.current %}current{% endif %}" data-future="{{ day.in_future }}">
								<p>{{ day.day_str|slice:"3" }}</p>
								{% if day.in_future and not day.has_entry %}
								<div class="macro-day-cell {% if day.current %}current{% endif %}">
									{# <span class="day-of-month">{{ day.day_of_month }}</span> #}
								</div>
								{% endif %}
								{% if not day.in_future and not day.has_entry %}
								<div class="macro-day-cell {% if day.current %}current{% endif %}">
									<i class="icon-question-sign unknown"></i>
								</div>
								{% endif %}
								{% if day.all_pass %}
								<div class="macro-day-cell {% if day.current %}current{% endif %}">
									<i class="icon-ok-sign pass"></i>
								</div>
								{% endif %}
								{% if day.all_fail %}
								<div class="macro-day-cell {% if day.current %}current{% endif %}">
									<i class="icon-remove-sign fail"></i>
								</div>
								{% endif %}
								{% if day.has_entry and not day.all_pass and not day.all_fail %}
								<div class="macro-day-cell {% if day.current %}current{% endif %}">
									<div class="macro-combo">
										<div class="letter calories {% if day.calories %}calories-pass{% else %}letter-fail{% endif %}"  title="Calories"></div>
										<div class="letter protein {% if day.protein %}protein-pass{% else %}letter-fail{% endif %}"  title="Protein"></div>
										<div class="letter carbs {% if day.carbs %}carbs-pass{% else %}letter-fail{% endif %}"  title="Carbs"></div>
										<div class="letter fat {% if day.fat %}fat-pass{% else %}letter-fail{% endif %}"  title="Fat"></div>
									</div>
								</div>
								{% endif %}
							</td>
							{% endfor %}
						</tr>
					</table>
				</div>
			</div>
			{% endfor %}
		</div> <!--/ macro-history -->
		<div class="spacer10"></div>
	</div>

	<div class="section diet-goals sidebar-box">
		<div class="header">
			Diet Goals <a class="btn btn-default btn-edit" id="edit_macros" onclick="{ jQuery.noConflict();$('#modalClientMacros').modal('show'); }">{% if macro_goals %}Edit{% else %}Add{% endif %}</a>
			
		</div>
		<div class="goals-history" id="goals-history">
			
			<div class="macro-toggle">
			    <button type="button" class="switch-training active">Training Days</button>
			    <button type="button" class="switch-resting">Rest Days</button>
			</div>
			
			{% with macro_goals as macro %}
			<div class="training">
				<div class="box">
					<div class="title">
						Calories
					</div>
					<div class="description info info-calories">
			<a id="g_wout_cals_min">{{ macro.training_calories_min }}</a>-<a id="g_wout_cals">{{ macro.training_calories }}</a>
					</div>
				</div>
			
				<div class="box">
					<div class="title">
						Protein
					</div>
					<div class="description info info-protein">
			<a id="g_wout_protein_min">{{ macro.training_protein_min }}</a>-<a id="g_wout_protein">{{ macro.training_protein }}</a>
					</div>
				</div>

				<div class="box">
					<div class="title">
						Carbs
					</div>
					<div class="description info info-carbs">
			<a id="g_wout_carbs_min">{{ macro.training_carbs_min }}</a>-<a id="g_wout_carbs">{{ macro.training_carbs }}</a>
					</div>
				</div>

				<div class="box">
					<div class="title">
						Fat
					</div>
					<div class="description info info-fat">
			<a id="g_wout_fat_min">{{ macro.training_fat_min }}</a>-<a id="g_wout_fat">{{ macro.training_fat }}</a>
					</div>
				</div>
			</div> <!-- training -->
			<div class="resting hidden">
				<div class="box">
					<div class="title">
						Calories
					</div>
					<div class="description info info-calories">
			<a id="g_rest_cals_min">{{ macro.rest_calories_min }}</a>-<a id="g_rest_cals">{{ macro.rest_calories }}</a>
					</div>
				</div>
			
				<div class="box">
					<div class="title">
						Protein
					</div>
					<div class="description info info-protein">
			<a id="g_rest_protein_min">{{ macro.rest_protein_min }}</a>-<a id="g_rest_protein">{{ macro.rest_protein }}</a>
					</div>
				</div>

				<div class="box">
					<div class="title">
						Carbs
					</div>
					<div class="description info info-carbs">
			<a id="g_rest_carbs_min">{{ macro.rest_carbs_min }}</a>-<a id="g_rest_carbs">{{ macro.rest_carbs }}</a>
					</div>
				</div>

				<div class="box">
					<div class="title">
						Fat
					</div>
					<div class="description info info-fat">
			<a id="g_rest_fat_min">{{ macro.rest_fat_min }}</a>-<a id="g_rest_fat">{{ macro.rest_fat }}</a>
					</div>
				</div>
			</div> <!-- resting -->
			{% endwith %}

			<div class="clearfix"></div>
		</div>
		<div class="spacer10"></div>
	</div>



	<div class="section sidebar-box workout-plan">
		<div class="header">
			<span class="sidebar-box-title">Workout Plan</span>
				<a class="btn btn-default btn-edit" id="edit_program" onclick='{ document.getElementById("client_name").text="{{ client.name|safe }}"; document.getElementById("edit_request").value="Help me improve the {{ client.get_blitz.workout_plan.name }} program for my client {{ client.name|safe }}."; jQuery.noConflict(); $("#modalSpotterEdit").modal("show"); }'>
					Edit
				</a>
		</div>


		<div class="description">
	            {{ client.get_blitz.workout_plan.name }}
                        {% if customizations %}(customized)<br><ul>
                            {% for custom in customizations %}
                                <li>{{ custom }}</li>
                            {% endfor %}</ul>
                        {% endif %}
		</div><br><br><br>


		<div class="spacer10"></div>
	</div>
</div>
