<script type="text/javascript">
// set attributes in modal indirectly (modal is loaded from dashboard which lacks detail context)
    $(document).ready(function(){
       document.getElementById('name').text='{{ client.name }}';
       if ('{{ client.gender }}' == 'M') {
           document.getElementById('blurb').text="he's {{ client.height_feet }}'{{ client.height_inches }}, {{ client.weight_in_lbs }}lbs, {{ client.age }} years old."
       } else {
           document.getElementById('blurb').text="she's {{ client.height_feet }}'{{ client.height_inches }}, {{ client.weight_in_lbs }}lbs, {{ client.age }} years old."
       }
    $("#headshot").attr("src", "{{ client.get_headshot_url }}");
      }) 
                        function show_client_macros(factor) {
                           factor = factor || 1;
                           var kg = {{ client.weight_in_lbs }}/2.2;
                           var h = {{ client.height_feet }}*30.48 + {{ client.height_inches }}*2.54;
                           var age = {{ client.age }};
                           var wkout_factor = 1.15;

                           var r_cals = factor * (10 * kg + 6.25 * h - 5 * age + 5);
                           var r_protein = factor * (0.9 * kg * 2.2);
                           var r_fat = factor * (0.4 * kg * 2.2);
                           var r_carbs = factor * (r_cals - r_protein - r_fat) / 4;
                           var w_cals = r_cals * wkout_factor;
                           var w_protein = r_protein * wkout_factor;
                           var w_fat = r_fat * wkout_factor;
                           var w_carbs = r_carbs * wkout_factor;

                             document.getElementById('c_rest_cals').text=r_cals.toFixed(0).toString();
                             document.getElementById('c_rest_fat').text=r_fat.toFixed(0).toString();
                             document.getElementById('c_rest_carbs').text=r_carbs.toFixed(0).toString();
                             document.getElementById('c_rest_protein').text=r_protein.toFixed(0).toString();
                             document.getElementById('c_wout_cals').text=w_cals.toFixed(0).toString();
                             document.getElementById('c_wout_fat').text=w_fat.toFixed(0).toString();
                             document.getElementById('c_wout_carbs').text=w_carbs.toFixed(0).toString();
                             document.getElementById('c_wout_protein').text=w_protein.toFixed(0).toString();

                            return 0;
                        }
     x = show_client_macros(1);
</script>

<div class='client-summary'>
	<div class="section cover">
	<div class="spacer20"></div>
		<a href="{% url 'client_profile' 1 %}"><img src="{{ MEDIA_URL }}{{ client.headshot }}" class="client-picture img-circle center" /></a>
		<div class="spacer20"></div>
		<p class="client-name center">{{ client.name }}</p>
		<p class="client-info center"><span class="client-height"> {{ client.height_feet }}'{{client.height_inches }}" | </span><span class="client-weight">{{ client.weight_in_lbs }} lbs. | </span><span class="client-age">{{ client.age }} yrs old</span></p>
	</div>
	<div class="section diet-goals sidebar-box">
		<div class="header">
			Diet Goals <a class="btn btn-default btn-edit" onclick="{ jQuery.noConflict(); $('#modalClientMacros').modal('show'); }">{% if macro_goals %}Edit{% else %}Add{% endif %}</a>
			
		</div>
		<div class="goals-history">
			{% if macro_goals %}
			
			<div class="btn-group">
			    <button type="button" class="switch-training btn btn-default active">Training Days</button>
			    <button type="button" class="switch-resting btn btn-default">Rest Days</button>
			</div>
			
			{% with macro_goals as macro %}
			<div class="training">
				<div class="box">
					<div class="title">
						Calories
					</div>
					<div class="description info info-calories">
						{{ macro.training_calories_min }} - {{ macro.training_calories }}
					</div>
				</div>
			
				<div class="box">
					<div class="title">
						Protein
					</div>
					<div class="description info info-protein">
						{{ macro.training_protein_min }} - {{ macro.training_protein }}
					</div>
				</div>

				<div class="box">
					<div class="title">
						Carbs
					</div>
					<div class="description info info-carbs">
						{{ macro.training_carbs_min }} - {{ macro.training_carbs }}
					</div>
				</div>

				<div class="box">
					<div class="title">
						Fat
					</div>
					<div class="description info info-fat">
						{{ macro.training_fat_min }} - {{ macro.training_fat }}
					</div>
				</div>
			</div> <!-- training -->
			<div class="resting hidden">
				<div class="box">
					<div class="title">
						Calories
					</div>
					<div class="description info info-calories">
						{{ macro.rest_calories_min }} - {{ macro.rest_calories }}
					</div>
				</div>
			
				<div class="box">
					<div class="title">
						Protein
					</div>
					<div class="description info info-protein">
						{{ macro.rest_protein_min }} - {{ macro.rest_protein }}
					</div>
				</div>

				<div class="box">
					<div class="title">
						Carbs
					</div>
					<div class="description info info-carbs">
						{{ macro.rest_carbs_min }} - {{ macro.rest_carbs }}
					</div>
				</div>

				<div class="box">
					<div class="title">
						Fat
					</div>
					<div class="description info info-fat">
						{{ macro.rest_fat_min }} - {{ macro.rest_fat }}
					</div>
				</div>
			</div> <!-- resting -->
			{% endwith %}
			{% endif %}
			<div class="clearfix"></div>
		</div>
		<div class="spacer10"></div>
	</div>

	<div class="section sidebar-box diet-progress">
		<!-- TODO: Remove .header element -->
		<div class="header hidden">
			Diet Progress
			<select>
				<option value='this_week'>This Week</option>
			{% for week in macro_history %}
				<option value="{{ week.week_number }}">Week {{ week.week_number }}</option>
			{% endfor %}
			</select>
			<div class="weekSelector slide-select">
				<ul>
					<li class="arrow"> <a href="#"><span class="icon icon-chevron-left"></span></a> </li>
					<li class="item active">This Week</li>
					{% for week in macro_history %}
						<li class="item" data-week-num="{{ week.week_number }}">Week {{ week.week_number }} </li>
					{% endfor %}
					<li class="arrow"> <a href="#"><span class="icon icon-chevron-right"></span></a> </li>
				</ul>
			</div>
		</div>
		<div class="macro-history">
			<div class="week-name">
				Diet Progress
				<select>
					<option value='this_week'>This Week</option>
				{% for week in macro_history %}
					<option value="{{ week.week_number }}">Week {{ week.week_number }}</option>
				{% endfor %}
				</select>
				<div class="weekSelector slide-select">
					<ul>
						<li class="arrow "> <a class="left-arrow" href="#"><span class="icon icon-chevron-left"></span></a></li>
						<li class="item active">This Week</li>
						{% for week in macro_history %}
							<li class="item" data-week-num="{{ week.week_number }}">Week {{ week.week_number }}</li>
						{% endfor %}
						<li class="arrow right-arrow"> <a class="right-arrow" href="#"><span class="icon icon-chevron-right"></span></a> </li>
					</ul>
				</div>
			</div>
			{% for week in macro_history %}
			<div class="week week-{{ week.week_number }} {% if not week.is_current %}hidden{%else%}current{% endif %}" data-week-number={{ week.week_number }}>
				<!-- <div class="week-name">Week {{ week.week_number }}</div> -->
				<div class="days">
					<table>
						<tr>
							{% for day in week.macro_days %}
							<td data-future="{{ day.in_future }}">
								{% if day.in_future and not day.has_entry %}
								<div class="macro-day-cell">
									<span class="day-of-month">{{ day.day_of_month }}</span>
								</div>
								{% endif %}
								{% if not day.in_future and not day.has_entry %}
								<div class="macro-day-cell">
									<i class="icon-question-sign unknown"></i>
								</div>
								{% endif %}
								{% if day.all_pass %}
								<div class="macro-day-cell">
									<i class="icon-ok-sign pass"></i>
								</div>
								{% endif %}
								{% if day.all_fail %}
								<div class="macro-day-cell">
									<i class="icon-remove-sign fail"></i>
								</div>
								{% endif %}
								{% if day.has_entry and not day.all_pass and not day.all_fail %}
								<div class="macro-day-cell">
									<div class="macro-combo">
										<div class="letter {% if day.calories %}calories-pass{% else %}letter-fail{% endif %}"  title="Calories"></div>
										<div class="letter {% if day.protein %}protein-pass{% else %}letter-fail{% endif %}"  title="Protein"></div>
										<div class="letter {% if day.carbs %}carbs-pass{% else %}letter-fail{% endif %}"  title="Carbs"></div>
										<div class="letter {% if day.fat %}fat-pass{% else %}letter-fail{% endif %}"  title="Fat"></div>
									</div>
								</div>
								{% endif %}
							</td>
							{% endfor %}
						</tr>
					</table>
				</div>
			</div>
			{% endfor %}
		</div> <!--/ macro-history -->
		<div class="spacer10"></div>
	</div>

	<div class="section sidebar-box workout-plan">
		<div class="header">
			Workout Plan
			<div class="btn-group">
				<a class="btn btn-default btn-edit" href="#"> Switch</a>
				<a class="btn btn-default btn-edit" href="#"> Edit</a>
			</div>
		</div>

		<div class="details">
			<h4><strong>{{ client.get_blitz.workout_plan.name }}</strong></h4>
			<small>Editing workout programs coming soon</small>
		</div>

		<div class="spacer10"></div>
	</div>
</div>
