<div class="intro-box">
    {% if invitee %}
    Once {{ invitee.name }} signs up, you'll be able to see their workouts, progress photos, and comments right here.
    {% else %}
    Once invited clients sign up, you'll be able to see their workouts, progress photos, and comments right here.
    {% endif %}
</div>

<div class="feed-item" data-object_pk="4" data-content_type="gym session" data-viewed="">
    <div class="disable">
    </div>

    <div class="parent-headshot">
        <img src="{{ STATIC_URL }}images/silhouette.jpeg" class="img-circle">
    </div>
    <div class="feed-item-content">

        <div class="gym-session-feed-item">
            <div class="title">

                <div class="parent-headshot-card">
                    <img src="{{ STATIC_URL }}images/silhouette.jpeg" class="img-circle">
                </div>
                <a class="name">Example Client</a> logged a workout.
                <div class="feeditem-pub-date"><i class="icon-time"></i> 3 days, 3 hours ago</div>
            </div>

            <div class="workout-content exercise-matrix">
                <div class="exercise-container odd">
                    <div class="exercise">
                        <div class="exercise-name-container">

                            <!-- we get lift name using template filter and client instance from various sources -->

                            <div class="exercise-name">Barbell Back Squat</div>

                        </div>
                        <div class="exercise-details-container">
                            <div class="exercise-details">


                                <div class="detail-container">
                                    <div class="detail">
                                     8 x 225 lbs
                                 </div>
                             </div>

                             <div class="detail-container">
                                <div class="detail">
                                 8 x 225 lbs
                             </div>
                         </div>
                         <div class="detail-container">
                            <div class="detail">
                             8 x 225 lbs
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>

     <div class="exercise-container even">
        <div class="exercise">
            <div class="exercise-name-container">

                <!-- we get lift name using template filter and client instance from various sources -->

                <div class="exercise-name">One Arm Dumbbell Floor Press</div>

            </div>
            <div class="exercise-details-container">
                <div class="exercise-details">


                    <div class="detail-container">
                        <div class="detail">
                         8 x 80 lbs
                     </div>
                 </div>
                 <div class="detail-container">
                    <div class="detail">
                     8 x 80 lbs
                 </div>
             </div>
             <div class="detail-container">
                <div class="detail">
                 8 x 80 lbs
             </div>
         </div>
     </div>
 </div>
</div>
</div>

<div class="exercise-container odd">
    <div class="exercise">
        <div class="exercise-name-container">

            <!-- we get lift name using template filter and client instance from various sources -->

            <div class="exercise-name">Dumbbell Flat Bench Press</div>

        </div>
        <div class="exercise-details-container">
            <div class="exercise-details">
                <div class="detail-container">
                    <div class="detail">
                     8 x 70 lbs
                 </div>
             </div>
             <div class="detail-container">
                <div class="detail">
                 8 x 70 lbs
             </div>
         </div>
         <div class="detail-container">
            <div class="detail">
             8 x 70 lbs
         </div>
     </div>
 </div>
</div>
</div>
</div>

<div class="exercise-container even">
    <div class="exercise">
        <div class="exercise-name-container">

            <!-- we get lift name using template filter and client instance from various sources -->

            <div class="exercise-name">Dumbbell Reverse Lunge</div>

        </div>
        <div class="exercise-details-container">
            <div class="exercise-details">
                <div class="detail-container">
                    <div class="detail">
                     8 x 80 lbs
                 </div>
             </div>                                        
         </div>
     </div>
 </div>
</div>

<div class="exercise-container odd">
    <div class="exercise">
        <div class="exercise-name-container">

            <!-- we get lift name using template filter and client instance from various sources -->

            <div class="exercise-name">Pushups</div>

        </div>
        <div class="exercise-details-container">
            <div class="exercise-details">

                <div class="detail-container">
                    <div class="detail">
                     25 reps
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>

</div>

<div class="feed-item-footer" data-object_pk="4" data-content_type="gym session">
    <div class="feeditem-actions-container">
        <div class="anchor-container">

            <a class="like-link"><i class="icon-thumbs-up"></i> Like</a>

        </div>
        <div class="anchor-container">
            <a class="comment-link"><i class="icon-comment"></i> Comment</a>
        </div>
    </div>
    <div style="" class="add-child-comment-container" data-object_pk="4" data-content_type="gym session">
        <textarea rows="1" class="expanding add-child-comment-textarea" placeholder="Write a comment..."></textarea>

        <a class="obtn obtn-comment add-child-comment-submit" style="display:none;">Post</a>

    </div>
</div>

</div>
</div>
</div>
