<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<html>
<body>
	<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;margin:0;padding:0;background-color:#f2f2f2;height:100%!important;width:100%!important">
	<tbody>
	    <tr>
	    <td align="center" valign="top" style="margin:0;padding-top:20px;border-top:0;height:100%!important;width:100%!important">
	        
	        <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border:0;margin-bottom:20px;">
	            <tbody>
	            <tr>
	                <td align="center" valign="top"> 
	                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
	                        <tbody>
	                            <tr>
	                            <td valign="top">
	                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
	                                <tbody>
	                                    <tr>
	                                        <td valign="top" style="padding:0px">
	                                        <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
	                                        <tbody>
	                                        <tr>
	                                        <td valign="top" style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0">
	                                           <img align="left" alt="" src="cid:emailheader.png" width="600" style="max-width:600px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;outline:none;text-decoration:none" class="CToWUd">
                                                   <img align="center" alt="" src="cid:{{ headshot }}" width="300" style="max-width:600px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;outline:none;text-decoration:none" class="CToWUd">
	                                        </td>
	                                        </tr>
	                                            </tbody>
	                                        </table>
	                                        </td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                            </td>
	                            </tr>
                            	<tr>
									<td align="center" valign="top">
							            <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
							            	<tbody>
							                	<tr>
							                    <td valign="top" style="font-size: 20px; font-family: Helvetica; line-height: 1.4; text-align: center; padding: 20px;">
						                    	<br />

												{% block email_content %}

												{% endblock %}

												<br />
												</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
								<td align="center" valign="top">
									<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
									    <tbody>
									        <tr>
									            <td style="padding:18px">
									                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width:1px;border-top-style:solid;border-top-color:#999999;border-collapse:collapse">
									                    <tbody><tr>
									                        <td>
									                            <span></span>
									                        </td>
									                    </tr>
									                </tbody></table>
									            </td>
									        </tr>
									    </tbody>
									</table>
								</td>
								</tr>
								<tr>
						        <td align="center" valign="top">
						        	<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
						        		<tbody>
						        			<tr>
						        				<td valign="top" style="padding-bottom:9px">
						        					<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
						        						<tbody>
						        							<tr>
						        								<td valign="top">
						        									<table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
						        										<tbody>
						        											<tr>
						        												<td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#606060;font-family:Helvetica;font-size:11px;line-height:125%;text-align:left">
						        													<em>Copyright © 2014 Blitz, All rights reserved.</em><a href="http://www.blitz.us">Blitz.us</a>
						        													<br />
						        													<br />
						        												</td>
						        											</tr>
						        										</tbody>
						        									</table>
						        								</td>
						        							</tr>
						        						</tbody>
						        					</table>
						        				</td>
						    				</tr>
						            	</tbody>
						            </table>          
						        </td>
						        </tr>


	                        </tbody>
	                    </table>
                	</td>
            	</tr>
            	</tbody>
        	</table>
    	</td>
    	</tr>





		</td>
		</tr>
	</tbody>
	</table>



</body>
</html>

