<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;margin:0;padding:0;background-color:#f2f2f2;height:100%!important;width:100%!important">
<tbody>
    <tr>
    <td align="center" valign="top" style="margin:0;padding:20px;border-top:0;height:100%!important;width:100%!important">
        
        <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border:0">
            <tbody>
            <tr>
                <td align="center" valign="top"> 
                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                        <tbody>
                            <tr>
                            <td valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                <tbody>
                                    <tr>
                                        <td valign="top" style="padding:0px">
                                        <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                        <tbody>
                                        <tr>
                                        <td valign="top" style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0">
                                           <img align="left" alt="" src="cid:emailheader.png" width="600" style="max-width:600px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;outline:none;text-decoration:none" class="CToWUd">
                                        </td>
                                        </tr>
                                            </tbody>
                                        </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                                <tbody>
                                    <tr>
                                    <td valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                            <tbody>
                                                <tr>
                                                <td valign="top" style="padding:0px">
                                                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                            <td valign="top" style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0">
                                                                <img align="left" alt="" width="600" style="max-width:600px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;outline:none;text-decoration:none">     
                                                            </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        </td>
                                        </tr>
                                    </tbody>
                                </table>
                        </td>
                    </tr>


                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                                <tbody>
                                    <tr>
                                        <td valign="top">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                <tbody>
                                                    <tr>
                                                        <td valign="top">
                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                                                                <tbody>
                                                                    <tr>
                                                                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left">
                                                                            <h1 style="text-align:center;margin:0;padding:0;display:block;font-family:Helvetica;font-size:40px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:-1px;color:#606060!important">
                                                                                <br>
                                                                                Designing Your Email
                                                                            </h1>

                                                                            <h3 style="text-align:center;margin:0;padding:0;display:block;font-family:Helvetica;font-size:18px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:-.5px;color:#606060!important">
                                                                                <br>
                                                                                Creating an elegant email is simple
                                                                            </h3>
                                                                            <p style="text-align:center;margin:1em 0;padding:0;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%">
                                                                                Now that you’ve selected a template to work with, drag in content blocks to define the structure of your message. Don’t worry, you can always delete or rearrange blocks as needed. Then click “Design” to define fonts, colors, and styles.
                                                                            </p>
                                                                            <p style="text-align:center;margin:1em 0;padding:0;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%">
                                                                                <br>
                                                                                Need inspiration for your design? <a href="http://inspiration.mailchimp.com" style="word-wrap:break-word;color:#6dc6dd;font-weight:normal;text-decoration:underline" target="_blank">Here’s what other MailChimp users are doing.</a>
                                                                            </p>

                        </td>
                    </tr>
                </tbody>
            </table>  
            </td>
            </tr>
            </tbody>
        </table>

<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:separate!important;border:2px none #707070;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background-color:#7ab2ea">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle" style="font-family:Arial;font-size:24px;padding:20px">
                                <a title="Button text" href="http://blitz.us/go" style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;word-wrap:break-word" target="_blank">Button text</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>


<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td style="padding:18px">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width:1px;border-top-style:solid;border-top-color:#999999;border-collapse:collapse">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                                        <tbody><tr>
                                            <td valign="top" style="padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top">
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                    <tbody><tr>
                        
                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#606060;font-family:Helvetica;font-size:11px;line-height:125%;text-align:left">
                        
                            <em>Copyright © 2014 *|LIST:COMPANY|*, All rights reserved.</em>
<br>

    *|LIST:DESCRIPTION|*
    <br>
    <br>
    <strong>Our mailing address is:</strong>
    <br>
    *|HTML:LIST_ADDRESS_HTML|* 
    <br>
    <br>
    <a style="word-wrap:break-word;color:#606060;font-weight:normal;text-decoration:underline">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp;
    <a style="word-wrap:break-word;color:#606060;font-weight:normal;text-decoration:underline">update subscription preferences</a>&nbsp;
    <br>
    <br>
    
                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                        </tbody></table>
                        
                    </td>
                </tr>
            </tbody></table>