{% extends "emails/base_email.html" %}

{% block email_content %}

<h3>Outstanding balances</h3>

{% if clients %}
{% for client in clients|dictsortreversed:"client.date_created" %}

         <b>{{ client.client.name }}</b> <small>{{  client.client.balanced_account_uri }}</small> <br> start date: {{ client.blitz.begin_date }} ({{ client.months }} months)</li>  
         {% if client.blitz.group %} Blitz:{{ client.blitz.title }} {% endif %}
         {% if client.blitz.recurring %} (recurring) {% else %} (one-time) {% endif %}
         {% if client.membership.price %}Invited Price: ${{ client.membership.price|stringformat:"0.2f" }}
         {% else %} ${{ client.blitz.price|stringformat:"0.2f" }}{% endif %}
<br>
         Cost: ${{ client.total_cost }} Paid: ${{ client.total_paid }} DUE: $<b><u>{{ client.due }}</u></b>
         {% if client.note %} <br><br><b>Note: {{ client.note }} </b><br>{% endif %}

<br><br>
   {% if client.payments %}
   Charges:
   <small>
     {% for payment in client.payments|dictsort:"created_at" %}
         <li> ({{ payment.status }}) ${{ payment.amount }}</li>
         <li> {{ payment.created_at }} Transaction #:{{ payment.xtion }} </li>
   <br> {% endfor %}
   </small>

   {% endif %}
{% endfor %}
{% endif %}

{% endblock %}

