{% extends "base.html" %}

{% block header_content %}
<div class="row">
    <div class="col-md-12" id="header">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">

                    <a class="brand" href="/" id="logo"><img src="{{ STATIC_URL }}images/logo.png" /></a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    {% block above_content %}{% endblock %}
    <div id="main-content-container">
        <div class="container" >
            <div class="sales-hero container">
                <div class="row" >
                    <div class="col-md-6">
                        <iframe width="100%" height="360px" src="http://www.youtube.com/embed/JHiKDa4ip_Q" frameborder="0" allowfullscreen></iframe>

                    </div>
                    <div class="col-md-6">
                        <h1>Sign up for Amir's Fission Fusion Training</h1>
                        <p>Sick of messing around at the gym and not getting the results you want? 
                        </p>
                        <p>Amir can help. For less than the cost of a few personal training sessions, you can get a proven plan and online coaching from Amir. With Amir's awesome workouts and personalized diet goals built-in, it's hard <b>not</b> to crush your fitness goals.
                        </p>
                        <a class="obtn signup-btn" style="height: auto; padding: 15px;">Sign up now→</a>
                    </div>
                </div>
            </div>



        </div>


            <div class="grey-sales-row">
                <div class="container">
            
            <div class="row sales-row">
                <div class="col-md-3">
                    <image class="trainer-pic" src="/static/images/amir.jpeg">
                </div>
                <div class="col-md-7 trainer-note">
                    <h2>A note from Amir Siddiqui</h2>
                    <p> I’ve been working with people towards their physique and health goals for over 10 years. And, in these 10 years I’ve picked up on patterns that repeat themselves in each new person, in each new medium, in a slightly unique way, forming a unique impression, creating their own unique signature and something in common at the same time. Having been inspired and mentored by the great minds of fitness expert Scott Abel and professional intellectual, Howard Bloom, I like to think of myself as a Fitness Omnologist.</p>

                    <p>All coaches and experts see these patterns repeating in their clients, but how they interpret them is always a bit different. All coaches take a slightly different take on the application of the basic principles or axioms, that they see in their work. This uniqueness enables them to develop general theories which are then applied over and over again with just the rights tweaks, with just the right shove and push, with just the right specification.
                    </p>
                    <image src="/static/images/amir-signature.png">
                </div>
            </div>
        </div>
        </div>




            <div class="container">
            <div class="row sales-row">
                <h1 class="sales-h1">What You'll Get</h1>
            </div> 
            <div class="row" style="margin-top: 30px;">
                <div class="sales-vps col-md-4">
                    <image src="/static/images/vp1.png" style="width: 100%">
                    
                     <h3>A battle-tested program</h3>
                    <p>Amir's vast experience and science-based advice make it easy to get lean and ripped.
                    </p>
                </div>
                <div class="sales-vps col-md-4">
                    <image src="/static/images/vp2.png" style="width: 100%">
                    <h3>Awesome workout buddies</h3>
                    <p>Getting trained with a group means you save money and get friends to motivate you.
                    </p>
                </div>
                <div class="sales-vps col-md-4">
                    <image src="/static/images/vp3.png" style="width: 100%">
                    <h3>Easy tracking, easy results</h3>
                    <p>It takes seconds to log diet and minutes to log workouts from any phone or computer.
                    </p>
                </div>
            </div>
            <div class="row sales-row">
                <div class="col-md-6 col-md-offset-3">
                <a class="obtn sales-btn">Sign up now →</a>
                </div>
            </div>


             <div class="row sales-row">
                <h1 class="sales-h1">Real testimonials</h1>
            </div> 
            <div class="row" style="margin-top: 30px; ">
                
                    <div class="col-md-1">
                        <div class="testimonial-headshot pull-left" style="background: url('/static/images/amirtest1.png'); background-size: 100%;">   
                        </div> 
                    </div>
                    <div class="testimonial col-md-3">
                        "When I started on Amir’s training program, I was around 96kgs. My estimated body fat was above 30%, Waist was 41 inches. In the after pic (4 months), I was 73-74 KG and my BF had dropped to 11-12% with my waist at 30-31." 
                    </div>
                    <div class="col-md-1">
                        <div class="testimonial-headshot pull-left" style="background: url('/static/images/amirtest2.png'); background-size: 100%;">   
                        </div> 
                    </div>
                    <div class="testimonial col-md-3">
                        "The training was challenging from the start, it was full of intensity but with the support and motivation of Amir, I came to enjoy each session. The results have been outstanding! After 16 weeks of training and despite my incredibly hectic travel schedule, I lost 10kgs and I feel a lot better – less stress and full of energy!"
                    </div>
                    <div class="col-md-1">
                        <div class="testimonial-headshot pull-left" style="background: url('/static/images/amirtest3.png'); background-size: 100%;">   
                        </div> 
                    </div>
                    <div class="testimonial col-md-3">
                        "Today, thanks to the experience and creativity of my trainer Amir, not only am I in the best shape of my life but strong and healthy and sheshaa free and cannot imagine starting my day without his workouts."
                    </div>
                    

                
            </div>
        </div>

           <div class="sales-black-box">
            <div class="container">

            <div class="row sales-row">
                <div class="col-md-12" style="padding-left: 20px;
  padding-right: 20px;">
                    <h1 class="sales-h1">Fitness is a tough journey. Don't go it alone.</h1>
                    <div class="row sales-row">
                        <div class="col-md-6">
                        <p style="">
                            Don't spend hours at the gym doing random workouts or switching between programs without getting anywhere.
                        </p>
                        <p>Take advantage of an awesome deal with an amazing trainer and get the results you deserve. With a proven plan and unlimited access to Amir, it's never been easier to get the body you want.
                        </p>
                        </div>
                        <div class="col-md-6 lighter-box">
                            <div class="inner-lighter-box">
                                <div class="inner-half-1">
                                    <h3 class="price-label">Program Cost</h3>
                                    <br />
                                    <h1 class="price">$500</h1> 
                                </div>
                                 <div class="inner-half-2">
                                    <h3 class="price-label">Program Length</h3>
                                    <br />
                                    <div class="inner-last">
                                        <h1 class="price">12</h1>
                                            Weeks

                                    </div>
                                </div>
                            </div>
                            <div class="black-box-text">
                                That's just $11 per workout for expert coaching and constant feedback on your lifting and diet progress from Amir. In 12 weeks, you won't recognize yourself.
                            </div>
                        </div>
                        </div>
                        <div class="row sales-row">
                            <div class="col-md-6 col-md-offset-3">
                                <a class="obtn sales-btn">Sign up now→</a>
                            </div>
                        </div>
                    
                </div>
                  
            </div>

        </div>

        </div>
    </div>
{% endblock %}