{% extends "base.html" %}

{% block header_content %}
<div class="row">
    <div class="col-md-12" id="header">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">

                    <a class="brand" href="/" id="logo"><img src="{{ STATIC_URL }}images/logo.png" /></a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    {% block above_content %}{% endblock %}
    <div id="main-content-container">
        <div class="container" >
            <div class="sales-hero container">
                <div class="row" >
                    <div class="col-md-6">
                        <iframe width="100%" height="360px" src="http://www.youtube.com/embed/JHiKDa4ip_Q" frameborder="0" allowfullscreen></iframe>

                    </div>
                    <div class="col-md-6">
                        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</h1>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
                        <a class="obtn signup-btn" style="height: auto; padding: 10px;">Sign up now→</a>
                    </div>
                </div>
            </div>



        </div>


            <div class="grey-sales-row">
                <div class="container">
            
            <div class="row sales-row">
                <div class="col-md-3">
                    <image class="trainer-pic" src="/static/images/ct.png">
                </div>
                <div class="col-md-7 trainer-note">
                    <h2>A note from CT Fletcher</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
                    </p>
                    <image src="/static/images/signature.png">
                </div>
            </div>
        </div>
        </div>




            <div class="container">
            <div class="row sales-row">
                <h1 class="sales-h1">How you'll crush your goals</h1>
            </div> 
            <div class="row" style="margin-top: 30px;">
                <div class="sales-vps col-md-4">
                    <image src="/static/images/background.png" style="width: 100%">
                    <p style="text-align: center;">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                </div>
                <div class="sales-vps col-md-4">
                    <image src="/static/images/background.png" style="width: 100%">
                    <p style="text-align: center;">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                </div>
                <div class="sales-vps col-md-4">
                    <image src="/static/images/background.png" style="width: 100%">
                    <p style="text-align: center;">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                </div>
            </div>
            <div class="row sales-row">
                <div class="col-md-6 col-md-offset-3">
                <a class="obtn sales-btn">Sign up now →</a>
                </div>
            </div>


             <div class="row sales-row">
                <h1 class="sales-h1">Real testimonials</h1>
            </div> 
            <div class="row" style="margin-top: 30px;">
                <div class="row">
                    <div class="col-md-1">
                        <div style="">
                            <div style="margin: 0 auto;">
                            <i class="quotemark icon-quote-left icon-3x pull-left icon-border" ></i>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial col-md-3">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                    </div>
                    <div class="col-md-1">
                        <div style="">
                            <div style="margin: 0 auto;">
                            <i class="quotemark icon-quote-left icon-3x pull-left icon-border" ></i>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial col-md-3">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                    </div>

                
                
                    <div class="col-md-1">
                        <div style="">
                            <div style="margin: 0 auto;">
                            <i class="quotemark icon-quote-left icon-3x pull-left icon-border" ></i>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial col-md-3">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                    </div>
                    

                </div>
            </div>
        </div>

           <div class="sales-black-box">
            <div class="container">

            <div class="row sales-row">
                <div class="col-md-12" style="">
                    <h1 class="sales-h1">Fitness is a tough journey. Don't go it alone.</h1>
                    <div class="row sales-row">
                        <div class="col-md-6">
                        <p style="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                        </p>
                        </div>
                        <div class="col-md-6 lighter-box">
                            <div style="margin-right: 1px solid white; text-align: center; width: 40%; float: left;">
                                <h3 class="price-label">Program Cost</h3>
                                <br />
                                <h1 class="price">$200</h1> 
                            </div>
                            <div class="black-box-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            </div>
                        </div>
                        </div>
                        <div class="row sales-row">
                            <div class="col-md-6 col-md-offset-3">
                                <a class="obtn sales-btn">Sign up now →</a>
                            </div>
                        </div>
                    
                </div>
                  
            </div>

        </div>

        </div>
    </div>
{% endblock %}