{% extends "base.html" %}

{% block header_content %}
<div class="row">
    <div class="col-md-12" id="header">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">

                    <a class="brand" href="/" id="logo"><img src="{{ STATIC_URL }}images/logo.png" /></a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    {% block above_content %}{% endblock %}
    <div id="main-content-container">
        <div class="container" >
            <div class="sales-hero container">
                <div class="row" >
                    <div class="col-md-6">
                        <iframe style="display: block;" width="100%" height="360px" src="http://player.vimeo.com/video/67519758" frameborder="0" allowfullscreen></iframe>

                    </div>
                    <div class="col-md-6">
                        <h1>Sign up for Matt's Muscle Plan</h1>
                        <p>Sick of messing around at the gym and not getting the results you want? 
                        </p>
                        <p>Matt can help. For less than the cost of a few personal training sessions, you can get a proven plan and online coaching from Matt. With Matt's awesome workouts and personalized diet goals built-in, it's hard <b>not</b> to crush your fitness goals.
                        </p>
                        <a class="obtn signup-btn" style="height: auto; padding: 15px;" href="/blitz/88512/matt-perryman/signup" >Sign up now→</a>
                    </div>
                </div>
            </div>



        </div>


            <div class="grey-sales-row">
                <div class="container">
            
            <div class="row sales-row">
                <div class="col-md-3">
                    <image class="trainer-pic" src="/static/images/matt.jpg">
                </div>
                <div class="col-md-7 trainer-note">
                    <h2>A note from Matt Perryman</h2>
                    <p>I’m big on science. I like knowing how things work, whether that’s a microprocessor, a black hole, cellular automata, living cells or your body-as-a-whole. In that sense, I like knowing how dietary and exercise strategies affect our bodies as biological systems.
                    </p>
                    <p>Fitness is about being informed, and it is about how you use your knowledge. It’s about pragmatism and understanding that some things are more important than raw efficiency, or chasing perfection, or lifting more weight, or being leaner.

                    <p>My approach to nutrition and training might strike you as deceptively simple, but it does us no good to rely on an ever-larger magnifying glass in hopes of discovering new insights. The details do not predict the outcome.<p>

                    <p>I focus on the bare minimum of useful, applicable tools that lead to success and try to ignore everything else.</p>

                    <p>Or, as Franco Columbu once said, “if it works, it works”.
                    </p>
                    <image src="/static/images/matt-signature.png">
                </div>
            </div>
        </div>
        </div>




            <div class="container">
            <div class="row sales-row">
                <h1 class="sales-h1">What You'll Get</h1>
            </div> 
            <div class="row" style="margin-top: 30px;">
                <div class="sales-vps col-md-4">
                    <image src="/static/images/vp1.png" style="width: 100%">
                   
                     <h3>A battle-tested program</h3>
                    <p>Matt's vast experience and science-based advice make it easy to get lean and ripped.
                    </p>
                </div>
                <div class="sales-vps col-md-4">
                    <image src="/static/images/vp2.png" style="width: 100%">

                    <h3>Awesome workout buddies</h3>
                    <p>Getting trained with a group means you save money and get friends to motivate you.
                    </p>
                </div>
                <div class="sales-vps col-md-4">
                    <image src="/static/images/vp3.png" style="width: 100%">
                
                    <h3>Easy tracking, easy results</h3>
                    <p>It takes seconds to log diet and minutes to log workouts from any phone or computer.
                    </p>
                </div>
            </div>
            <div class="row sales-row">
                <div class="col-md-6 offset3">
                <a class="obtn sales-btn" href="/blitz/88512/matt-perryman/signup">Sign up now →</a>
                </div>
            </div>


             <div class="row sales-row" style=" display: none;">
                <h1 class="sales-h1">Real testimonials</h1>
            </div> 
            <div class="row" style="margin-top: 30px; display: none;">
                
                    <div class="col-md-1">
                        <i class="quotemark icon-quote-left icon-3x pull-left icon-border"></i>
                    </div>
                    <div class="testimonial col-md-3">
                        "You have made so many positive changes in my diet and training routine--you were so well worth the  investment. I have learned SO MUCH from you!"
                        <br />-- Kate G. 
                    </div>
                    <div class="col-md-1">
                        <i class="quotemark icon-quote-left icon-3x pull-left icon-border"></i> 
                    </div>
                    <div class="testimonial col-md-3">
                        "I am still loving this process. Eating more and gaining strength. I so look forward to training days. Cant wait to  get in the gym." 
                        <br />-- Jennifer A. 
                    </div>

                
                
                    <div class="col-md-1">
                        <i class="quotemark icon-quote-left icon-3x pull-left icon-border"></i>
                    </div>
                    <div class="testimonial col-md-3">
                        "Inches are down and I can't count how many compliments I've received so we must be doing something right!"  
                        <br />-- Ashleigh-jo W.  
                    </div>
                    

                
            </div>
        </div>

           <div class="sales-black-box">
            <div class="container">

            <div class="row sales-row">
                <div class="col-md-12" style="padding-left: 20px;
  padding-right: 20px;">
                    <h1 class="sales-h1">Fitness is a tough journey. Don't go it alone.</h1>
                    <div class="row sales-row">
                        <div class="col-md-6">
                        <p style="">
                            Don't spend hours at the gym doing random workouts or switching between programs without getting anywhere.
                        </p>
                        <p>Take advantage of an awesome deal with an amazing trainer and get the results you deserve. With a proven plan and unlimited access to Matt, it's never been easier to get the body you want.
                        </p>
                        </div>
                        <div class="col-md-6 lighter-box">
                            <div class="inner-lighter-box">
                                <div class="inner-half-1">
                                    <h3 class="price-label">Program Cost</h3>
                                    <br />
                                    <h1 class="price">$500</h1> 
                                </div>
                                 <div class="inner-half-2">
                                    <h3 class="price-label">Program Length</h3>
                                    <br />
                                    <div class="inner-last">
                                        <h1 class="price">12</h1>
                                            Weeks

                                    </div>
                                </div>
                            </div>
                            <div class="black-box-text">
                                That's just $10 per workout for expert coaching and constant feedback on your lifting and diet progress from Matt. In 12 weeks, you won't recognize yourself.
                            </div>
                        </div>
                        </div>
                        <div class="row sales-row">
                            <div class="col-md-6 offset3">
                                <a class="obtn sales-btn" href="/blitz/88512/matt-perryman/signup" >Sign up now→</a>
                            </div>
                        </div>
                    
                </div>
                  
            </div>

        </div>

        </div>
    </div>
{% endblock %}