{% extends "base.html" %}

{% block header_content %}
<div class="row">
    <div class="span12" id="header">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">

                    <a class="brand" href="/" id="logo"><img src="{{ STATIC_URL }}images/logo.png" /></a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
 
{% block content %}
    {% block above_content %}{% endblock %}
    <div id="main-content-container">
        <div class="container" >
            <div class="sales-hero container">
                <div class="row" >
                    <div class="span6">
                        <iframe style="display: block;" width="100%" height="360px" src="http://player.vimeo.com/video/71546353" frameborder="0" allowfullscreen></iframe>
                        <//img src="/static/images/jc-video-still.png">
                    </div>
                    <div class="span6">
                        <h1>Join the 12 week Assault on Mount Sexy with Rog Law</h1>
                        <p>Sharpen your sword, don your armor, ready your mighty steed and prepare to embark on the sexiest adventure of a lifetime. Don't have any of the above gear? That's cool, just make sure to stay close as I help guide you through the fat loss pitfalls that stand between you and a new, improved (and markedly sexier) physique.
                        </p>
                        <p>Fat will be slain, muscle tone shall be revealed, and fun will be had – all without losing your mind in the process.
                        </p>
                        <a class="obtn signup-btn" style="height: auto; padding: 15px;" href="{% url "blitz_signup" blitz.urlkey blitz.url_slug %}" >Sign up now→</a>
                    </div>
                </div>
            </div>
        </div>

            <div class="grey-sales-row">
                <div class="container">
            
            <div class="row sales-row">
                <div class="span3">
                    <image class="trainer-pic" src="/static/images/rog.png">
                </div>
                <div class="span7 trainer-note">
                    <h2>A note from Rog Law</h2>
                    <p>Stuck spinning your wheels in the proverbial mud? I've been there.</p>

                    <p>Confused by the whirlwind of dogma, myths and fitness misinformation? Yep, I've been there, too.</p>

                    <p>By fighting my way through the numerous mental and physical ups and downs, I've not only been able to transform my own physique and mental landscape when it comes to fitness, but also use those lessons to help hundreds of my clients do the same.</p>

                    <p>Your time is valuable. Instead of taking longer than necessary to achieve your goals, I'm looking forward to working with you and teaching you how to get cut the fat in a simple, effective way that allows you to use fitness as a tool to enhance your life for the better.
                    </p>
                    <image src="/static/images/rog-signature.png">
                </div>
            </div>
        </div>
        </div>




            <div class="container">
            <div class="row sales-row">
                <h1 class="sales-h1">What You'll Get</h1>
            </div> 
            <div class="row" style="margin-top: 30px;">
                <div class="sales-vps span4">
                    <image src="/static/images/vp1.png" style="width: 100%">
                    <h3>A battle-tested program</h3>
                    <p>A training program designed to give you the biggest bang without investing a ton of time. Get in, get out and get on with your life's important matters.
                    </p>
                </div>
                <div class="sales-vps span4">
                    <image src="/static/images/vp2.png" style="width: 100%">
                    <h3>Unparalleled support</h3>
                    <p>Direct guidance, feedback and support from me, answering any questions or concerns that you have along the way with the speed of a unicorn attached to a rocket ship. High fives will be given out at regular intervals.
                    </p>
                </div>
                <div class="sales-vps span4">
                    <image src="/static/images/vp3.png" style="width: 100%">
                    <h3>Easy tracking, easy results</h3>
                    <p>Calorie and macro nutrient numbers tailored specifically to your lifestyle and goals. No more guesswork – I handle the technical side of things and you focus on the day-to-day execution.
                    </p>
                </div>
            </div>
            <div class="row sales-row">
                <div class="span6 offset3">
                <a class="obtn sales-btn" href="{% url "blitz_signup" blitz.urlkey blitz.url_slug %}">Sign up now →</a>
                </div>
            </div>


            <div class="row sales-row">
                <h1 class="sales-h1">Real testimonials</h1>
            </div> 
            <div class="row" style="margin-top: 30px;">
                
                    <div class="span1">
                        <i class="quotemark icon-quote-left icon-3x pull-left icon-border"></i>
                    </div>
                    <div class="testimonial span3">
                        "Rog took all of the guesswork out of nutrition and training for me, allowing me to enjoy working out again and not stress about the small details. I guarantee that if you listen to what Rog has to say and follow his guidelines, you will not be disappointed.""
                        <br />-- Aaron Sanchez
                    </div>
                    <div class="span1">
                        <i class="quotemark icon-quote-left icon-3x pull-left icon-border"></i> 
                    </div>
                    <div class="testimonial span3">
                        "I lost 18lbs my first month. My second month, I lost another 10. At month five I was down to 211lbs , a total of 39lbs in five months, resulting in my doctor taking me off my cholesterol and blood pressure medication. I believe in Rog Law's training methods - he literally helped change and save my life." 
                        <br />-- Stephen McGee 
                    </div>
                    <div class="span1">
                        <i class="quotemark icon-quote-left icon-3x pull-left icon-border"></i>
                    </div>
                    <div class="testimonial span3">
                        "Rog is knowledgeable, motivating, accessible, positive and he really listens to what you want. He makes things easy to adhere to; guiding, prodding and pulling you back at the right moments. With good programming, I am currently sitting at a 2.7x bodyweight dead-lift, a 2.2x bodyweight squat and a 1.4x bodyweight bench while getting leaner and staying injury free."  
                        <br />-- Dr. Michael Chan 
                    </div>
                    

                
            </div>
            </div>
        </div>

           <div class="sales-black-box">
            <div class="container">

            <div class="row sales-row">
                <div class="span12" style="padding-left: 20px;
  padding-right: 20px;">
                    <h1 class="sales-h1">Fitness is a tough journey. Don't go it alone.</h1>
                    <div class="row sales-row">
                        <div class="span6">
                        <p style="">
                            Don't spend hours at the gym doing random workouts or switching between programs without getting anywhere.
                        </p>
                        <p>Take advantage of an awesome deal with an amazing trainer and get the results you deserve. With a proven plan and unlimited access to Rog, it's never been easier to get the body you want.
                        </p>
                        </div>
                        <div class="span6 lighter-box">
                            <div class="inner-lighter-box">
                                <div class="inner-half-1">
                                    <h3 class="price-label">Program Cost</h3>
                                    <br />
                                    <h1 class="price">$300</h1>
                                </div>
                                 <div class="inner-half-2">
                                    <h3 class="price-label">Program Length</h3>
                                    <br />
                                    <div class="inner-last">
                                        <h1 class="price">12</h1>
                                            Weeks

                                    </div>
                                </div>
                            </div>
                            <div class="black-box-text">
                                That's just $11 per workout for expert coaching and constant feedback on your lifting and diet progress from Rog. In 12 weeks, you won't recognize yourself.
                            </div>
                        </div>
                        </div>
                        <div class="row sales-row">
                            <div class="span6 offset3">
                                <a class="obtn sales-btn" href="{% url "blitz_signup" blitz.urlkey blitz.url_slug %}">Sign up now→</a>
                            </div>
                        </div>
                    
                </div>
                  
            </div>

        </div>

        </div>
    </div>
{% endblock %}