{% extends "base.html" %}

{% block header_content %}
<div class="row">
    <div class="col-md-12" id="header">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">

                    <a class="brand" href="/" id="logo"><img src="{{ STATIC_URL }}images/logo.png" /></a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    {% block above_content %}{% endblock %}
    <div id="main-content-container">
        <div class="container" >
            <div class="sales-hero container">
                <div class="row" >
                    <div class="col-md-6">
                        <iframe width="100%" height="360px" src="http://www.youtube.com/embed/JHiKDa4ip_Q" frameborder="0" allowfullscreen></iframe>

                    </div>
                    <div class="col-md-6">
                        <h1>Sign up for Group Coaching with SoheeFit</h1>
                        <p>Sick of messing around at the gym and not getting the results you want? 
                        </p>
                        <p>Sohee can help. For less than the cost of a few personal training sessions, you can get a proven plan and online coaching from Sohee. With Sohee's awesome workouts and personalized diet goals built-in, it's hard <b>not</b> to crush your fitness goals.
                        </p>
                        <a class="obtn signup-btn" style="height: auto; padding: 15px;">Sign up now→</a>
                    </div>
                </div>
            </div>



        </div>


            <div class="grey-sales-row">
                <div class="container">
            
            <div class="row sales-row">
                <div class="col-md-3">
                    <image class="trainer-pic" src="/static/images/sohee.jpg">
                </div>
                <div class="col-md-7 trainer-note">
                    <h2>A note from Sohee Lee</h2>
                    <p>Hey, pretty lady! If you’re anything like me, you like to lift heavy things and eat right – but you love doing it in the company of other fit chicks. The problem is that chicks like us are hard to come by, as evidenced by the four years I spent in college lifting all. by. myself. It was a lonely time for sure, but that’s why the Internet is so great. Jump on the SoheeFit wagon for these next 8 weeks as we work together as a group of like-minded women of iron and fit ourselves into that itty bitty bikini we have patiently waiting for us in our closets. 
                    </p>
                    <image src="/static/images/sohee-signature.jpg">
                </div>
            </div>
        </div>
        </div>




            <div class="container">
            <div class="row sales-row">
                <h1 class="sales-h1">What You'll Get</h1>
            </div> 
            <div class="row" style="margin-top: 30px;">
                <div class="sales-vps col-md-4">
                    <image src="/static/images/vp1.png" style="width: 100%">
                     <h3>A battle-tested program</h3>
                    <p>Sohee's vast experience and science-based advice make it easy to get lean and ripped.
                    </p>
                </div>
                <div class="sales-vps col-md-4">
                    <image src="/static/images/vp2.png" style="width: 100%">
                    <h3>Awesome workout buddies</h3>
                    <p>You'll make newfound friendships with other like-minded women to support you.
                    </p>
                </div>
                <div class="sales-vps col-md-4">
                    <image src="/static/images/vp3.png" style="width: 100%">
                    <h3>Easy tracking, easy results</h3>
                    <p>It takes seconds to log diet and minutes to log workouts from any phone or computer.
                    </p>
                </div>
            </div>
            <div class="row sales-row">
                <div class="col-md-6 col-md-offset-3">
                <a class="obtn sales-btn">Sign up now →</a>
                </div>
            </div>


             <div class="row sales-row">
                <h1 class="sales-h1">Real testimonials</h1>
            </div> 
            <div class="row" style="margin-top: 30px;">
                
                    <div class="col-md-1">
                        <i class="quotemark icon-quote-left icon-3x pull-left icon-border"></i>
                    </div>
                    <div class="testimonial col-md-3">
                        "I am not exaggerating when I say that having Sohee as my trainer has been life changing. I had so many rules around food and “clean eating” that I was trapped in a vicious feast or famine cycle. [...] Sohee gets it. She’s pragmatic, efficient, she cares and she gets results. Thanks Sohee and I think the next 12 weeks will be even better!!" 
                    </div>
                    <div class="col-md-1">
                        <i class="quotemark icon-quote-left icon-3x pull-left icon-border"></i> 
                    </div>
                    <div class="testimonial col-md-3">
                        "Before I met Sohee I exercised an hour a day and saw almost no change in my physique or physical ability. Yet, in just two months, I’ve seen vast improvements in my strength. More importantly, the diet and training guidelines that Sohee gave me are such that I will be able to follow them regardless of what time restraints and challenges life might throw at me. I cannot recommend Sohee highly enough – she is incredibly knowledgable and supportive, and she gets results.”
                    </div>

                
                
                    <div class="col-md-1">
                        <i class="quotemark icon-quote-left icon-3x pull-left icon-border"></i>
                    </div>
                    <div class="testimonial col-md-3">
                        "A lot of people spend a ton of time looking for a trainer that fits. I was lucky to find the perfect nutrition coach on the first try. I’m down 9lb so far in just over a month, I never thought I could lose weight but here I am almost 10lb lighter. Sohee listened to the things I wanted, and implemented it. I eat bacon and eggs for breakfast every day, and candy post-work out. It doesn’t get much better than that."
                    </div>
                    

                
            </div>
        </div>

           <div class="sales-black-box">
            <div class="container">

            <div class="row sales-row">
                <div class="col-md-12" style="padding-left: 20px;
  padding-right: 20px;">
                    <h1 class="sales-h1">Fitness is a tough journey. Don't go it alone.</h1>
                    <div class="row sales-row">
                        <div class="col-md-6">
                        <p style="">
                            Don't spend hours at the gym doing random workouts or switching between programs without getting anywhere.
                        </p>
                        <p>Take advantage of an awesome deal with an amazing trainer and get the results you deserve. With a proven plan and unlimited access to Sohee, it's never been easier to get the body you want.
                        </p>
                        </div>
                        <div class="col-md-6 lighter-box">
                            <div class="inner-lighter-box">
                                <div class="inner-half-1">
                                    <h3 class="price-label">Program Cost</h3>
                                    <br />
                                    <h1 class="price">$200</h1> 
                                </div>
                                 <div class="inner-half-2">
                                    <h3 class="price-label">Program Length</h3>
                                    <br />
                                    <div class="inner-last">
                                        <h1 class="price">12</h1>
                                            Weeks

                                    </div>
                                </div>
                            </div>
                            <div class="black-box-text">
                                That's just $25 a week for expert coaching and constant feedback on your lifting and diet progress from Sohee. In 8 weeks, you won't recognize yourself.
                            </div>
                        </div>
                        </div>
                        <div class="row sales-row">
                            <div class="col-md-6 col-md-offset-3">
                                <a class="obtn sales-btn">Sign up now→</a>
                            </div>
                        </div>
                    
                </div>
                  
            </div>

        </div>

        </div>
    </div>
{% endblock %}