{% extends "formpage.html" %}

{% block formpage_content %}


<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="formpage-block">
            <div class="header">Set up your profile</div>
                <div class="info-text" style="margin-bottom: 20px;">
                    {% if reset %}
                    Reset your information
                    {% else %}
                    Let's get to know each other a bit better. Your trainer will use this info to calibrate your plan.
                    {% endif %}
                </div> 
            <div class="content" >
                <form class="formpage-block-form" action="#" method="post" name="setupForm" id="setupForm">
                    {% csrf_token %}
                    <div class="gender-container">
                        <div class="before-radio">Gender:</div>
                        {% if form.gender.errors %}<div class="form-error">{{ form.gender.errors.0 }}</div>{% endif %}
                        <input type="radio" id="1" name="gender" value="M" {% if form.gender.value == 'M' %}checked{% endif %} />
                            <label for="1" class="radio" style="margin-right: 2%;" >
                                Male
                            </label>
                        <input type="radio" id="2" name="gender" value="F" {% if form.gender.value == 'F' %}checked{% endif %} />
                            <label for="2" class="radio">
                                 Female
                            </label>
                    </div>
                    <div class="input-container">
                        {% if form.age.errors %}<div class="form-error">{{ form.age.errors.0 }}</div>{% endif %}
                        <input type="text" name="age" placeholder="Age" {% if form.age.value %}value="{{ form.age.value }}"{% endif %} />
                    </div>
                    <div class="gender-container" style="margin-top: 10px;">
                        <div class="before-radio">Units:</div>
                        {% if form.units.errors %}<div class="form-error">{{ form.units.errors.0 }}</div>{% endif %}
                        <input type="radio" id="3" name="units" value="I" checked/>
                            <label for="3" class="radio" style="margin-right: 2%;">
                                 Imperial (lbs, ft)
                            </label>
                        <input type="radio" id="4" name="units" value="M"/>
                            <label for="4" class="radio">
                                 Metric (kg, cm)
                            </label>
                    </div>
                    <div class="input-container">
                        {% if form.weight.errors %}<div class="form-error">{{ form.weight.errors.0 }}</div>{% endif %}
                        <input type="text" name="weight" placeholder="Weight (lbs)" {% if form.weight.value %}value="{{ form.weight.value }}"{% endif %} />
                    </div>
                    <div style="width: 100%;">
                        <div style="width: 48%; float: left;">
                            <div class="input-container">
                                {% if form.height_feet.errors %}<div class="form-error">{{ form.height_feet.errors.0 }}</div>{% endif %}
                                <input type="text" name="height_feet" placeholder="Height (ft)" {% if form.height_feet.value %}value="{{ form.height_feet.value }}"{% endif %}/>
                            </div>
                        </div>
                        <div style="width: 48%; float: left; margin-left: 4%; margin-bottom: 10px;">
                            <div class="input-container">
                                {% if form.height_inches.errors %}<div class="form-error">{{ form.height_inches.errors.0 }}</div>{% endif %}
                                <input type="text" name="height_inches" placeholder="Height (in)" {% if form.height_inches.value %}value="{{ form.height_inches.value }}"{% endif %}/>
                            </div>
                        </div>
                    </div>
                    <div class="submit-container">
                        <button href="/set-up-profile" class="obtn full-width">Continue →</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() { } );

var rad = document.setupForm.units;
var prev = null;
for(var i = 0; i < rad.length; i++) {
    rad[i].onclick = function() { 
        if (this.value == "M") {
            document.getElementsByName('height_feet')[0].placeholder='Height (m)';
            document.getElementsByName('height_inches')[0].placeholder='Height (cm)';
            document.getElementsByName('weight')[0].placeholder='Weight (kg)';
            }
        else {
            document.getElementsByName('height_feet')[0].placeholder='Height (ft)';
            document.getElementsByName('height_inches')[0].placeholder='Height (in)';
            document.getElementsByName('weight')[0].placeholder='Weight (lbs)';
        } 
    };
}
</script>

</script>
{% endblock %}

