{% extends "base.html" %}

{% block body_extras %}class="login-page"{% endblock %}

{% block outer_content %}

<style type="text/css">
	.container {
		text-align: center !important;
		color: white !important;
		list-style: none;
		margin-top: 10%;
	}
	.container a {
		color: cornflower-blue !important;

	}

	.blitz-login, img {
		/*  */padding: 0 important!;
		margin-bottom: 30px;
	}

	.header ul {
		list-style-type: none;
		margin-top: 20px;
	}

	tr:nth-of-type(odd) {
	background-color: rgba(255,255,255,0.15) !important;
	}

	tr {
		height: 50px;
	}

</style>

<div class="container">
    <div class="row">
        <div class="span8 offset2">
            <div class="xblitz-login" style="margin-top: 20% important!;">
                <img src="{{ STATIC_URL }}images/logo-w.png" />
            </div>
                            {% block main %}
				{% endblock %}
        </div>
    </div>
    
</div>
{% endblock outer_content %}



