{% extends "helper_base.html" %}

{% block main %}

<header>These are Blitz helper functions.
<ul style="display: none;">
<li><a href="{% url "helper_index" %}">Home</a></li>
<li><a href="{% url "helper_usage" %}">Daily usage digest</a></li>
<li><a href="{% url "helper_uploads" %}">Stuff Trainers have Uploaded</a></li>
<li><a href="{% url "helper_program_upload" %}">Upload new Trainer program</a></li>
<li><a href="{% url "helper_pending_trainers" %}">Show pending Trainers and Plans</a></li>
<li><a href="{% url "helper_status_trainers" %}">Trainers, Blitzes and WorkoutPlans</a></li>
<li><a href="{% url "helper_blitz_sales_pages" %}">Sales pages for blitzes</a></li>
<li><a href="{% url "helper_workouts" %}">Exercises and workout-sets</a></li>

</ul>
</header>

{% endblock %}

