{% extends "helper_base.html" %}

{% block main %}

<header>Here are the blitz sales pages</header>
<style>
      tr:nth-of-type(odd) {
      background-color:#D8F1D7;
    }
</style>
<table>

{% for content in pending %}
<tr>
    {% for element in content %}
      {% if forloop.first %}
        <td>id:<a href="program_sales_page?plan={{ element }}"><b>{{ element }}</b></a></td>
      {% else %}
        <td>{{ element }}</td>
      {% endif %}
    {% endfor %}
</tr>
{% endfor %}
</table>
{% if errors %}
    <ul>
    {% for e in errors %}
        <li>{{ e }}</li>
    {% endfor %}
    </ul>
{% endif %}

<br>
<a href="{% url "helper_index" %}">Helper Home</a>

{% endblock %}

