{% extends "helper_base.html" %}

{% block main %}
<header> Program upload results</header>
<div class="span8">

{% if ready %}
Program <b>{{ filename }}</b> loaded and tested successfully.
<ul>
{% for l in log %}
    <li>{{ l }}</li>
{% endfor %}
</ul>
<div class="content">
    <form enctype="multipart/form-data" action="program_create?filename={{ filename }}" method="post" name="program_create" class="formpage-block-form">{% csrf_token %}

        <select name="trainer_id" id="trainer_id">
        {% for trainer in trainers %}
            <option value="{{trainer.id}}">
            {{trainer.name}}</option>
        {% endfor %}
        </select>
        Program name: {{ form.program_name }} <br><br>
    <div class="submit-container">
        <button class='obtn full-width' type='submit'>Create Program</button>{% csrf_token %}
    </div>
</form>
</div>

{% else %}
Program loaded with errors
<ul>
{% for e in errors %}
    <li>{{ e }}</li>
{% endfor %}
</ul>
{% endif %}
</div>


{% endblock %}
