{% extends "helper_base.html" %}

{% block main %}
<header> Upload a program.xls with 3 sheets as in this 
<a href="{% url "helper_download" %}?file=sample_program.xls&dir=/programs/">example</a>
</header>
<div class="span8">

        <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table><br>

         <div class="submit-container">
             <button class='obtn obtn-half' type='submit'>Upload</button>
         </div>
        </form>

</div>

{{ results }} 

<a href="{% url "helper_index" %}">Helper Home</a>
{% endblock %}
